<div class="varejista-inner">
    <div ng-hide="sentForm">
        <h1>Lojas</h1>
        <p>Dashboard / <a href="#">lojas</a></p>
        <div class="sub-content clearfix">
            <h2>Lista de lojas criadas</h2>
            <p>Insira as informacoes de sua loja como local, nome da promocao.</p>
            <div class="recompensas lojas">
                <div class="rcp-table">
                    <table class="varejistable">
                        <thead>
                        <tr class="titles">
                            <th class="rw-10"></th>
                            <th class="rw-25 rwp-10 text-left">Lista de lojas</th>
                            <th class="rw-55 rwp-10 hide-mobile">Descricao</th>
                            <th class="rw-10 rwp-10 hide-mobile"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="store in stores" ng-controller="storeCtrl">
                            <td class="rwtd">
                                <div class="rewardbtns">
                                    <button value="Edit" ng-click="loadboxes(store)">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                    <button value="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </div>
                            </td>
                            <td class="rwp-20">
                                <p class="hide-mini">
                                    <form style="display: flex; align-items: center; margin: 0">
                                        <label style="margin: 0 0 0 5px">{{store.storeName}}</label>
                                    </form>
                                </p>
                            </td>
                            <td class="hide-mobile rwp-20">
                                <p ng-hide="isUndefined(store.description)">{{store.description}}</p>
                                <p ng-show="isUndefined(store.description)">No description available...</p>
                            </td>
                            <td class="rwp-20"><div class="btn btn-blue" ng-click="goToCheckout()">
                                <span style="margin-right: 10px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                                </span>IR PARA LOJA</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="rcp-add clearfix" style="margin-top: 40px">
                    <h2>Adicionar Loja</h2>
                    <p>Possui uma nova loja? Adicione as informacoes aqui para habilitar um novo caixa.</p>
                    <form ng-hide="rewards.length > 5" name="storeRegistration" class="reward-info">
                        <div class="fgroup group-hw">
                            <label for="titulo">Nome da Loja*</label>
                            <input placeholder="Insira o titulo"
                                   id="titulo" type="text"
                                   ng-model="editableStore.storeName"
                                   required/>
                        </div>
                        <div class="fgroup group-hw" style="clear:none;">
                            <label for="pontos">Telefone*</label>
                            <input id="pontos" type="text"
                                   ng-model="editableStore.phone"
                                   ui-mask="(99)9999-99999"
                                   required/>
                        </div>
                        <div class="fgroup group-fw" style="clear:none;">
                            <label for="pontos">Descricao da promocao*</label>
                            <input id="pontos" type="text"
                                   placeholder="Insira a promocao"
                                   ng-model="editableStore.description"
                                   required/>
                        </div>
                        <div class="fgroup group-hw">
                            <label for="titulo">Administrador*</label>
                            <select
                                ng-model="chosenManager"
                                ng-options="manager.name for manager in managers"
                                style="color:black;"
                            >
                            </select>
                        </div>
                        <div class="fgroup group-hw" style="clear:none;">
                            <label for="pontos">CNPJ*</label>
                            <input id="cnpj" type="text"
                                   name="cnpj"
                                   ng-model="editableStore.cnpj"
                                   ui-mask="99.999.999/9999-99"
                                   ui-br-cnpj-mask
                                   required/>
                                <p ng-show="cnpjError" style="color:red; margin-top:10px;">{{message}}</p>
                        </div>
                        <div class="fgroup group-fw" style="clear:none;" ng-controller="googleMaps">
                            <label for="pontos">Endereco*</label>
                            <input name="place"
                                   type="text"
                                   ng-model="editableStore.address.address"
                                   required
                                   googleplace/>
                        </div>
                        <div class="fgroup group-fw" style="clear:none;">
                            <div class="map">
                                <ng-map zoom="12"
                                        center="{{position}}"
                                        style="height:300px"
                                        defualt-style="false">
                                    <custom-marker position="{{position}}">
                                        <div>
                                            <img src="assets/images/marker.png"
                                                 alt="QP" width="60px"/>
                                        </div>
                                    </custom-marker>
                                </ng-map>
                            </div>
                        </div>
                        <!--<div class="fgroup group-fw">-->
                        <!--<label for="descricao">Descricao da promocao*</label>-->
                        <!--<input placeholder="Insira uma descricao curta da promocao" id="descricao" type="email" ng-value="editRetailer.email" />-->
                        <!--</div>-->
                        <div style="display: flex; align-content: space-between;">
                            <div class="fgroup group-fw">
                                <button class="btn btn-gray" ng-click="clean()">CANCELAR</button>
                            </div>
                            <div class="fgroup group-fw">
                                <button class="btn btn-greenalt" ng-click="save(storeRegistration.cnpj.$error)">SALVAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
