<div>
    <div class="profile-retailer">
        <form name="profileInfoForm" class="profile-info" ng-submit="saveRetailer(profileInfoForm)">

            <div translate="PERSONAL_INFO"></div>

            <div ng-class="{'has-error': isShowErrorsRetailer(profileInfoForm, 'name')}">

                <span translate="NAME"></span>

                <div class="span-error" ng-messages="profileInfoForm.name.$error"
                     ng-show="isShowErrorsRetailer(profileInfoForm, 'name')">

                    <label ng-message="required" translate="REQUIRED_FIELD"></label>
                    <label ng-message="minlength" translate="IS_TOO_SHORT"></label>
                    <label ng-message="maxlength" translate="IS_TOO_LONG"></label>
                </div>
                <input type="text" class="text" name="name" ng-model="editRetailer.name" ng-required="true"
                       ng-minlength="3" ng-maxlength="30">
            </div>

            <div ng-class="{'has-error': isShowErrorsRetailer(profileInfoForm, 'manager')}"
                 class="manager-edit" clear-typeahead>

                <span translate="MANAGER"></span>

                <div class="span-error" ng-messages="profileInfoForm.manager.$error"
                     ng-show="isShowErrorsRetailer(profileInfoForm, 'manager')">
                    <label ng-message="required" translate="REQUIRED_MANAGER"></label>
                    <label ng-message="incorrect" translate="INCORRECT_MANAGER"></label>
                </div>

                <input type="text" ng-model="managerName" typeahead-show-on-focus
                       typeahead-select-on-exact="true" typeahead-on-select="selectManager($item)"
                       uib-typeahead="manager.name as manager.name for manager in managers | filter:{name:$viewValue}"
                       typeahead-min-length="0" typeahead-append-to-body="true"
                       typeahead-template-url="app/common/templates/typeahead-match.tpl.html">

                <a clear-typeahead-icon class="del-store" ng-click="clearManager()">
                    <i class="fa fa-trash"></i>
                </a>

                <input type="hidden" ng-model="editRetailer.manager" name="manager" ng-required="true">
            </div>

            <div ng-class="{'has-error': isShowErrorsRetailer(profileInfoForm, 'email')}">

                <span translate="EMAIL"></span>

                <div class="span-error" ng-messages="profileInfoForm.email.$error"
                     ng-show="isShowErrorsRetailer(profileInfoForm, 'email')">
                    <label ng-message="required" translate="REQUIRED_FIELD"></label>
                    <label ng-message="pattern" translate="IS_INVALID"></label>
                </div>
                <input type="email" class="text" name="email" ng-model="editRetailer.email"
                       ng-pattern="emailPattern" ng-required="true">
            </div>

            <div>
                <input type="submit" class="btn btn-success" value="Save"
                       ng-disabled="disabledSaveRetailer || (profileInfoForm.$invalid && tryToSaveRetailer)">
            </div>

        </form>

        <div class="reset-password">
            <a href="javascript:void(0)" ng-click="changeCollapse(passForm)" translate="RESET_PASSWORD"></a>

            <div uib-collapse="isCollapsed.value">
                <form name="passForm" ng-submit="setNewPassword(passForm)">

                    <div ng-class="{'has-error': isShowErrorsPass(passForm, 'password')}">

                        <span translate="PASSWORD"></span>

                        <div class="span-error" ng-messages="passForm.password.$error"
                             ng-show="isShowErrorsPass(passForm, 'password')">
                            <label ng-message="required" translate="REQUIRED_FIELD"></label>
                            <label ng-message="minlength" translate="TO_SHORT_PASSWORD"></label>
                            <label ng-message="wrongPassword" translate="WRONG_PASSWORD"></label>
                        </div>

                        <div class="password-show">
                            <input ng-model='passwords.password' type="{{ inputPassType.main }}"
                                   name='password' ng-required="true" ng-minlength="5">

                            <a ng-click="hideShowPassword('main')">

                        <span class="pass-icon" ng-hide="inputPassType.main === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>

                                <span class="pass-icon" ng-hide="inputPassType.main === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>

                            </a>
                        </div>

                    </div>

                    <div ng-class="{'has-error': isShowErrorsPass(passForm, 'newPassword')}">

                        <span translate="PASSWORD_NEW"></span>

                        <div class="span-error" ng-messages="passForm.newPassword.$error"
                             ng-show="isShowErrorsPass(passForm, 'newPassword')">
                            <label ng-message="required" translate="REQUIRED_FIELD"></label>
                            <label ng-message="minlength" translate="TO_SHORT_PASSWORD"></label>
                        </div>

                        <div class="password-show">
                            <input ng-model='passwords.newPassword' type="{{ inputPassType.new }}"
                                   name='newPassword' ng-required="true" ng-minlength="5">

                            <a ng-click="hideShowPassword('new')">

                        <span class="pass-icon" ng-hide="inputPassType.new === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>

                                <span class="pass-icon" ng-hide="inputPassType.new === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>

                            </a>
                        </div>

                    </div>

                    <div ng-class="{'has-error': isShowErrorsPass(passForm, 'confirmNewPassword')}">
                        <div>
                            <span translate="PASSWORD_NEW_CONFIRM"></span>

                            <div class="span-error" ng-messages="passForm.confirmNewPassword.$error"
                                 ng-show="isShowErrorsPass(passForm, 'confirmNewPassword')">
                                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                                <label ng-message="minlength" translate="TO_SHORT_PASSWORD"></label>
                                <label ng-message="passwordVerify" translate="FIELDS_ARE_NOT_EQUAL"></label>
                            </div>

                            <div class="password-show">
                                <input ng-model='passwords.newPasswordVerify' type="{{ inputPassType.confirmNew }}"
                                       ng-required="true" password-verify="passwords.newPassword"
                                       name="confirmNewPassword" ng-minlength="5">

                                <a ng-click="hideShowPassword('confirmNew')">

                            <span class="pass-icon" ng-hide="inputPassType.confirmNew === 'text'">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>

                                    <span class="pass-icon" ng-hide="inputPassType.confirmNew === 'password'">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>

                                </a>
                            </div>
                        </div>

                        <input type="submit" value="Set new password"
                               ng-disabled="disabledSavePass || (passForm.$invalid && tryToSavePass)">

                    </div>
                </form>
            </div>

        </div>
    </div>

    <img src="assets/images/logo.png" alt="" style="height: 200px; width: 200px">

</div>
