<div class="row" ng-cloak>
    <div class="col-md-10 col-md-offset-2">
        <div class="pontos-lista">
            <h2>Confira a lista de prêmios dos estabelecimentos próximos de você</h2>
            <p>Aqui você vai encontrar todos os prêmios disponíveis em sua região.</p>
            <table class="users">
                <thead>
                <tr>
                    <th class="row-01">COMÉRCIO</th>
                    <th class="row-02">DESCRICAO</th>
                    <th class="row-03"><th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="store in storesVisible track by $index| orderBy: 'distance'">
                        <td>
                            <img src="assets/images/logo_mapa.png">
                            <div ng-show="store.isVisited" class="location-msg">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                <span class="hide-mobile">Você esteve aqui!</span>
                            </div>
                        </td>
                        <td>
                            <strong>{{store.storeName}}</strong> | {{store.distance}} km de distância
                            <p>{{store.description}}</p>
                            <div ng-hide="store.showDetails" ng-repeat="reward in store.rewards">
                                <div class="col-xs-12" style="margin: 15px 0; position:relative;">
                                    <div class="row">
                                        <div class="tirejita">
                                            <img src="assets/images/tirejita.png" alt="">
                                        </div>
                                        <div class="detalhes clearfix" style="display:flex;border: 1px dashed #0A85D9;border-radius: 5px;padding: 15px 10px;">
                                            <div class="sotin" style="white-space: normal; padding: 0 20px;">
                                                <h3 style="font-size: 0.8rem; text-align: left;margin-top: 0;">Shopping - {{store.storeName}}</h3>
                                                <h4 style="font-size: 0.7rem;font-weight: 400;">{{reward.title}}</h4>
                                                <p style="font-size:0.5rem;">Lorem ipsum</p>
                                            </div>
                                            <div class="">
                                                <a href="" ng-click="getReward(reward, store)" ng-class="store.exchangeClass"><span style="font-weight: 400">Troque</span><strong>{{reward.points}} pontos</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="store.emptyRewards">
                                <div class="col-xs-12" style="margin: 15px 0; position:relative;">
                                    <div class="row">
                                        <div class="tirejita">
                                            <img src="assets/images/tirejita.png" alt="">
                                        </div>
                                        <div class="detalhes clearfix" style="display:flex;border: 1px dashed #0A85D9;border-radius: 5px;padding: 15px 10px;">
                                            This store has no offers yet :(
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align: top;"><button isolate class="btn btn-blue btn-01" style="white-space: normal;text-align: center; font-weight: 400; font-size: 0.6rem !important;" ng-click="click(store)">VER DETALHES <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button></td>
                    </tr>
                </tbody>
            </table>
            <center><button class="btn btn-whiteb"
                            ng-click="loadStores(storesVisible.length)"
                            ng-show="verMais">VER MAIS</button></center>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="assets/js/remodal.min.js"></script>
<!-- ng-class="desplegado ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" -->