
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>varejista</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
</head>
<body class="mapa varejista" ng-app="retailerApp" style="overflow: hidden;">
<div class="main-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 col-xs-2" style="background: #1662ab;">
                        <a href="#" class="logo">Quero Pontos</a>
                    </div>
                    <div class="col-md-9 col-xs-7 promos">
                        <a href="#/clientsGroup" class="btn btn-grayblue">Criar promoção</a>
                        <a href="#/recharge" class="btn btn-graygreen">Solicitar pontos</a>
                    </div>
                    <div class="col-xs-3 hide-big mobileh">
                        <div class="row account-header">
                            <div class="notifications">
                                <i class="noti-count">02</i>
                            </div>
                            <div class="user">
                                <div class="user-image"><img src="assets/images/profile.png" alt=""/></div>
                                <div class="user-dropdown"><a href="#/minha-conta"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hide-mobile">
                <div class="row account-header">
                    <div class="notifications">
                        <i class="noti-count">02</i>
                    </div>
                    <div class="user">
                        <div class="user-image"><img src="assets/images/profile.png" alt=""/></div>
                        <div class="user-name"><a href="#/minha-conta" ng-cloak>{{currentRetailer.name}}</a><div class="user-points" ng-cloak>{{currentRetailer.points}} points</div></div>
                        <div class="user-dropdown"><a href="#"></a></div>
                        <div class="user-header-menu" style="display: none;">
                            <ul>
                                <li class="active conta"><a href="#/minha-conta">Minha conta</a></li>
                                <li class="salir"><a href="" ng-click="logout()">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 map-content">
                <div class="row">
                    <div class="col-md-3 col-xs-2" style="top: -6px;background: #1e7cd9;">
                        <div class="varejista-menu">
                            <ul>
                                <li><a href="#"><i class="icon icon-screen"></i>Dashboard / Inicio</a></li>
                                <li><a href="#/clientsGroup"><i class="icon icon-group"></i>Clientes</a></li>
                                <li><a href="#/lojas"><i class="icon icon-cart"></i>Lojas</a></li>
                                <li><a href="#/recompensas"><i class="icon icon-thumbs"></i>Recompensas</a></li>
                                <li><a href="#/support"><i class="icon icon-wrench"></i>Suporte</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-10 bgvarejista" style="height: calc(100vh - 75px);overflow-y: scroll;">
                        <div class="row varejista-content" ui-view></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar-right retail" ng-controller="rightPanelCtrl">
                <div class="row">
                    <h2>Histórico do Pontos</h2>
                    <div class="historico" lazy-scroll ng-cloak>
                        <div class="flechita"></div>
                        <ul>
                            <li ng-show="!activities || activities.length < 1">
                                <div>You have an empty history, recharge points now!</div>
                            </li>
                            <li ng-repeat="activity in activities">
                                <h4>Shopping - {{storesNames[activity.store]}}</h4>
                                <div class="hist-info date">{{activity.createdAt | date:'dd/MM/yyyy h:mma'}}</div>
                                <div ng-class="{ 'hist-info acumulados': activity.type === 'Acumulados',
                                             'hist-info trocados': activity.type === 'Troncados' }">
                                    {{activity.points}} {{activity.type}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- build:js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="bower_components/angular-sweetalert/SweetAlert.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/extras.angular.plus/ngplus-overlay.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/br-validations/releases/br-validations.min.js"></script>
<script src="bower_components/string-mask/src/string-mask.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/br-masks/releases/br-masks.js"></script>
<script src="bower_components/angular-br-filters/release/angular-br-filters.js"></script>
<script src="bower_components/clipboard/dist/clipboard.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></script>
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/angular-ui-mask/src/mask.js"></script>
<script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:angular -->
<script src="app/app.js"></script>

<!--build:vendors-->
<script src="app/vendors/md5.min.vendor.js"></script>

<!--build:controllers-->
<script src="app/controllers/right_panel.ctrl.js"></script>
<script src="app/controllers/recharge.ctrl.js"></script>
<script src="app/controllers/support.ctrl.js"></script>
<script src="app/controllers/minha_conta.ctrl.js"></script>
<script src="app/controllers/recompensas.ctrl.js"></script>
<script src="app/controllers/edit_recompensas.ctrl.js"></script>
<script src="app/controllers/lojas.ctrl.js"></script>
<script src="app/controllers/clients_group.ctrl.js"></script>
<script src="app/controllers/client.ctrl.js"></script>
<script src="app/controllers/reports.ctrl.js"></script>
<script src="app/controllers/theme_email.ctrl.js"></script>
<script src="app/controllers/store.ctrl.js"></script>
<!--endbuild-->

<!--build:services-->
<script src="app/services/retailers.srv.js"></script>
<script src="app/services/stores.srv.js"></script>
<script src="app/services/places.srv.js"></script>
<script src="app/services/managers.srv.js"></script>
<script src="app/services/rewards.srv.js"></script>
<script src="app/services/edit_reward.srv.js"></script>
<script src="app/services/update_reward.srv.js"></script>
<script src="app/services/clients.srv.js"></script>
<script src="app/services/set_client.srv.js"></script>
<script src="app/services/rewardIdent.srv.js"></script>
<!--enbuild-->

<!--build:directives-->
<script src="app/directives/lazy_scroll.drv.js"></script>
<script src="app/directives/googleplace.js"></script>
<!--endbuild-->
<!-- endbuild -->
<script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyAKzIKyXjQFrpTG2B4InBjmzydcjQKLWdM'></script>
<script>
    $(document).ready(function(){
//        $('.historico').height(
//            $('.map-content').height() + 'px'
//        );

        $('.user-dropdown').click(function(){
            $('.user-header-menu').fadeToggle();
        });

        $('.label-qua').height(
            $('.label-add').height() + 'px'
        );
//
//        $('.varejista-content').height(
//            $('.map-content').height() + 'px'
//        );

        $(window).resize(function(){
            $('.label-qua').height(
                $('.label-add').height() + 'px'
            );
        });

    });
</script>
</body>
</html>
