<section class="col-sm-6">
    <h2 class="section-title" translate="CLIENT_LOGIN"></h2>
    
    <form name="signInClientForm" ng-submit="clientLogin(signInClientForm)">

        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signInClientForm, 'cpf')}">
                <label translate="CPF"></label>

                <div class="span-error" ng-messages="signInClientForm.cpf.$error"
                     ng-show="isShowErrors(signInClientForm, 'cpf')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="cpf" translate="IS_INVALID"></span>
                    <span ng-message="wrongCpf" translate="WRONG_CPF"></span>
                </div>

                <input type="text" name="cpf" placeholder="CPF" ng-model="client.cpf" ng-required="true"
                       ui-br-cpf-mask autocomplete="off"
                       class="form-control input-lg">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signInClientForm, 'password')}">
                <label translate="PASSWORD"></label>

                <div class="span-error" ng-messages="signInClientForm.password.$error"
                     ng-show="isShowErrors(signInClientForm, 'password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                    <span ng-message="wrongPassword" translate="WRONG_PASSWORD"></span>
                </div>

                <div class="input-group">
                    <input type="{{inputType}}" name="password" placeholder="{{ 'PASSWORD' | translate }}"
                           ng-model="client.password"
                           ng-required="true" autocomplete="off"
                           class="form-control input-lg">

                    <a ng-click="hideShowPassword()" class="input-group-addon">
                        <span class="pass-ic" ng-hide="inputType === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="pass-ic" ng-hide="inputType === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group">            
            <button type="submit"
                class="btn btn-lg btn-success"
                ng-disabled="disabledSaveSignIn || (signInClientForm.$invalid && tryToSaveSignIn)">
               {{ 'LOGIN' | translate }}
            </button>

            <button type="button" class="btn btn-link" translate="FORGOT_PASSWORD"
                    forgot-password-modal></button>
        </div>

    </form>

</section>

<div ng-include="'app/core/sign_up_client/sign_up_client_modal.tpl.html'"></div>

