<div ng-controller="app.core.stores.editAddStoreCtrl">
    <form name="storeInfoForm" class="store-info" ng-submit="saveStore(storeInfoForm)">

        <div ng-class="{'has-error': isShowErrors(storeInfoForm, 'storeName')}" class="store-title-edit">

            <span translate="STORE_NAME"></span>

            <div class="span-error" ng-messages="storeInfoForm.storeName.$error"
                 ng-show="isShowErrors(storeInfoForm, 'storeName')">

                <label ng-message="required" translate="REQUIRED_FIELD"></label>
            </div>

            <input type="text" class="text" name="storeName" ng-model="editStore.storeName" ng-required="true">
        </div>

        <div ng-class="{'has-error': isShowErrors(storeInfoForm, 'phone')}" class="store-title-edit edit-phone">

            <span translate="PHONE"></span>

            <div class="span-error" ng-messages="storeInfoForm.phone.$error"
                 ng-show="isShowErrors(storeInfoForm, 'phone')">
                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                <label ng-message="brPhoneNumber" translate="IS_INVALID"></label>
            </div>

            <input type="phone" class="text" name="phone" ng-model="editStore.phone" ng-required="true"
                   ui-br-phone-number>
        </div>

        <div ng-class="{'has-error': isShowErrors(storeInfoForm, 'storeDescription')}"
             class="store-title-edit description">

            <span translate="STORE_DESCRIPTION"></span>

            <div class="span-error" ng-messages="storeInfoForm.storeDescription.$error"
                 ng-show="isShowErrors(storeInfoForm, 'storeDescription')">

                <label ng-message="required" translate="REQUIRED_FIELD"></label>
            </div>

            <input type="text" class="text" name="storeDescription" ng-model="editStore.description" ng-required="true">
        </div>

        <div ng-class="{'has-error': isShowErrors(storeInfoForm, 'manager')}"
             class="store-title-edit manager-edit" clear-typeahead>

            <span translate="MANAGER"></span>

            <div class="span-error" ng-messages="storeInfoForm.manager.$error"
                 ng-show="isShowErrors(storeInfoForm, 'manager')">
                <label ng-message="required" translate="REQUIRED_MANAGER"></label>
                <label ng-message="incorrect" translate="INCORRECT_MANAGER"></label>
            </div>

            <input type="text" ng-model="managerName" typeahead-show-on-focus
                   typeahead-select-on-exact="true" typeahead-on-select="selectManager($item)"
                   uib-typeahead="manager.name as manager.name for manager in managers | filter:{name:$viewValue}"
                   typeahead-min-length="0" typeahead-append-to-body="true"
                   typeahead-template-url="app/common/templates/typeahead-match.tpl.html">

            <a clear-typeahead-icon class="del-store" ng-click="clearManager()">
                <i class="fa fa-trash"></i>
            </a>

            <input type="hidden" ng-model="editStore.manager" name="manager" ng-required="true">
        </div>

        <div ng-class="{'has-error': isShowErrors(storeInfoForm, 'cnpj')}" class="store-title-edit">

            <span translate="CPNJ"></span>

            <div class="span-error" ng-messages="storeInfoForm.cnpj.$error"
                 ng-show="isShowErrors(storeInfoForm, 'cnpj')">

                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                <label ng-message="cnpj" translate="IS_INVALID"></label>
            </div>

            <input type="text" class="text" name="cnpj" ng-model="editStore.cnpj" ng-required="true" ui-br-cnpj-mask>
        </div>

        <div address-autocomplete ng-model="editStore.address" class="store-title-edit address"
             is-try-to-save="tryToSave"></div>


        <div class="edit-store-btns">
            <input type="submit" class="btn btn-success" value="Save"
                   ng-disabled="disabledSave || (storeInfoForm.$invalid && tryToSave)">

            <input type="button" class="btn btn-success" ng-click="editAddStore()" value="Cancel">
        </div>

    </form>
</div>
