<div>
    <div ng-show="stores.length === 0" translate="NO_STORES"></div>

    <ul class="stores-container clearfix">
        <div ng-show="stores.length > 0">


            <li class="store store-header">
                <div class="title">Store Title</div>
                <div class="status">Store Description</div>
                <div class="action">Store Action</div>
            </li>

            <li ng-repeat="store in stores" ng-controller="app.core.stores.storeCtrl" class="store">

                <div class="store-container not-pointer" ng-if="editStoreId !== store._id">

                    <div class="store-name">{{ store.storeName }}</div>
                    <div class="store-description">{{ store.description }}</div>

                    <div class="store-link">
                        <a ng-href="{{ uniqueLink }}" ng-show="uniqueLink" translate="GO_TO_CHECKOUT"></a>
                    </div>

                    <div class="store-button">
                        <input type="button" value="Edit" ng-click="editAddStore(store._id)">
                    </div>

                </div>

                <div class="edit-store" ng-if="editStoreId === store._id"
                     ng-include="'app/core/stores/edit_add_store.tpl.html'">
                </div>

            </li>
        </div>

        <li ng-if="editStoreId === 'NEW_STORE'">
            <div class="edit-store" ng-include="'app/core/stores/edit_add_store.tpl.html'"></div>
        </li>
    </ul>

    <div ng-hide="editStoreId">
        <input type="button" value="Add Store" ng-click="editAddStore('NEW_STORE')">
    </div>

</div>
