    <div class="varejista-inner">
        <div ng-hide="sentForm">
            <h1>Solicitar Pontos</h1>
            <p>Dashboard / <a href="#">solicitar pontos</a></p>
            <div class="sub-content clearfix">
                <h2>Voce tem {{currentRetailer.points}} pontos ate o momento</h2>
                <p>Solicite seus pontos de forma simples e practica</p>
                <form name="rechargeForm" class="recharge clearfix" ng-submit="send(rechargeForm)" novalidate>
                    <div class="group-45">
                        <label class="label-add">
                            Gostaria de adicionar quantos pontos?
                        </label>
                        <select ng-model="points">
                            <option value="" selected disabled>Escolha a quantidade de pontos</option>
                            <option value="50000">50.000</option>
                            <option value="75000">75.000</option>
                            <option value="100000">100.000</option>
                            <option value="150000">150.000</option>
                        </select>
                    </div>
                    <div class="group-10"><p>ou</p></div>
                    <div class="group-45">
                        <label class="label-qua">
                            Insira uma quantidade
                        </label>
                        <input placeholder="Quantidade" type="number" min="200000" max="1000000" step="50000" ng-model="pointsAlt">
                    </div>
                    <div class="group-100">
                        <label>Mensagem</label>
                        <textarea placeholder="Escreva uma mensagem" maxlength="650" ng-model="message"></textarea>
                    </div>
                    <p class="errormsg" ng-show="error">{{errorMsg}}</p>
                    <button class="btn btn-greenalt">ENVIAR</button>
                </form>
                <div class="contato">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="content telefono">
                                <h3>Entre em contato</h3>
                                <p>(11)4565-4875 / (11)6074-6585</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content email">
                                <h3>E-mail</h3>
                                <p>quero-pontos-rm@mail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="successmsg" ng-show="sentForm">
            <h2>Points Requested!</h2>
            <p>Your <strong>{{pointsF}}</strong> points has been successfully requested!</p>
            <button class="btn btn-blue" ng-click="reload()">Request more points</button>
        </div>
    </div>
