<div class="remodal login-modal cadastro-modal remodal-is-initialized remodal-is-opened" data-remodal-id="modal-cadastro-comerciante" tabindex="-1" ng-controller="rewardModalCtrl">
    <button ng-controller="storeCtrl" class="remodal-close" style="position: absolute; top: 6px; left: initial;" ng-click="close()"></button>
    <div class="col-md-12 comerciante cadastro ng-scope" >
        <h6 style="    text-align: center; margin-bottom: 40px;     font-size: 1.2rem;">Gostaria de trocar {{reward.points}} pontos por {{reward.title}} |<span>Shopping - {{reward.store}}</span>?</h6>
        <div style="display:flex;justify-content: space-between;">
            <button ng-controller="storeCtrl" data-remodal-action="cancel" class="btn btn-gray" style="text-transform: uppercase; padding: 20px 20px;" ng-click="close()">não obrigado</button>
            <button data-remodal-action="confirm" class="btn btn-greenalt" style="padding: 20px 20px;" ng-click="exchangeReward()">SIM, QUERO TROCAR.</button>
        </div>
    </div>
</div>
