 
<div class="remodal login-modal cadastro-modal remodal-is-initialized remodal-is-opened" data-remodal-id="modal-cadastro-comerciante" tabindex="-1" ng-controller="rewardModalCtrl">
    <button ng-controller="storeCtrl" class="remodal-close" style="position: absolute; top: 6px; left: initial;" ng-click="close()"></button>
    <div class="col-md-12 comerciante cadastro ng-scope">
        <h6 style="    text-align: center; margin-bottom: 25px;     font-size: 1.2rem;" >Parabéns sua troca foi efetuada com sucesso :)</h6>
        <p style="text-align: center">Imprima seu cupom de desconto e realize a troca no endereço indicado.</p>
        <div style="display:flex;justify-content: center;">
			<button data-remodal-action="confirm" class="btn btn-greenalt" style="padding: 20px 20px;" ng-click="printCoupon('ejemplo')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> IMPRIMIR</button>
        </div>
    </div>
  	<div id="ejemplo">
  		<h1>{{generatedVoucher.title}}</h1>
  	</div>
</div>