<div class="row mapilla">
    <ng-map zoom="12"
            center="{{currentPosition}}"
            style="height:950px"
            defualt-style="false">

        <info-window id="storeInfo">
            <div class="sotodiv" ng-non-bindable>
                <h4>Shopping - {{selectedStore.storeName}}</h4>
                <p>{{selectedStore.description}}</p>
                <a href="#" class="btn btn-greenalt" ng-click="click(selectedStore)">Premios disponiveis</a>
                <div ng-show="selectedStore.showDetails" ng-repeat="reward in selectedStore.rewards">
                    <div class="col-xs-12" style="margin: 15px 0; position:relative;">
                        <div class="row">
                            <div class="tirejita">
                                <img src="assets/images/tirejita.png" alt="">
                            </div>
                            <div class="detalhes clearfix" style="display:flex;border: 1px dashed #0A85D9;border-radius: 5px;padding: 15px 10px;">
                                <div class="sotin" style="white-space: normal; padding: 0 20px;">
                                    <h3 style="font-size: 0.8rem; text-align: left;margin-top: 0;">{{reward.title}}</h3>
                                </div>
                                <div class="">
                                    <a href="" ng-click="getReward(reward, selectedStore)" ng-class="selectedStore.exchangeClass">
                                    <span style="font-weight: 400">Troque</span><strong>{{reward.points}} pontos</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="selectedStore.emptyRewards">
                    <div class="col-xs-12" style="margin: 15px 0; position:relative;">
                        <div class="row">
                            <h4 style="color:#34AFF6; margin-left:15%;">This shop has not offers yet :(</h4>
                        </div>
                    </div>
                </div>
            </div>
        </info-window>

        <custom-marker ng-repeat="store in stores"
                       position="{{store.position}}"
                       on-click="showStore(event, store)"
        >
            <div>
                <img src="assets/images/marker.png"
                     alt="QP" width="60px"/>
            </div>
        </custom-marker>
    </ng-map>
</div>
