<div class="remodal login-modal cadastro-modal remodal-is-initialized remodal-is-opened" data-remodal-id="modal-cadastro-comerciante" tabindex="-1" ng-controller="rewardModalCtrl">
    <button ng-controller="storeCtrl" class="remodal-close" style="position: absolute; top: 6px; left: initial;" ng-click="close()"></button>
    <div class="col-md-12 comerciante cadastro ng-scope">
        <h6 style="    text-align: center; margin-bottom: 25px;     font-size: 1.2rem;" >Desculpe, você não tem pontos suficientes</h6>
        <p style="text-align: center">Visite as lojas para ganhar pontos.</p>
    </div>
</div>
