<section class="col-sm-12">
    <h2 class="section-title" translate="MY_VOUCHERS"></h2>

    <div ng-show="!vouchers || vouchers.length < 1" translate="NO_INFORMATION"></div>

    <ul class="vouchers-container clearfix" ng-show="vouchers.length > 0">

        <li class="voucher voucher-header not-pointer">
            <div class="retailer-voucher">Retailer</div>
            <div class="title">Title</div>
            <div class="dots-voucher">Dots</div>
            <div class="status">Status</div>
        </li>

        <li class="voucher" ng-repeat="voucher in vouchers | orderBy:'createdAt':true"
            ng-class="{'not-pointer': voucher.status != 1}" ng-controller="app.core.vouchers.voucherCtrl"
            ng-click="openVoucher()">

            <div class="retailer-voucher">{{ retailerNames[voucher.retailer] }}</div>
            <div class="title">{{ voucher.title }}</div>
            <div class="dots-voucher">{{ voucher.points }}</div>
            <div class="status">{{ statusMap[voucher.status] }}</div>
        </li>

    </ul>

</section>
