<div>
    <div>
        <div class="modal-header text-right">
            <a href="javascript:void(0)" ng-click="close()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>

        <div class="modal-body">
            <div translate="VOUCHER_TITLE" translate-values='{voucherTitle: voucher.title}'></div>
            <div translate="VOUCHER_CODE" translate-values='{voucherCode: voucher.code}'></div>
            <div translate="VOUCHER_STATUS" translate-values='{voucherStatus: statusMap[voucher.status]}'></div>
        </div>

    </div>

    <div class="modal-footer">
        <input type="button" value="Print" voucher-print>
    </div>
</div>
