.navbar .logo {
  margin-top: -6px;
  width: 140px;
}
.disabled-link {
  pointer-events: none;
}
.lng-block {
  float: left;
}
.lng-block .change-lng {
  padding: 14px 10px;
  border: 1px solid #4cae4c;
  background-color: #5cb85c;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-user:before {
  margin-right: 5px;
}
body {
  color: #55595c;
}
.app-container {
  padding-top: 70px;
}
.section-title {
  font-size: 18px;
  margin: 0 0 20px;
  line-height: 1;
}
.has-error input,
.has-error select {
  border-color: #f00;
}
.span-error {
  float: right;
}
.span-error span {
  color: #f00;
}
.lng-block {
  position: absolute;
  right: 5px;
}
.lng-block .change-lng {
  padding: 14px 9px;
  float: left;
  background: #ddd;
  color: #fff;
  border: 1px solid #dedede;
  text-transform: uppercase;
}
.lng-block .change-lng.active {
  background: #6c9f43;
}
.lng-block .change-lng span {
  display: inline-block;
}
.has-error {
  position: relative;
}
.navbar-nav {
  margin-right: 50px;
}
.navbar-toggle {
  display: none;
}
.log-menu span {
  display: block;
}
.bold {
  font-weight: 700;
}
@media screen and (max-width: 780px) {
  .navbar-nav {
    position: absolute;
    top: 0;
    right: 30px;
  }
}
[uib-typeahead-popup].dropdown-menu {
  z-index: 1500;
}
a {
  cursor: pointer;
}
.clear-manager-icon {
  bottom: 325px;
  right: 22px;
  position: absolute;
}
.modal-header .fa-times {
  font-size: 18px;
}
.modal-header .modal-title {
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 780px) {
  .modal-dialog {
    width: 450px;
  }
}
.form-control {
  color: #55595c;
  border-radius: 0;
}
.btn,
.input-group-addon {
  border-radius: 0;
}
.btn-facebook {
  background: #4867ab;
  color: #fff;
}
.btn-facebook:hover {
  color: #fff;
  background: #3a5289;
}
