<div>
    <div ng-show="rewards.length === 0" translate="NO_REWARDS"></div>

    <div>
        <ul class="reward-container clearfix">

            <li class="reward reward-header not-pointer" ng-show="rewards.length > 0">
                <div class="reward-name" translate="REWARD_TITLE"></div>
                <div class="reward-div-price" translate="REWARD_PRICE"></div>
            </li>

            <li ng-repeat="reward in rewards | orderBy:'createdAt':false" class="reward" ng-show="rewards.length > 0">

                <div class="reward-container not-pointer" ng-if="editRewardId !== reward._id">

                    <div class="reward-name">{{ reward.title }}</div>

                    <div class="reward-div-price">
                        <span>{{ reward.points | currency:" ":0 }}</span>
                        <span translate="DOTS"></span>
                    </div>

                    <div class="reward-button">
                        <input type="button" value="Edit" ng-click="editAddReward(reward._id)">
                    </div>

                </div>

                <div class="edit-store" ng-if="editRewardId === reward._id"
                     ng-include="'app/core/rewards/edit_add_reward.tpl.html'">
                </div>

            </li>

            <li ng-if="editRewardId === 'NEW_REWARD'">
                <div class="edit-store" ng-include="'app/core/rewards/edit_add_reward.tpl.html'"></div>
            </li>
        </ul>

        <div>
            <input ng-hide="rewards.length > 5" type="button" value="Add Reward" ng-click="editAddReward('NEW_REWARD')">
            <span ng-hide="rewards.length > 5">You have {{ 6 - rewards.length }} rewards to create</span>
            <span ng-show="rewards.length > 5">You have not rewards to create</span>
        </div>
    </div>

</div>
