<div class="navbar header navbar-default navbar-fixed-top" qp-header qp-header
     ng-controller="app.core.header.headerCtrl">

    <div qp-header-tooltip></div>
    <div class="lng-block clearfix">
        <button class="change-lng" ng-class="{'active': currentLang === 'en'}" href="" ng-click="changeLanguage('en')">
            <span class="en">En</span>
        </button>
        <button class="change-lng" ng-class="{'active': currentLang === 'pt-br'}" href=""
                ng-click="changeLanguage('pt-br')">
            <span class="pt">Pt</span>
        </button>
    </div>
    <div class="container" qp-header-nav>

        <div class="header-logo pull-left">

            <a href="javascript:void(0)" ui-sref="whereToExplore">
                <img src="assets/images/logo-horizontal.png" class="logo">
            </a>

        </div>

        <span id="touch-side-bar2"></span>
        <span id="touch-side-bar"></span>

        <ul qp-header-nav class="nav navbar-nav header-navigation">

            <!-- Where to explore -->
            <li ui-sref="whereToExplore" ui-sref-active="active">
                <a href="javascript:void(0)">
                    <span translate="WHERE_TO_EXPLORE"></span>
                </a>
            </li>

            <!-- My Vouchers -->
            <li ui-sref="vouchers" ui-sref-active="active">
                <a href="javascript:void(0)">
                    <span translate="MY_VOUCHERS"></span>
                </a>
            </li>

        </ul>

        <ul class="user-info nav navbar-nav navbar-right">
            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {{ currentClient.name }}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">

                    <li>
                        <a href="javascript:void(0)" ui-sref="profile">
                            <i class="fa fa-user"></i>
                            <span translate="PROFILE"></span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" ng-click="logout()">
                            <i class="fa fa-power-off"></i>
                            <span translate="LOGOUT"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
