<section class="col-sm-5">
    <h2 class="section-title" translate="PERSONAL_INFO"></h2>

    <form name="profileInfoForm" ng-submit="saveClient(profileInfoForm)">

        <div class="form-group" ng-class="{'has-error': isShowErrorsClient(profileInfoForm, 'name')}">
            <label translate="NAME"></label>

            <div class="span-error" ng-messages="profileInfoForm.name.$error"
                 ng-show="isShowErrorsClient(profileInfoForm, 'name')">

                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                <label ng-message="minlength" translate="IS_TOO_SHORT"></label>
                <label ng-message="maxlength" translate="IS_TOO_LONG"></label>
            </div>
            <input type="text" class="form-control input-lg" name="name" ng-model="editClient.name" ng-required="true"
                   ng-minlength="3" ng-maxlength="30">
        </div>

        <div class="form-group" ng-class="{'has-error': isShowErrorsClient(profileInfoForm, 'email')}">
            <label translate="EMAIL"></label>

            <div class="span-error" ng-messages="profileInfoForm.email.$error"
                 ng-show="isShowErrorsClient(profileInfoForm, 'email')">
                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                <label ng-message="pattern" translate="IS_INVALID"></label>
            </div>
            <input type="email" class="form-control input-lg" name="email" ng-model="editClient.email"
                   ng-pattern="emailPattern" ng-required="true">
        </div>

        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrorsClient(profileInfoForm, 'birthday')}">
                <label translate="BIRTHDAY"></label>
                <input type="text" name="birthdate" ng-model="editClient.birthday"
                    ng-required="true" ui-date-mask class="form-control input-lg">
            </div>
            <div class="col-sm-6">
                <label translate="GENDER"></label>
                <div class="btn-group btn-block">
                    <label class="btn btn-default btn-lg" ng-model="editClient.gender"
                        uib-btn-radio="'M'" translate="MALE"></label>
                    <label class="btn btn-default btn-lg" ng-model="editClient.gender"
                        uib-btn-radio="'F'" translate="FEMALE"></label>
                </div>
            </div>            
        </div>

        <div class="form-group" ng-class="{'has-error': isShowErrorsClient(profileInfoForm, 'cpf')}">
            <label translate="PERSONAL_CPF"></label>

            <div class="span-error" ng-messages="profileInfoForm.cpf.$error"
                 ng-show="isShowErrorsClient(profileInfoForm, 'cpf')">
                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                <label ng-message="cpf" translate="IS_INVALID"></label>
            </div>

            <input type="text" class="form-control input-lg" name="cpf" ng-model="editClient.cpf" ng-required="true" ui-br-cpf-mask
                   readonly>
        </div>

        <div class="form-group not-has-pass" ng-if="!editClient.hasPassword" style="position: relative"
             ng-class="{'has-error': isShowErrorsClient(profileInfoForm, 'password')}">

            <label translate="PASSWORD"></label>

            <div class="span-error" ng-messages="profileInfoForm.password.$error"
                 ng-show="isShowErrorsClient(profileInfoForm, 'password')">
                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                <label ng-message="minlength" translate="TO_SHORT_PASSWORD"></label>
            </div>

            <input ng-model='editClient.password' type="{{ inputPassType.main }}" name='password'
                   placeholder="{{ 'PASSWORD' | translate }}" ng-required="true" ng-minlength="5"
                   class="form-control input-lg">

            <a href="javascript:void(0);" ng-click="hideShowPassword('main')">

             <span class="pass-icon"  style="top: 45px;">
                  <i class="fa fa-eye" aria-hidden="true" ng-hide="inputPassType.main === 'text'"></i>
                 <i class="fa fa-eye-slash" aria-hidden="true" ng-hide="inputPassType.main === 'password'"></i>
             </span>

            </a>
        </div>

        <div>
            <input type="submit" class="btn btn-success btn-lg" value="Save"
                   ng-disabled="disabledSaveClient || (profileInfoForm.$invalid && tryToSaveClient)">
        </div>

    </form>

    <div class="reset-password" ng-if="editClient.hasPassword">
        <button type="button" class="btn btn-link" ng-click="changeCollapse(passForm)" translate="RESET_PASSWORD"></button>
        <div uib-collapse="isCollapsed.value">
            <form name="passForm" ng-submit="setNewPassword(passForm)">

                <div ng-class="{'has-error': isShowErrorsPass(passForm, 'password')}">

                    <span translate="PASSWORD"></span>

                    <div class="span-error" ng-messages="passForm.password.$error"
                         ng-show="isShowErrorsPass(passForm, 'password')">
                        <label ng-message="required" translate="REQUIRED_FIELD"></label>
                        <label ng-message="minlength" translate="TO_SHORT_PASSWORD"></label>
                        <label ng-message="wrongPassword" translate="WRONG_PASSWORD"></label>
                    </div>

                    <div class="password-show">
                        <input ng-model='passwords.password' type="{{ inputPassType.main }}"
                               name='password' ng-required="true" ng-minlength="5">

                        <a ng-click="hideShowPassword('main')">

                            <span class="pass-icon" ng-hide="inputPassType.main === 'text'">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>

                            <span class="pass-icon" ng-hide="inputPassType.main === 'password'">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>

                        </a>
                    </div>

                </div>

                <div ng-class="{'has-error': isShowErrorsPass(passForm, 'newPassword')}">

                    <span translate="PASSWORD_NEW"></span>

                    <div class="span-error" ng-messages="passForm.newPassword.$error"
                         ng-show="isShowErrorsPass(passForm, 'newPassword')">
                        <label ng-message="required" translate="REQUIRED_FIELD"></label>
                        <label ng-message="minlength" translate="TO_SHORT_PASSWORD"></label>
                    </div>

                    <div class="password-show">
                        <input ng-model='passwords.newPassword' type="{{ inputPassType.new }}"
                               name='newPassword' ng-required="true" ng-minlength="5">

                        <a ng-click="hideShowPassword('new')">

                            <span class="pass-icon" ng-hide="inputPassType.new === 'text'">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>

                            <span class="pass-icon" ng-hide="inputPassType.new === 'password'">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>

                        </a>
                    </div>

                </div>

                <div ng-class="{'has-error': isShowErrorsPass(passForm, 'confirmNewPassword')}">
                    <div>
                        <span translate="PASSWORD_NEW_CONFIRM"></span>

                        <div class="span-error" ng-messages="passForm.confirmNewPassword.$error"
                             ng-show="isShowErrorsPass(passForm, 'confirmNewPassword')">
                            <label ng-message="required" translate="REQUIRED_FIELD"></label>
                            <label ng-message="minlength" translate="TO_SHORT_PASSWORD"></label>
                            <label ng-message="passwordVerify" translate="FIELDS_ARE_NOT_EQUAL"></label>
                        </div>

                        <div class="password-show">
                            <input ng-model='passwords.newPasswordVerify' type="{{ inputPassType.confirmNew }}"
                                   ng-required="true" password-verify="passwords.newPassword"
                                   name="confirmNewPassword" ng-minlength="5">

                            <a ng-click="hideShowPassword('confirmNew')">

                        <span class="pass-icon" ng-hide="inputPassType.confirmNew === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>

                        <span class="pass-icon" ng-hide="inputPassType.confirmNew === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>

                            </a>
                        </div>
                    </div>

                </div>

                <div>
                    <input type="submit" value="Set new password" class="btn btn-success"
                           ng-disabled="disabledSavePass || (passForm.$invalid && tryToSavePass)">
                </div>
            </form>
        </div>

    </div>
</section>

<section class="col-sm-3 virtual-card">
    <div class="card-content">
        <div>{{ editClient.name }}</div>
        <div>{{ editClient.cpf | cpf }}</div>
        <div>{{ editClient.createdAt | date: 'dd/MMM/yyyy' }}</div>
    </div>
</section>
