<div class="birthdate-form">
    <div class="span-error" ng-messages="signUp.birthdate.$error"
         ng-show="isShowErrors(signUp, 'birthdate')">
        <span ng-message="yearRequired" translate="REQUIRED_YEAR"></span>
        <span ng-message="monthRequired" translate="REQUIRED_MONTH"></span>
        <span ng-message="dateRequired" translate="REQUIRED_DATE"></span>
        <span ng-message="dateMonthRequired" translate="REQUIRED_DATE_AND_MONTH"></span>
        <span ng-message="dateYearRequired" translate="REQUIRED_DATE_AND_YEAR"></span>
        <span ng-message="monthYearRequired" translate="REQUIRED_MONTH_AND_YEAR"></span>
    </div>

    <select class="date-select-day" ng-model="val.date" ng-options="d for d in dates">
        <option value disabled selected>Day</option>
    </select>

    <select class="date-select-month" ng-model="val.month" ng-options="m.value as m.name for m in months">
        <option value disabled>Month</option>
    </select>

    <select class="date-select-year" ng-model="val.year" ng-options="y for y in years">
        <option value disabled selected>Year</option>
    </select>

    <a href="javascript:void(0)" ng-click="clear()">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
</div>
