<!DOCTYPE html>
<html>
<head>
    <title>Quero Pontos</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- build:cssVendors -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css -->
    <!--<link rel="stylesheet" href="assets/styles/app.css">-->
    <link rel="stylesheet" href="assets/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <!-- endbuild -->

</head>

<div class="checkout" ng-app="checkout">

<div id="checkout" class="container" ng-controller="mainCtrl">

    <div class="chm-init" ng-show="cpfStep">
        <div class="row">
            <div class="box-container col-md-6 col-md-offset-3">

                <!--Blue and yellow line at the top of the box-->
                <div class="col-xs-6">
                    <div class="row">
                        <div class="line line-blue"></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="line line-yellow"></div>
                    </div>
                </div>
                <!--End of blue and yellow line-->

                <div class="checkout-content box-shadow box-round clearfix">
                    <form ng-submit="goToInsertPoints()">
                        <div>
                            <h2>Inserir CPF do cliente</h2>
                        </div>
                        <div class="error-container">
                            <span class="error-label" checkout-required lng="CPF_IS_REQUIRED"></span>
                            <span class="error-label" checkout-pattern lng="CPF_IS_NOT_CORRECT"></span>
                        </div>

                        <div class="form-group">
                            <input id="start-cpf" type="text" maxlength="14"
                                   placeholder="e. g. 693.915.392-62" autocomplete="off" ng-model="cpf" required disabled>
                            <div class="not-enough-points hidden" lng="NOT_ENOUGH_DOTS"></div>
                            <button class="btn btn-greenalt btn-block btn-lg submit start-btn"
                                   lng="START" disabled>Start</button>
                        </div>
                    </form>
                    <div class="checkout-logo">
                        <img src="assets/images/logo_checkout.png" alt="" />
                    </div>
                </div>
              </div>
         </div>
    </div>

    <div id="checkout" ng-hide="pontosStep" ng-controller="pointsCtrl" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="box-container col-md-6 col-md-offset-3">
                    <div class="chm-has-client">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="line line-blue"></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="line line-yellow"></div>
                            </div>
                        </div>
                        <div class="checkout-content box-shadow box-round clearfix">
                            <a class="voltar" href="" ng-click="goBack()">
                                Voltar
                            </a>
                            <h3>{{clientName}}, {{pontos}} Pontos</h3>
                            <h2>Insira o valor total de compra:</h2>
                            <form>
                                <input placeholder="0,00"
                                       type="text"
                                       maxlength="12"
                                       step="1"
                                       ng-keydown="clearError()"
                                       ui-number-mask="2"
                                       ng-model="points"
                                       required/>
                                <div class="error" ng-show="error">
                                    <span>{{message}}</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6"><a href="" ng-class="voucherExchangeAvialable" ng-click="goToVoucher()">TROCAR CUPOM</a></div>
                                    <div class="col-xs-6"><a href="" class="btn btn-greenalt" ng-click="insertPoints()"><div ng-hide="addingPoints">ADICIONAR PONTOS</div><div ng-show="addingPoints" class="circulito"><md-progress-circular  md-diameter="37px" md-mode="indeterminate"></md-progress-circular></div></a></div>
                                </div>
                            </form>
                            <div class="checkout-logo">
                                <img src="assets/images/logo_checkout.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div id="checkout" ng-hide="pointsSuccess" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="box-container col-md-6 col-md-offset-3">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="line line-blue"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="line line-yellow"></div>
                        </div>
                    </div>
                    <div class="checkout-content box-shadow box-round clearfix">
                        <h4>Adicionado com sucesso!</h4>
                        <h3>{{clientName}}</h3>
                        <h2>{{pontos}} Pontos agora.</h2>
                        <form>
                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-3"><a href="" ng-click="goBack()"
                                                                         class="btn btn-greenalt">INICIO</a></div>
                            </div>
                        </form>
                        <div class="checkout-logo">
                            <img src="assets/images/logo_checkout.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

    <div id="checkout" ng-hide="voucherStep" ng-controller="voucherCtrl" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="box-container col-md-6 col-md-offset-3">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="line line-blue"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="line line-yellow"></div>
                        </div>
                    </div>
                    <div class="checkout-content box-shadow box-round clearfix">
                        <a href="" ng-click="goBack1()" class="voltar">
                            Voltar
                        </a>
                        <h3>{{clientName}}, {{pontos}} Pontos</h3>
                        <h2>Insira o número do voucher:</h2>
                        <form>
                            <input type="text"
                                   ui-mask="999-999-999"
                                   ng-model="num" required/>
                            <div class="error" ng-show="error">
                                <span>{{message}}</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-6"><a href="" ng-click="goBack1()" class="btn btn-gray">CANCELAR</a></div>
                                <div class="col-xs-6"><button ng-click="uploadVoucher()" class="btn btn-greenalt">TROCAR</button></div>
                            </div>
                        </form>
                        <div class="checkout-logo">
                            <img src="assets/images/logo_checkout.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <div id="checkout" ng-hide="voucherSuccess" ng-cloak>
            <div class="container">
                <div class="row">
                    <div class="box-container col-md-6 col-md-offset-3">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="line line-blue"></div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="line line-yellow"></div>
                            </div>
                        </div>
                        <div class="checkout-content box-shadow box-round clearfix">
                            <h4>O cupom de desconto</h4>
                            <h3>{{cupom}}</h3>
                            <h2>Foi validado com sucesso!</h2>
                            <form>
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-3"><a href="" ng-click="goBack()" class="btn btn-greenalt">INICIO</a></div>
                                </div>
                            </form>
                            <div class="checkout-logo">
                                <img src="assets/images/logo_checkout.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="show-tips hide">
    <p>
        <span class="key-set">Enter</span>
        <span lng="GO_TO_NEXT_FORM"></span>
    </p>
    <p>
        <span class="key-set">Shift + Backspace</span>
        <span lng="GO_TO_PREVIOUS_FORM"></span>
    </p>
    <p>
        <span class="key-set">Esc</span>
        <span lng="RETURN_TO_CLIENT_CPF_FORM"></span>
    </p>
    <p>
        <span class="key-set">Alt + Shift + P</span>
        <span lng="CHANGE_LANG_TO_PORTUGUESE"></span>
    </p>
    <p>
        <span class="key-set">Alt + Shift + E</span>
        <span lng="CHANGE_LANG_TO_ENGLISH"></span>
    </p>
</div>
<div class="tip">
    <p class="tip-visible">
        <span lng="PRESS"></span>
        <span class="key-set">Alt + H</span>
        <span lng="SHOW_KEYBOARD_CONTROL"></span>
    </p>
    <p>
        <span lng="PRESS"></span>
        <span class="key-set">Alt + H</span>
        <span lng="HIDE_KEYBOARD_CONTROL"></span>
    </p>
</div>
</body>

<!-- build:js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="bower_components/keymaster/keymaster.js"></script>
<script src="bower_components/jquery-maskmoney/dist/jquery.maskMoney.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-ui-mask/src/mask.js"></script>
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:angular -->
<script src="app/app.js"></script>
<script src="app/utils.js"></script>
<script src="app/validate.js"></script>
<script src="app/forms/init_client_form.js"></script>
<script src="app/forms/not_has_client_form.js"></script>
<script src="app/forms/has_client_form.js"></script>
<script src="app/forms/show_dots_form.js"></script>
<script src="app/forms/exchange_form.js"></script>
<script src="app/forms/change_finish_form.js"></script>
<script src="app/checkout_translate.js"></script>
<script src="app/checkout_keymaster.js"></script>
<script src="app/checkout_coockie.js"></script>
<script src="app/i18n/locale-pt-br.js"></script>
<!--build:real-angular-->
<script src="angular_app/app.js"></script>
<!--controllers-->
<script src="angular_app/controllers/pointsCtrl.js"></script>
<script src="angular_app/controllers/voucherCtrl.js"></script>
<!--services-->
<script src="angular_app/services/pointsService.js"></script>
<script src="angular_app/services/cpfService.js"></script>
<script src="angular_app/services/nameService.js"></script>
<!-- endbuild -->
<script type="text/javascript">
$( document ).ready(function() {
    $('.start-btn, #start-cpf').prop('disabled', false);
});
</script>
</html>
