<section class="col-sm-6 pull-right" ng-controller="app.core.signUpClient.signUpClientCtrl">
    <div class="form-group col-sm-12 row">
        <h2 class="section-title pull-left" translate="CLIENT_REGISTER"></h2>
        <div class="pull-right" ng-form="facebookClientForm">
            <button class="btn btn-lg btn-facebook facebook" translate="FACEBOOK" ng-click="getFacebookClient(facebookClientForm)"
                    ng-disabled="disabledSaveFacebook || (signInClientForm.cpf.$error)"></button>
        </div>
    </div>

    <form name="signUpClientForm" ng-submit="clientSignUp(signUpClientForm)" novalidate>
        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpClientForm, 'name')}">
                <label translate="NAME"></label>

                <div class="span-error" ng-messages="signUpClientForm.name.$error"
                     ng-show="isShowErrors(signUpClientForm, 'name')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="IS_TOO_SHORT"></span>
                    <span ng-message="maxlength" translate="IS_TOO_LONG"></span>
                </div>
                <input type="text" class="form-control input-lg" name="name" 
                    ng-model="newClient.name" 
                    ng-required="true"
                    ng-minlength="3" 
                    ng-maxlength="30">
            </div>

            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpClientForm, 'email')}">
                <label translate="EMAIL"></label>

                <div class="span-error" ng-messages="signUpClientForm.email.$error"
                     ng-show="isShowErrors(signUpClientForm, 'email')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="pattern" translate="IS_INVALID"></span>
                </div>
                <input type="text" class="form-control input-lg" name="email" ng-model="newClient.email"
                       ng-pattern="emailPattern" ng-required="true">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label translate="BIRTHDAY"></label>
                <input type="text" class="form-control input-lg" name="birthdate" 
                    ng-model="newClient.birthdate" required ui-date-mask>
            </div>
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpClientForm, 'gender')}">
                <label translate="GENDER"></label>
                <div class="btn-group btn-block">
                    <label class="btn btn-default btn-lg" ng-model="newClient.gender"
                        uib-btn-radio="'m'" translate="MALE"></label>
                    <label class="btn btn-default btn-lg" ng-model="newClient.gender"
                        uib-btn-radio="'f'" translate="FEMALE"></label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12" ng-class="{'has-error': isShowErrors(signUpClientForm, 'cpf')}">
                <label translate="CPF"></label>

                <div class="span-error" ng-messages="signUpClientForm.cpf.$error"
                     ng-show="isShowErrors(signUpClientForm, 'cpf')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="cpf" translate="IS_INVALID"></span>
                </div>

                <input type="text" class="form-control input-lg" name="cpf" ng-model="newClient.cpf" ng-required="true" ui-br-cpf-mask>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpClientForm, 'password')}">
                <label translate="PASSWORD"></label>

                <div class="span-error" ng-messages="signUpClientForm.password.$error"
                     ng-show="isShowErrors(signUpClientForm, 'password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                </div>

                <div class="input-group">
                    <input ng-model='newClient.password' type="{{ inputPassType.main }}" name='password'
                           placeholder="{{ 'PASSWORD' | translate }}" ng-minlength="5"
                           ng-required="true"
                           class="form-control input-lg">

                    <a ng-click="hideShowPassword('main')" class="input-group-addon">
                        <span class="pass-icon" ng-hide="inputPassType.main === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="pass-icon" ng-hide="inputPassType.main === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-sm-6">
                <label translate="PASSWORD_CONFIRM"></label>

                <div class="span-error confirm-password-client"
                     ng-messages="signUpClientForm.confirm_password.$error"
                     ng-show="isShowErrors(signUpClientForm, 'confirm_password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                    <span ng-message="passwordVerify" translate="FIELDS_ARE_NOT_EQUAL"></span>
                </div>

                <div class="input-group">
                    <input ng-model='newClient.password_verify' type="{{ inputPassType.confirm }}"
                           name='confirm_password' ng-minlength="5"
                           placeholder="{{ 'PASSWORD_CONFIRM' | translate }}" ng-required="true"
                           password-verify="newClient.password"
                           class="form-control input-lg">

                    <a ng-click="hideShowPassword('confirm')" class="input-group-addon">
                        <span class="pass-conf-icon" ng-hide="inputPassType.confirm === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="pass-conf-icon" ng-hide="inputPassType.confirm === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg"
                   ng-disabled="disabledSave || (signUpClientForm.$invalid && tryToSave)"
                   value="{{ 'REGISTER' | translate }}">
        </div>
    </form>

</section>
