<!DOCTYPE html>
<html>
<head>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>
    <title>Quero Pontos</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- build:cssVendors -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css"/>
    <link rel="stylesheet" href="bower_components/toastr/toastr.css"/>
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css"/>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css -->
    <link rel="stylesheet" href="assets/styles/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="assets/styles/app.css" type="text/css"/>
    <!-- endbuild -->
</head>
<body ng-app="app">

<div class="header" ng-if="currentRetailer" ng-include="'app/core/header/header.tpl.html'"></div>

<div class="container wrapper" ui-view></div>

<div class="right-panel" ng-if="currentRetailer" ng-include="'app/core/right_panel/right_panel.tpl.html'"></div>

<!-- build:js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="bower_components/angular-sweetalert/SweetAlert.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/extras.angular.plus/ngplus-overlay.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/br-validations/releases/br-validations.js"></script>
<script src="bower_components/string-mask/src/string-mask.js"></script>
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/br-masks/releases/br-masks.js"></script>
<script src="bower_components/angular-br-filters/release/angular-br-filters.js"></script>
<script src="bower_components/clipboard/dist/clipboard.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:angular -->
<script src="app/vendors/Chart.min.lib.vendor.js"></script>
<script src="app/vendors/angular-chart.vendor.js"></script>
<script src="app/vendors/md5.min.vendor.js"></script>

<script src="app/app.mdl.js"></script>
<script src="app/app.route.js"></script>
<script src="app/i18n/locale-pt-br.js"></script>

<script src="app/common/services/services.mdl.js"></script>
<script src="app/common/services/retailers.srv.js"></script>
<script src="app/common/services/managers.srv.js"></script>
<script src="app/common/services/places.srv.js"></script>
<script src="app/common/services/stores.srv.js"></script>
<script src="app/common/services/rewards.srv.js"></script>
<script src="app/common/services/clients.srv.js"></script>
<script src="app/common/services/logger.srv.js"></script>

<script src="app/common/directives/directives.mdl.js"></script>
<script src="app/common/directives/password_verify.drv.js"></script>
<script src="app/common/directives/clear_typeahead.js"></script>
<script src="app/common/directives/address_autocomplete.drv.js"></script>
<script src="app/common/directives/scroll_to_element.drv.js"></script>
<script src="app/common/directives/typeahead_show_on_focus.js"></script>

<script src="app/common/filters/filters.mdl.js"></script>

<script src="app/common/filters/age.fltr.js"></script>
<script src="app/common/filters/check_cpf.fltr.js"></script>
<script src="app/common/filters/cnpj.fltr.js"></script>
<script src="app/common/filters/cpf.fltr.js"></script>
<script src="app/common/filters/points.fltr.js"></script>

<script src="app/core/clients_group/clients_group.mdl.js"></script>
<script src="app/core/clients_group/clients_group.ctrl.js"></script>
<script src="app/core/clients_group/client.ctrl.js"></script>
<script src="app/core/clients_group/rewards_modal.ctrl.js"></script>
<script src="app/core/clients_group/client_modal.ctrl.js"></script>
<script src="app/core/clients_group/email_theme.ctrl.js"></script>

<script src="app/core/recharge_dots/recharge_dots.mdl.js"></script>
<script src="app/core/recharge_dots/recharge_dots.ctrl.js"></script>

<script src="app/core/profile/profile.mdl.js"></script>
<script src="app/core/profile/profile.ctrl.js"></script>

<script src="app/core/rewards/rewards.mdl.js"></script>
<script src="app/core/rewards/rewards.ctrl.js"></script>
<script src="app/core/rewards/edit_add_reward.ctrl.js"></script>

<script src="app/core/support/support.mdl.js"></script>
<script src="app/core/support/support.ctrl.js"></script>

<script src="app/core/reports/reports.mdl.js"></script>
<script src="app/core/reports/reports.ctrl.js"></script>
<script src="app/core/reports/store_to_store_revenue.ctrl.js"></script>
<script src="app/core/reports/total_revenue.ctrl.js"></script>
<script src="app/core/reports/show_client_list.drv.js"></script>

<script src="app/core/right_panel/right_panel.mdl.js"></script>
<script src="app/core/right_panel/right_panel.ctrl.js"></script>
<script src="app/core/right_panel/lazy_scroll.drv.js"></script>

<script src="app/core/stores/stores.mdl.js"></script>
<script src="app/core/stores/stores.ctrl.js"></script>
<script src="app/core/stores/store.ctrl.js"></script>
<script src="app/core/stores/edit_add_store.ctrl.js"></script>

<script src="app/core/header/header.mdl.js"></script>
<script src="app/core/header/header.ctrl.js"></script>
<!-- endbuild -->

<script
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&language=en&key=AIzaSyDxEu6bKLri9y1E6JpBKBCNM9IBJXAHiRU"></script>

<!-- build:livereload -->
<script src="http://localhost:35729/livereload.js"></script>
<!-- endbuild -->
</body>
</html>
