<div>
    <div>
        <div class="modal-header text-right">
            <a href="javascript:void(0)" ng-click="close()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>

        <div class="modal-body">
            <div translate="REWARD_TITLE" translate-values='{rewardTitle: reward.title}'></div>
            <div translate="REWARD_PRICE" translate-values='{rewardPoints: reward.points}'></div>
        </div>

        <div class="modal-footer">
            <div>
                <input type="button" ng-click="exchangeReward()" value="Exchange Reward">
            </div>
        </div>
    </div>
</div>
