<uib-tabset>
    <uib-tab index="0" heading="Map">

        <div class="visited-stores pointer" ng-click="isPlacesVisited.value = !isPlacesVisited.value">
            <i class="fa fa-toggle-on text-success" ng-if="isPlacesVisited.value"></i>
            <i class="fa fa-toggle-off" ng-if="!isPlacesVisited.value"></i> {{ 'VISITED_STORES' | translate }}
        </div>

        <div class="map">
            <div places-nearby is-visited="isPlacesVisited.value" show-retailer="showMapRetailer"></div>
        </div>

        <div class="retailer">
            <div class="reward-block clearfix" ng-show="storeRewards">
                <div class="store-name title-name">{{store.storeName}}</div>

                <div class="store-name title-description" ng-class="{'exchanged-rewards': isMapStoreVisited}">
                    {{store.description}}

                    <div ng-show="isMapStoreVisited" class="store-visited" style="display: inline-block;float: right;">
                        <label style="margin-left: -57px;color: #6c9f43;">visited</label>
                    </div>

                    <ul class="clearfix">

                        <li class="reward-in-reward" ng-click="openRewardForMapTab(reward)"
                            ng-repeat="reward in storeRewards | orderBy:'createdAt':true">

                            <div>{{reward.title}}</div>

                            <div>
                                <span>{{reward.points}}</span>
                                <span translate="DOTS"></span>
                            </div>
                        </li>

                        <div ng-show="!storeRewards || storeRewards.length === 0">
                            <span translate="REWARD_IS_NOT_EXIST"></span>
                        </div>

                    </ul>
                </div>

            </div>
        </div>
    </uib-tab>

    <uib-tab index="1" heading="List">

        <div ng-show="!stores || stores.length < 1" translate="NO_INFORMATION"></div>

        <div class="visited-stores pointer" ng-click="onlyPlacesVisited.value = !onlyPlacesVisited.value">
            <i class="fa fa-toggle-on text-success" ng-if="onlyPlacesVisited.value"></i>
            <i class="fa fa-toggle-off" ng-if="!onlyPlacesVisited.value"></i> {{ 'VISITED_STORES' | translate }}
        </div>


        <ul class="stores-container">
            <li class="not-pointer" ng-repeat="store in stores | filter: storesFilter"
                ng-controller="app.core.whereToExplore.storeCtrl"
                ng-class="{'active': showReward }">
                <div class="reward-block clearfix">
                    <div class="store-name title-name">{{store.storeName}}</div>

                    <div class="store-name title-description" ng-class="{'exchanged-rewards': isVisited}">
                        {{store.description}}

                        <ul ng-show="showReward" class="clearfix">

                            <li class="reward-in-reward" ng-repeat="reward in rewards | orderBy:'createdAt':true"
                                ng-click="openReward(reward)">

                                <div>{{reward.title}}</div>

                                <div>
                                    <span>{{reward.points}}</span>
                                    <span translate="DOTS"></span>
                                </div>
                            </li>

                            <div ng-show="!rewards || rewards.length === 0">
                                <span translate="REWARD_IS_NOT_EXIST"></span>
                            </div>

                        </ul>
                    </div>

                    <div ng-click="openRewards()" class="store-name title-arrows">
                        <span class="store-arrow"></span>
                        <span class="store-arrow"></span>
                        <label ng-show="isVisited" style="margin-left: -57px;color: #6c9f43;">visited</label>
                    </div>
                </div>
            </li>
        </ul>

    </uib-tab>
</uib-tabset>
