<div class="remodal login-modal cadastro-modal remodal-is-initialized remodal-is-opened ng-scope" data-remodal-id="modal-cadastro-comerciante" tabindex="-1" ng-controller="singleVoucherCtrl">
    <button ng-controller="storeCtrl" class="remodal-close ng-scope" style="position: absolute; top: 6px; left: initial;" ng-click="close()"></button>
    <div class="col-md-12 comerciante cadastro ng-scope">
        <h6 style="    text-align: center; margin-bottom: 25px;     font-size: 1.2rem;"><span style="color: #2b2e38">Prêmio:</span> {{voucher.title}}</h6>
        <h6 style="    text-align: center; margin-bottom: 25px;     font-size: 1.2rem;"><span style="color: #2b2e38">Código do Voucher:</span> {{voucher.code}}</h6>
        <p style="text-align: center">Imprima seu cupom de desconto e realize a troca no endereço indicado.</p>
        <div style="display:flex;justify-content: center;">
            <button data-remodal-action="confirm" class="btn btn-greenalt" style="padding: 20px 20px;" ng-controller="rewardModalCtrl" ng-click="printCoupon('ejemplo')"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> IMPRIMIR</button>
        </div>
    </div>
    <div id="ejemplo">
        <h1 class="ng-binding"></h1>
    </div>
</div>
