<div class="row" ng-cloak>
    <div class="col-md-10 col-md-offset-2">
        <div class="pontos-lista">
            <h2>Confira sua lista de vouchers emitidos!</h2>
            <p>Após 30 dias, seu voucher não utilizado será ‘expirado’ e seus pontos retornarão automaticamente ao seu perfil.</p>
            <table class="users">
                <thead>
                <tr>
                    <th class="row-01">COMÉRCIO</th>
                    <th class="row-04" style="width: 45%">VOUCHERS EMITIDOS</th>
                    <th class="row-05 hide-mobile">PONTOS</th>
                    <th class="row-03 hide-mobile" style="width: 25%">STATUS</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="voucher in vouchersVisible | orderBy: '-createdAt'">
                    <td style="text-align: center;padding: 5px;"><img style="max-width: 25%;" src="assets/images/store.png"></td>
                    <td>
                        <strong>{{voucher.title}}</strong>
                        <p class="hide-mini">Retailer: {{voucher.retailerName}}</p>
                    </td>
                    <td class="hide-mobile" style="text-align: center">{{voucher.points}}</td>
                    <td class="hide-mobile" >
                        <div class="hist-info date" ng-show="voucher.showDate">{{voucher.createdAt|date:"dd/MM/yyyy - h:mm a"}}</div>
                        <button ng-class="voucher.statusClass" style="font-weight: 400;font-size: 0.6rem !important;" ng-click="openVoucher(voucher)"><span ng-class="voucher.statusIcon" aria-hidden="true" style="float: left;font-weight: 300; font-size: 0.6rem !important;"></span>{{voucher.status}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <center><button class="btn btn-whiteb"
                            ng-click="loadVouchers(vouchersVisible.length)"
                            ng-show="verMais">VER MAIS</button></center>
        </div>
    </div>
</div>
