.navbar .logo
  margin-top -6px
  width 140px

.disabled-link
  pointer-events none

.lng-block
  float left
  .change-lng
    padding 14px 10px
    border 1px solid #4cae4c
    background-color #5cb85c
    color #fff
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
.fa-user
  &:before
    margin-right 5px
