<div>
    <br>
    <span translate="YOU_HAVE"></span>
        <span>
            {{ currentRetailer.points }}
        </span>
    <span translate="DOTS"></span>
    </br>
    <span translate="DO_YOU_RECHARGE"></span>
</div>

<div class="recharge-container">
    <form name="rechargeForm" class="recharge" ng-submit="send(rechargeForm)" novalidate>

        <div ng-class="{'has-error': isShowErrors(rechargeForm, 'points')}">

            <div class="span-error" ng-show="isShowErrors(rechargeForm, 'points')"
                 ng-messages="rechargeForm.points.$error">

                <label ng-show="rechargeForm.points.$error.required" ng-messages="required"
                       translate="MUST_CHOOSE_DOTS"></label>
                <label ng-message="min" translate="MUST_BE_GREATER_THAN_10_THOUSANDS"></label>
                <label ng-message="max" translate="MUST_BE_LESS_THAN_1_MILLION"></label>

            </div>

            <input type="radio" name="points" ng-model="points" ng-value="50000"><span>50.000</span>
            <input type="radio" name="points" ng-model="points" ng-value="75000"><span>75.000</span>
            <input type="radio" name="points" ng-model="points" ng-value="100000"><span>100.000</span>
            <input type="radio" name="points" ng-model="points" ng-value="150000"><span>150.000</span>

            <span translate="OR"></span>
            <input type="text" class="text" name="points" ng-model="points"
                   ui-number-mask="2" min="10000" max="1000000" ng-required="true">

        </div>

        <div ng-class="{'has-error': isShowErrors(rechargeForm, 'message')}">

            <div class="span-error" ng-show="isShowErrors(rechargeForm, 'message')"
                 ng-messages="rechargeForm.message.$error">
                <label ng-messages="required" translate="REQUIRED_FIELD"></label>
            </div>

            <div class="textarea-msg">
                <span translate="MESSAGE"></span>
                <textarea name="message" cols="40" rows="3" ng-model="message" ng-required="true"></textarea>
            </div>

        </div>

        <input type="submit" class="btn btn-success" value="Send"
               ng-disabled="disableToSave || (rechargeForm.$invalid && tryToSave)">
    </form>

</div>
