<div>

    <div class="report-section">
        <h2 class="report-title">
            <span translate="TOTAL_CLIENTS"></span>
        </h2>

        <div ng-show="!numberOfClients" translate="NO_INFORMATION_ABOUT_IT"></div>

        <div ng-show="numberOfClients">
            <span translate="ALL_RETAILERS_CLIENTS"></span>
            <span>{{ numberOfClients }}</span>
        </div>
    </div>

    <div>
        <h2 class="report-title">
            <span translatef="ACCESS_HISTORY"></span>
        </h2>

        <div ng-show="!retailerLastActivity.lastAccess && !retailerLastActivity.lastInteractionWithClient"
             translate="NO_INFORMATION_ABOUT_IT"></div>

        <div ng-show="retailerLastActivity.lastAccess">
            <span translate="LAST_ACCESS"></span>
            <span>{{ retailerLastActivity.lastAccess | date:'MMM d, y h:mm a'}}</span>
        </div>

        <div ng-show="retailerLastActivity.lastInteractionWithClient">
            <span translate="LAST_INTERACTION_WITH_CLIENT"></span>
            <span>{{ retailerLastActivity.lastInteractionWithClient | date :'MMM d, y h:mm a'}}</span>
        </div>
    </div>

    <div>
        <h2 class="report-title">
            <span translate="TOP_10_CLIENTS"></span>
        </h2>

        <div ng-show="mostProfitableClients.length === 0" translate="NO_INFORMATION_ABOUT_IT"></div>

        <div ng-show="mostProfitableClients.length > 0">

            <ul class="profitable-client clearfix">

                <li class="client client-header not-pointer">
                    <div class="client-name" translate="CLIENT_NAME"></div>
                    <div class="client-points" translate="CLIENT_DOTS"></div>
                </li>

                <li ng-repeat="client in mostProfitableClients"
                    class="client" scroll-to-client="client">

                    <div ng-click="openClient()">

                        <div class="client-name">{{ client.name }}</div>

                        <div class="client-points">
                            {{ client.pointsOfRetailers[currentRetailer._id] }}
                            <span translate="DOTS"></span>
                        </div>

                    </div>

                </li>
            </ul>

        </div>
    </div>

    <div>
        <h2 class="report-title">
            <span translate="BIRTHDAY_OF_THIS_MONTH"></span>
        </h2>

        <div ng-show="clientsBirthday.length === 0" translate="NO_INFORMATION_ABOUT_IT"></div>

        <div ng-show="clientsBirthday.length > 0">

            <ul class="birthday-client clearfix">

                <li class="client client-header not-pointer">
                    <div class="client-name" translate="CLIENT_NAME"></div>
                    <div class="client-birthday" translate="CLIENT_BIRTHDAY"></div>
                </li>

                <li ng-repeat="clientBirthday in clientsBirthday" class="client" scroll-to-client="clientBirthday">


                    <div ng-click="openClient()">
                        <div class="client-name">{{ clientBirthday.name }}</div>

                        <div class="client-birthday">
                            {{ clientBirthday.birthday | date:'MMM/d/y'}}
                        </div>

                    </div>

                </li>
            </ul>

        </div>
    </div>

    <div>
        <h2 class="report-title">
            <span translate="VOUCHERS_REWARD_EXCHANGED"></span>
        </h2>

        <div ng-show="rewardsInVouchers.length === 0" translate="NO_INFORMATION_ABOUT_IT"></div>

        <div ng-show="rewardsInVouchers.length > 0">

            <ul class="rewards-in-vouchers clearfix">

                <li class="reward-in-voucher reward-in-voucher-header not-pointer">
                    <div class="voucher-code" translate="VOUCHER_CODE"></div>
                    <div class="voucher-status" translate="VOUCHER_STATUS"></div>
                    <div class="reward-title" translate="REWARD_TITLE"></div>
                    <div class="reward-price" translate="REWARD_PRICE"></div>
                    <div class="client-name" translate="CLIENT_NAME"></div>
                </li>

                <li ng-repeat="rewardInVoucher in rewardsInVouchers" class="reward-in-voucher not-pointer">

                    <div>
                        <div class="voucher-code">{{ rewardInVoucher.voucher.code }}</div>

                        <div class="voucher-status">{{ statusMap[rewardInVoucher.voucher.status] }}</div>

                        <div class="reward-title">{{ rewardInVoucher.reward.title }}</div>

                        <div class="reward-price">
                            <span>{{ rewardInVoucher.reward.points }}</span>
                            <span translate="DOTS"></span>
                        </div>

                        <div class="client-name">{{ rewardInVoucher.client.name }}</div>

                    </div>

                </li>
            </ul>

        </div>
    </div>

    <div class="chart-container">
        <h2 class="report-title">
            <span translate="GENDER"></span>
        </h2>

        <div ng-show="gender.length === 0" translate="NO_INFORMATION_ABOUT_IT"></div>

        <div ng-show="gender.length > 0">
            <canvas id="pie" class="chart chart-pie" chart-data="gender" chart-labels="genderLabels">
            </canvas>
        </div>

    </div>

    <div class="chart-container">
        <h2 class="report-title">
            <span translate="AGE_GROUP"></span>
        </h2>

        <div ng-show="ageGroup.length === 0" translate="NO_INFORMATION_ABOUT_IT"></div>

        <div ng-show="ageGroup.length > 0">
            <canvas id="pie2" class="chart chart-pie" chart-data="ageGroup" chart-labels="ageGroupLabels">
            </canvas>
        </div>

    </div>

    <div class="store-revenue">

        <div class="chart-container" ng-if="revenue.storesRevenue"
             ng-controller="app.core.reports.soreToStoreRevenueCtrl">

            <h2 class="report-title">
                <span translate="REVENUE_STORE_TO_STORE"></span>
            </h2>

            <div ng-show="!months || months.length === 0" translate="NO_INFORMATION_ABOUT_IT"></div>

            <div ng-if="months && months.length > 0">
                <a href="javascript:void(0)" ng-click="previous()" ng-class="{'disabled' : disablePrevious}">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true">
                        Previous
                    </i>
                </a>

                <a href="javascript:void(0)" ng-click="next()" ng-class="{'disabled' : disableNext}">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true">
                        Next
                    </i>
                </a>

                <canvas id="bar" class="chart chart-bar" chart-data="points" chart-options="options"
                        chart-labels="months" chart-series="stores">
                </canvas>
            </div>

        </div>

        <div class="chart-container" ng-if="revenue.totalRevenue"
             ng-controller="app.core.reports.totalRevenueCtrl">

            <h2 class="report-title">
                <span translate="TOTAL_REVENUE"></span>
            </h2>

            <div ng-show="!months || months.length === 0" translate="NO_INFORMATION_ABOUT_IT"></div>

            <div ng-if="months && months.length > 0">
                <a href="javascript:void(0)" ng-click="previous()" ng-class="{'disabled' : disablePrevious}">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true">
                        Previous
                    </i>
                </a>

                <a href="javascript:void(0)" ng-click="next()" ng-class="{'disabled' : disableNext}">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true">
                        Next
                    </i>
                </a>

                <canvas id="bar2" class="chart chart-bar" chart-options="options" chart-data="points"
                        chart-labels="months">
                </canvas>
            </div>

        </div>

    </div>

</div>
