<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/remodal.css">
    <link rel="stylesheet" href="assets/css/remodal-default-theme.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
</head>
<body class="mapa maphid" ng-app="clientApp">
<div class="main-menu" style="
    position: fixed;
    background: white;
    height: 75px;
    z-index: 9999;
    width: 100%;
">
    <div class="container">
        <div class="left">
            <a href="#" class="logo logobig">Quero Pontos</a>
            <a href="#" class="logo-mobile hide-big hide-mini">Quero Pontos</a>
            <a href="#" class="logo-mobile-mini">Quero Pontos</a>
            <div class="menu">
                <ul>
                    <li ng-class="explorerClass"><a href="#">Onde Explorar</a>
                        <ul class="submenu">
                            <li class="mapa-icon"><a href="#/whereToExplore">Ver no mapa</a></li>
                            <li class="lista-icon"><a href="#/list">Ver na lista</a></li>
                        </ul>
                    </li>
                    <li ng-class="voucherClass"><a href="#/vouchers">Meus Vouchers</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
                <div class="notifications">
                    <i class="noti-count">02</i>
                </div>
            <div class="user">
                <div class="user-image" ng-click=""><img ng-src={{userImage}} alt="" /></div>
                <div class="user-name hide-mini" ng-cloak><a href="#/profile">{{currentClient.name}}</a><div class="user-points ng-binding" style="color: #1e7cd9;font-size: 0.7rem;margin-top: -57px;">{{currentClient.points}}</div></div>
                <div class="user-dropdown"><a href=""></a></div>
                <div class="user-header-menu">
                    <ul>
                        <li class="active conta"><a href="#/profile">Minha conta</a></li>
                        <li class="meus-alertas"><a href="">Meus Alertas</a></li>
                        <li class="salir"><a href="" ng-click="logout()">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 map-content marana" style="margin-top: 75px;">
                <div ui-view></div>
            </div>
            <div class="col-md-3 sidebar-right" ng-controller="rightPanelCtrl" style="position: fixed;height: calc(100vh - 75px);right: 17px;top: 75px;    width: calc(25% - 16px) !important;">
                <div class="sidebar-cont" style="position: relative;height: calc(100vh - 75px);">
                    <div class="row" style="height: calc(100vh - 75px);position: fixed;width: 22%;" ng-cloak>
                        <div style="position: fixed;width: 22%;">
                            <h2>Histórico de Pontos</h2>
                            <div class="historico" lazy-scroll>
                                <div class="flechita"></div>
                                <ul>
                                    <li ng-show="!activities || activities.length < 1">
                                        <div>You have an empty history, start earning points now!</div>
                                    </li>
                                    <li ng-repeat="activity in activities">
                                        <h4>Shopping - {{storesNames[activity.store] }}</h4>
                                        <div class="hist-info date">{{activity.createdAt | date:'dd/MM/yyyy h:mma'}}</div>
                                        <div ng-class="{ 'hist-info acumulados': activity.type === 'Acumulados',
                                                         'hist-info trocados': activity.type === 'Trocados' }">
                                            {{activity.points}} {{activity.type}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- build:js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/angular-ui-mask/src/mask.js"></script>
<script src="bower_components/node-dateformat/lib/dateformat.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:angular -->
<script src="app/vendors/md5.min.vendor.js"></script>
<script src="app/app.js"></script>
<!--build:controllers-->
<script src="app/controllers/right_panel.ctrl.js"></script>
<script src="app/controllers/map.ctrl.js"></script>
<script src="app/controllers/profile.ctrl.js"></script>
<script src="app/controllers/store.ctrl.js"></script>
<script src="app/controllers/reward_modal.ctrl.js"></script>
<script src="app/controllers/vouchers.ctrl.js"></script>
<script src="app/controllers/singleVoucher.ctrl.js"></script>
<!--endbuild-->

<!--build:services-->
<script src="app/services/clients.srv.js"></script>
<script src="app/services/stores.srv.js"></script>
<script src="app/services/places.srv.js"></script>
<script src="app/services/rewards.srv.js"></script>
<script src="app/services/vouchers.srv.js"></script>
<script src="app/services/confirmation.srv.js"></script>
<script src="app/services/rewardIdent.srv.js"></script>
<script src="app/services/retailer.srv.js"></script>
<script src="app/services/voucherIdent.srv.js"></script>
<!--enbuild-->

<!--build:directives-->
<script src="app/directives/lazy_scroll.drv.js"></script>
<script src="app/directives/isolate.drv.js"></script>
<!--endbuild-->
<!-- endbuild -->

<!--<script
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&language=en&key=AIzaSyDxEu6bKLr
    i9y1E6JpBKBCNM9IBJXAHiRU"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKzIKyXjQFrpTG2B4InBjmzydcjQKLWdM&callback=angular.noop&libraries=places&libraries=geometry" type="text/javascript"></script>

<!-- build:livereload -->
<script src="http://localhost:35729/livereload.js"></script>
<!-- endbuild -->

<script>
    $('.user-dropdown').click(function(){
        $('.user-header-menu').fadeToggle();
    });

    if($(window).width() < 640) {
        var cerrado = false;        
    } else {
        var cerrado = true;
    }    

    function toggleSidebar() {
        console.log('clicked flechita');
        if($(window).width() < 640) {
            console.log($(window).width());
            if(cerrado === true ) { // esta cerrado, abrir y poner cerrado false
                $('.sidebar-right').animate({'right': '0px'},800);
                cerrado = false;
            } else { // si cerrado es false, esta abierto, por lo tanto cerrar.
                $('.sidebar-right').animate({'right': '-65px'},800);
                cerrado = true;
            }
        } else {
            if(cerrado === false ) { 
                $('.sidebar-right').animate({'right': '17px'},800);                
                $('.map-content').removeClass('col-md-10');
                $('.map-content').addClass('col-md-9');
                $('.map-content').addClass('marana');
                cerrado = true;
            } else { 
                $('.sidebar-right').animate({'right': '-450px'},800);
                $('.map-content').removeClass('col-md-9');
                $('.map-content').addClass('col-md-10');
                $('.map-content').removeClass('marana');

                cerrado = false;
            }
        }
    }

    $('.sidebar-right').click(function(){
        toggleSidebar();
    });
    //
    //    $('.flechita').click(function(){
    //        toggleSidebar();
    //    });
</script>

</html>
