<div ng-controller="app.core.rightPanel.rightPanelCtrl">
    <div>
        <ul class="right-panel-edit" lazy-scroll>

            <li ng-show="!activities || activities.length < 1">
                <div translate="NO_INFORMATION"></div>
            </li>

            <li ng-repeat="activity in activities"
                ng-include="'app/core/right_panel/activity_type/' +  activity.type.toLowerCase() + '.tpl.html'"></li>
        </ul>
    </div>
</div>
