<div>
    <form name="supportForm" class="support" ng-submit="send(supportForm)" novalidate>

        <div ng-class="{'has-error': isShowErrors(supportForm, 'topic')}" clear-typeahead>

            <span translate="TOPIC"></span>

            <div class="span-error" ng-messages="supportForm.topic.$error"
                 ng-show="isShowErrors(supportForm, 'topic')">
                <label ng-message="required" translate="REQUIRED_FIELD"></label>
            </div>

            <div class="btn-group" uib-dropdown keyboard-nav>

                <input id="email-btn-keyboard-nav" name="topic" type="text" ng-model="topic" uib-dropdown-toggle
                       ng-required="true">

                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="email-btn-keyboard-nav">

                    <li role="menuitem">
                        <div ng-click="setTopic('SERVER_ERROR')">
                            <span>Server Error</span>
                        </div>
                    </li>

                    <li role="menuitem">
                        <div ng-click="setTopic('POINTS_NOT_RECHARGE')">
                            <span>Points not recharge</span>
                        </div>
                    </li>

                    <li role="menuitem">
                        <div ng-click="setTopic('EMAIL_VALIDATION')">
                            <span>Email validation</span>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div ng-class="{'has-error': isShowErrors(supportForm, 'subject')}">

            <span>Subject</span>

            <div class="span-error" ng-messages="supportForm.subject.$error"
                 ng-show="isShowErrors(supportForm, 'subject')">
                <label ng-message="required">Subject is required</label>
            </div>

            <div class="btn-group">
                <input name="subject" type="text" ng-model="subject" ng-required="true">
            </div>

        </div>

        <div ng-class="{'has-error': isShowErrors(supportForm, 'message')}" clear-typeahead>

            <span translate="MESSAGE"></span>

            <div class="span-error" ng-messages="supportForm.message.$error"
                 ng-show="isShowErrors(supportForm, 'message')">
                <label ng-message="required" translate="REQUIRED_FIELD"></label>
            </div>

            <div>
                <textarea name="message" cols="40" rows="3" ng-model="message" ng-required="true"></textarea>
            </div>

        </div>

        <div>
            <input type="submit" class="btn btn-success" value="Send"
                   ng-disabled="disabledSave || (supportForm.$invalid && tryToSave)">
        </div>

    </form>

    <div>

        <h3 translate="YOUR_MANAGER"></h3><br>

        <div ng-show="manager">
            <p><span translate="NAME"></span><span> {{ manager.name }}</span></p>
            <p><span translate="EMAIL"></span><span>{{ manager.email }}</span></p>
        </div>

    </div>
</div>
