<section>
    <h2 class="section-title">Bem-vindo ao Quero Pontos</h2>

    <a href="#client" class="btn btn-default btn-lg"><i class="fa fa-user"></i> Cliente</a>
    <a href="#retailer" class="btn btn-default btn-lg"><i class="fa fa-building"></i> Varejista</a>

</section>
