<div class="varejista-inner">
    <div ng-hide="sentForm">
        <h1>Solicitar Pontos</h1>
        <p>Dashboard / <a href="#">solicitar pontos</a></p>
        <div class="sub-content clearfix">
            <h2>Minha conta</h2>
            <p>Edite suas informacoes caso necessario.</p>
            <div class="minha-conta">
                <div class="conta-content" style="padding: 0">
                    <form name="profileInfoForm" ng-submit="saveRetailer(profileInfoForm)">
                        <div class="group-hw">
                            <label for="nome">Nome completo</label>
                            {{currentRetailer.nome}}
                            <input id="nome" type="text" ng-value="editRetailer.name" ng-model="editRetailer.name" ng-pattern="/^[a-zA-Z\s]*$/"/>
                        </div>
                        <div class="group-hw">
                            <label for="admin">Administrador</label>
                            <select id="admin" style="background: #f1eeee;color: #6c6c6c;">
                                <option ng-value="editRetailer.manager">{{editRetailer.manager}}</option>
                            </select>
                        </div>
                        <div class="group-fw">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" ng-value="editRetailer.email" ng-model="editRetailer.email"/>
                        </div>
                        <div class="group-fw">
                            <p ng-click="showResetPassword()" style="margin: 0; outline:none; text-align: left;padding-bottom: 10px;">Reset Password</p>
                        </div>
                        <div class="group-fw">
                            <button class="btn btn-greenalt">SALVAR</button>
                        </div>
                    </form>
                    <div class="passform" ng-show="showrp">
                        <form name="passForm" ng-submit="setNewPassword(passForm)">
                            <h2>Password Reset</h2>
                            <div class="group-fw">
                                <label for="nova-senha">Seu Senha Actual</label>
                                <input id="nova-senha" ng-model='passwords.password' type="password" />
                            </div>
                            <div class="group-hw">
                                <label for="nova-senha">Nova Senha</label>
                                <input id="nova-senha" ng-model='passwords.newPassword' type="password" />
                            </div>
                            <div class="group-hw" style="clear:none">
                                <label for="confirmar-senha">Confirmar Senha</label>
                                <input id="confirmar-senha" ng-model='passwords.newPasswordVerify' type="password" />
                            </div>
                            <div class="group-fw">
                                <p class="errormsg" ng-show="error2">{{errorMsg}}</p>
                            </div>
                            <div class="group-fw">
                                <button class="btn btn-greenalt">SALVAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="successmsg" ng-show="sentForm">
        <h2>Points Requested!</h2>
        <p>Your <strong>{{pointsF}}</strong> points has been successfully requested!</p>
        <button class="btn btn-blue" ng-click="reload()">Request more points</button>
    </div>
</div>
