<div class="varejista-inner">
    <h1>Suporte</h1>
    <div class="sub-content clearfix">
        <h2>Suporte Técnico</h2>
        <p>Enviar uma mensagem sobre um tópico com um assunto</p>
        <form class="clearfix" name="support">
            <div class="group-45">
                <label class="label-add">
                    Escolher um tópico
                </label>
                    <select ng-model="topic">
                        <option value="" selected disabled>Eleger um tópico do seu assunto</option>
                        <option ng-repeat="x in options" value="{{x}}">{{x}}</option>
                    </select>
            </div>
            <div class="group-10"><p>e</p></div>
            <div class="group-45">
                <label class="label-qua">
                    Sujeito
                </label>
                <input placeholder="Sujeito" type="text" ng-model="subject" required>
            </div>
            <div class="group-100">
                <label>Mensagem</label>
                <textarea placeholder="Escreva uma mensagem" ng-model="message" required></textarea>
                <br>
                <label ng-show="emptyTopic" style="color:red">Escolher um tópico</label>
            </div>
            <br>
            <button class="btn btn-greenalt" ng-click="send()">ENVIAR</button>
        </form>
        <div class="contato">
            <h3>Seu gerente de relacionamento é: </h3>
            <p>{{manager.name}}</p>
        </div>
        <div class="contato">
            <div class="row">
                <div class="col-md-6">
                    <div class="content email">
                        <h3>E-mail</h3>
                        <p>{{manager.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
