<div>
    <div>
        <div class="modal-header text-right">
            <a href="javascript:void(0)" ng-click="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>

        <div class="modal-body">

            <div class="text-bold" translate="CLIENT_INFO"></div>

            <div>
                <div>
                    <span class="text-bold" translate="NAME"></span>
                    <span>{{ client.name }}</span>
                </div>
                <div>
                    <span class="text-bold" translate="EMAIL"></span>
                    <span>{{ client.email }}</span>
                </div>
                <div>
                    <span class="text-bold" translate="CPF"></span>
                    <span>{{ client.cpf }}</span>
                </div>
                <div>
                    <span class="text-bold" translate="CLIENT_DOTS"></span>
                    <span>{{ +client.points + +client.pointsInVouchers | currency : "" : 0}}</span>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-content">

        <div ng-class="{'has-error': disabledSave}">
            <span class="text-bold" translate="CHOOSE_REWARD"></span>

            <div class="span-error" ng-show="disabledSave">
                <label translate="MUST_CHOOSE_REWARD"></label>
            </div>
        </div>

        <div class="text-left">
            <ul ng-class="{'has-error': disabledSave}" class="client-info clearfix">

                <li class="reward-in-reward">
                    <div class="client-name" translate="REWARD_TITLE"></div>
                    <div class="client-points" translate="REWARD_PRICE"></div>
                </li>

                <li ng-repeat="reward in rewards" class="reward-in-reward">

                    <div>
                        <input type="radio" name="reward" ng-click="chooseReward(reward)">
                        {{ reward.title }}
                    </div>

                    <div>
                        <span> {{ reward.points }}</span>
                        <span translate="DOTS"></span>
                    </div>

                </li>

            </ul>
        </div>
    </div>

    <div class="modal-footer" ng-hide="disableSendEmail">
        <input type="button" value="Send E-mail" ng-click="send()" ng-disabled="disabledSave">
    </div>

    <div class="modal-footer" ng-show="disableSendEmail">
        <p translate="LIMIT_EMAILS" style="color: #f00;"></p>
    </div>
</div>
