<div class="email-theme">

    <div>

        <h2 translate="CLIENT_INFORMATION"></h2>

        <div class="client-info">
            <div ng-show="clients.length > 1">
                <span translate="SELECTED_CLIENTS"></span>
                <span>{{ clients.length }}</span>
            </div>

            <div ng-show="clients.length === 1">

                <span translate="NAME">></span>
                <span>{{ clients[0].name }}</span>
                </br>
                <span translate="EMAIL"></span>
                <span>{{ clients[0].email }}</span>

            </div>
        </div>

    </div>

    <div class="clink-to-clientgroup">
        <a href="javascript:void(0)" translate="BACK_TO_CLIENT_GROUP" ui-sref="clientsGroup"></a>
    </div>

    <div>
        <h2 translate="TEMPLATES"></h2>

        <div class="templates">

            <div class="email-template birthday" ng-click="chooseEmailTheme('BIRTHDAY')" ng-class="{'active': emailTheme === 'BIRTHDAY'}">
                <span translate="BIRTHDAY"></span>
            </div>

            <div class="email-template christmas" ng-click="chooseEmailTheme('CHRISTMAS')" ng-class="{'active': emailTheme === 'CHRISTMAS'}">
                <span translate="CHRISTMAS"></span>
            </div>

            <div class="email-template voucher" ng-click="chooseEmailTheme('VOUCHER')" ng-class="{'active': emailTheme === 'VOUCHER'}">
                <span translate="VOUCHER"></span>
            </div>

        </div>
    </div>

    <input type="button" ng-click="send()" class="btn btn-success" value="Send" ng-disabled="disabledSave">

</div>
