<div>

    <div class="modal-header text-right">
        <a href="javascript:void(0)" ng-click="closeModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class="modal-header">

        <div ng-class="{'has-error': disabledSave}">
            <span class="text-bold" translate="CHOOSE_REWARD"></span>

            <div class="span-error" ng-show="disabledSave">
                <label translate="MUST_CHOOSE_REWARD"></label>
            </div>
        </div>

        <div class="text-left">
            <ul ng-class="{'has-error': disabledSave}" class="client-info clearfix">

                <li class="reward-in-reward">
                    <div class="client-name" translate="REWARD_TITLE"></div>
                    <div class="client-points" translate="REWARD_PRICE"></div>
                </li>

                <li ng-repeat="reward in rewards" class="reward-in-reward">

                    <div>
                        <input type="radio" name="reward" ng-click="chooseReward(reward)">
                        {{ reward.title }}
                    </div>

                    <div>
                        <span> {{ reward.points }}</span>
                        <span translate="DOTS"></span>
                    </div>

                </li>

            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <input type="button" ng-click="send()" value="Send Email" ng-disabled="disabledSave">
    </div>
</div>
