<div class="confirm-email-container">
    <div class="message">
        <h1>Confirm Email Address</h1>
        <p>We emailed a confirmation link to {{ currentClient.email }}. <br>Click the link in that email to finish
            registering</p>
    </div>

    <div class="send-again">
        <input type="submit" class="btn btn-success btn-lg" ng-disabled="disabledSend"
               value="Send Again" ng-click="sendAgain()">
    </div>

</div>
