<div ng-controller="app.core.rewards.editAddRewardsCtrl" class="">
    <form name="rewardInfoForm" class="reward-info" ng-submit="saveReward(rewardInfoForm)">

        <div ng-class="{'has-error': isShowErrors(rewardInfoForm, 'title')}" class="rewards-edit">

            <span translate="TITLE"></span>

            <div class="span-error" ng-messages="rewardInfoForm.title.$error"
                 ng-show="isShowErrors(rewardInfoForm, 'title')">

                <label ng-message="required" translate="REQUIRED_FIELD"></label>
            </div>

            <input type="text" class="text" name="title" ng-model="editReward.title" ng-required="true">
        </div>

        <div ng-class="{'has-error': isShowErrors(rewardInfoForm, 'points')}" class="rewards-edit" clear-typeahead>

            <span translate="POINTS"></span>

            <div class="span-error" ng-messages="rewardInfoForm.points.$error"
                 ng-show="isShowErrors(rewardInfoForm, 'points')">
                <label ng-message="required" translate="REQUIRED_FIELD"></label>
                <label ng-message="min" translate="MUST_BE_GREATER_THAN_ZERO"></label>
            </div>

            <input type="text" class="text" name="points" ng-model="editReward.points"
                   ui-number-mask="2" min="0.01" ng-required="true">

        </div>

        <div>
            <input type="submit" class="btn btn-success" value="Save"
                   ng-disabled="disabledSave || (rewardInfoForm.$invalid && tryToSave)">

            <input type="button" class="btn btn-success" ng-click="editAddReward()" value="Cancel">
        </div>

    </form>
</div>
