<div ng-form="addressForm">

    <div class="" ng-class="{'has-error': isShowingErrors(addressForm, 'address')}">

        <span translate="ADDRESS"></span>

        <div ng-messages="addressForm.address.$error"
             ng-show="isShowingErrors(addressForm, 'address')">

            <label class="" ng-message="required" translate="PLEASE_ENTER_ADDRESS"></label>
            <label class="" ng-message="correct" translate="PLEASE_SELECT_ADDRESS"></label>

        </div>

        <input class="" type="text" ng-model="model.address" autocomplete="off"
               name="address" map-input required="true">
    </div>

    <div class="map-container" map></div>

</div>
