<div>
    <div class="">
        <p>{{ messageConfirm }}</p>
    </div>
    <div class="">
        <input ng-hide="hideCancel" type="button" data-dismiss='modal' ng-click=cancelConfirm() value="Cancel">
        <input type="button" ng-click=approveConfirm() ng-value="buttonConfirm">
    </div>
</div>
