<div class="sl-icon"><i class="fa" ng-class="{ 'fa-minus': activity.type === 'USE_VOUCHER', 'fa-plus': activity.type === 'UPDATE_DOTS' }"></i></div>

<div class="sl-content">
    <div class="sl-date text-muted" title="{{activity.createdAt}}">{{ activity.createdAt | date:'dd/MM/yyyy h:mma' }}</div>
    <p>
        {{ storesNames[activity.store] }} 
        <span ng-class="{ 
            'text-danger': activity.type === 'USE_VOUCHER', 
            'text-success': activity.type === 'UPDATE_DOTS' }">
            {{ activity.points }} <span translate="DOTS"></span>
        </span>
    </p>
</div>
