<div class="container-fluid">
    <div class="row">
        <div class="edit-reward-modal clearfix">
            <form name="rewardInfoForm" class="reward-info" ng-submit="saveReward(rewardInfoForm)" ng-controller="editRecompensasCtrl">
                <h3 style="font-size: 1rem; text-align: left;">Edit reward</h3>
                <div class="fgroup col-xs-6">
                    <label for="titulo">Titulo*</label>
                    {{currentRetailer.nome}}
                    <input placeholder="Insira o titulo" id="titulo" type="text" ng-value="naame" ng-model="rewardEditing.title" ng-required="true"/>
                </div>
                <div class="fgroup col-xs-6" style="clear:none;">
                    <label for="pontos">Pontos*</label>
                    <input id="pontos" type="text" step="1" placeholder="Insira a quantidade de pontos" ng-model="rewardEditing.points"
                           ui-number-mask="2" min="1" max="1000000" ng-required="true" />
                </div>
                <!--<div class="fgroup group-fw">-->
                <!--<label for="descricao">Descricao da promocao*</label>-->
                <!--<input placeholder="Insira uma descricao curta da promocao" id="descricao" type="email" ng-value="editRetailer.email" />-->
                <!--</div>-->
                <div class="fgroup col-xs-12">
                    <div class="btn-grouprw">
                        <button class="btn btn-greenalt">SALVAR</button>
                        <button class="btn btn-gray" ng-click="closeModal()">CANCELAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
