<div class="varejista-inner">
    <div ng-hide="sentForm">
        <h1>Recompensas</h1>
        <p>Dashboard / <a href="#">recompensas</a></p>
        <div class="sub-content clearfix">
            <h2>Criacao da recompensa</h2>
            <p ng-hide="rewards.length === 0">Insira as informacoes da sua loja como local, nome da promocao</p>
            <p ng-show="rewards.length === 0">You don't have rewards created!</p>
            <div class="recompensas">
                <div class="rcp-table" ng-show="rewards.length > 0">
                    <table class="varejistable">
                        <thead>
                        <tr class="titles">
                            <th class="row-05"></th>
                            <th class="row-02 text-left">Descricao da recompensa</th>
                            <th class="row-05 hide-mobile">Pontos</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="reward in rewards | orderBy:'createdAt':false" ng-show="rewards.length > 0">
                            <td class="rwtd">
                                <div class="rewardbtns">
                                    <button value="Edit" ng-click="showAdvanced(reward)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                    <button value="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </div>
                            </td>
                            <td>
                                <p class="hide-mini">{{ reward.title }}</p>
                            </td>
                            <td class="hide-mobile points" style="text-align: center">{{ reward.points | currency:" ":0 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="rcp-add">
                    <h2>Adicionar recompensa</h2>
                    <p ng-hide="rewards.length > 5">Voce pode adicionar mais <strong>{{ 6 - rewards.length }}</strong> recompensas</p>
                    <p ng-show="rewards.length > 5">You have not rewards to create!</p>
                    <form ng-hide="rewards.length > 5" name="rewardInfoForm" class="reward-info" ng-submit="saveReward(rewardInfoForm)">
                        <div class="fgroup group-hw">
                            <label for="titulo">Titulo*</label>
                            {{currentRetailer.nome}}
                            <input placeholder="Insira o titulo" id="titulo" type="text" ng-value="editRetailer.name" ng-model="editReward.title" ng-required="true"/>
                        </div>
                        <div class="fgroup group-hw" style="clear:none;">
                            <label for="pontos">Pontos*</label>
                            <input id="pontos" type="number" placeholder="Insira a quantidade de pontos" ng-model="editReward.points"
                                   ui-number-mask="2" min="1" ng-required="true" />
                        </div>
                        <!--<div class="fgroup group-fw">-->
                            <!--<label for="descricao">Descricao da promocao*</label>-->
                            <!--<input placeholder="Insira uma descricao curta da promocao" id="descricao" type="email" ng-value="editRetailer.email" />-->
                        <!--</div>-->
                        <div class="fgroup group-fw">
                            <button class="btn btn-greenalt">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
