<div class="varejista-inner sototiko">
    <h1>Bem vindo a sua área administrativa</h1>
    <p>Dashboard/<a href="#">Inicio</a></p>
    <div class="sub-content clearfix dash">
        <div class="row dashhead">
            <div class="col-md-3">
                <h2 style="text-align: center">Conversoes/Clientes</h2>
            </div>
            <div class="col-md-3">
                <h2 style="text-align: center">Cupons</h2>
            </div>
            <div class="col-md-3">
                <h2 style="text-align: center">Cupons distribuidos</h2>
            </div>
            <div class="col-md-3">
                <h2 style="text-align: center">Aumento nas vendas</h2>
            </div>
        </div>
        <div class="row dashhead">
            <div class="col-md-3">
                <p style="text-align: center">{{currentRetailer.clients.length}}</p>
            </div>
            <div class="col-md-3">
                <p style="text-align: center">R$ 100.340,37</p>
            </div>
            <div class="col-md-3">
                <p style="text-align: center">469</p>
            </div>
            <div class="col-md-3">
                <p  style="text-align: center">93.61%</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="sub-content clearfix" style="min-height: 360px;">
                <h3>Aniversariantes do mes</h3>
                <p style="text-align: center" ng-show="birthdayClients.length===0">You don't have any birthdays to celebrate on this month</p>
                <p ng-show="birthdayClients.length===0" class="setete"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span></p>
                <table class="table" ng-show="birthdayClients.length>0">
                    <thead>
                    <tr>
                        <th>
                           <h4>Lista de Clientes</h4>
                        </th>
                        <th>
                            <h4>Pontos</h4>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in birthdayClients">
                           <td><p>{{client.name}}</p></td>
                           <td><p>{{client.points}} pontos</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="sub-content clearfix" style="min-height: 360px;">
                <h3>Melhores Clientes</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <h4>Lista de Clientes</h4>
                        </th>
                        <th>
                            <h4>Pontos</h4>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clients|orderBy: '-points'|limitTo:4">
                        <td><p>{{client.name}}</p></td>
                        <td><p>{{client.points}}</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="sub-content clearfix">
        <h3>Pontos trocados por cupons</h3>
        <table class="marditabla">
            <thead>
            <tr>
                <th>
                    <h4>Cliente</h4>
                </th>
                <th>
                    <h4>Código do cupom</h4>
                </th>
                <th>
                    <h4>Status</h4>
                </th>
                <th>
                    <h4>Título</h4>
                </th>
                <th>
                    <h4>Pontos</h4>
                </th>
            </tr>
            </thead>
            <tbody style="height: 500px;display: block;overflow-y:auto;">
            <tr ng-repeat="reward in rewardsInVouchers">
                <td><p>{{reward.client.name}}</p></td>
                <td><p>{{reward.voucher.code}}</p></td>
                <td style="text-align: center;padding: 10px 0;"><button ng-class="reward.voucher.class" class="etiketa">{{reward.voucher.status}}</button></td>
                <td><p>{{reward.voucher.title}}</p></td>
                <td><p>{{reward.voucher.points}} pontos</p></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="sub-content clearfix">
                <h3>Genero</h3>
                <div class="chartscontainer" ng-show="gender.length > 0">
                    <canvas id="pie"
                            class="chart chart-pie"
                            chart-data="gender"
                            height="300"
                            width="300"
                            options="options"
                            chart-labels="genderLabels">
                    </canvas>
                </div>
                <div class="chartleyenda">
                    <div class="leyendagroup">
                        <div class="leyendasq male"></div>
                        <p>Male</p>
                    </div>
                    <div class="leyendagroup">
                        <div class="leyendasq female"></div>
                        <p>Female</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="sub-content clearfix">
                <h3>Grupo de Idades</h3>
                <div class="chartscontainer">
                    <canvas id="pie2"
                            class="chart chart-doughnut"
                            chart-data="ageGroup"
                            height="300px"
                            width="300px"
                            options="options"
                            chart-labels="ageGroupLabels">
                    </canvas>
                </div>
                <div class="chartleyenda">
                    <div class="leyendagroup mini">
                        <div class="leyendasub">
                            <div class="leyendasq mini f01"></div>
                            <p>00-17</p>
                        </div>
                        <div class="leyendasub">
                            <div class="leyendasq mini f02"></div>
                            <p>18-25</p>
                        </div>
                        <div class="leyendasub">
                            <div class="leyendasq mini f03"></div>
                            <p>26-30</p>
                        </div>
                    </div>
                    <div class="leyendagroup mini">
                        <div class="leyendasub">
                            <div class="leyendasq mini f04"></div>
                            <p>30-40</p>
                        </div>
                        <div class="leyendasub">
                            <div class="leyendasq mini f05"></div>
                            <p>41-99</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
