<div>
    <div class="modal-header">
        <span class="modal-title">{{ 'FORGOT_PASSWORD' | translate }}</span>
        <a ng-click="close()" class="pull-right">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>

    <div class="modal-body">
        <form name="forgotPasswordForm" ng-submit="sendCpf(forgotPasswordForm)">

            <div class="form-group row">
                <div class="col-sm-6" ng-class="{'has-error': isShowErrors(forgotPasswordForm, 'cpf')}">
                    <label translate="CPF"></label>

                    <div class="span-error" ng-messages="forgotPasswordForm.cpf.$error"
                         ng-show="isShowErrors(forgotPasswordForm, 'cpf')">
                        <span ng-message="required" translate="REQUIRED_FIELD"></span>
                        <span ng-message="cpf" translate="IS_INVALID"></span>
                        <span ng-message="wrongCpf" translate="WRONG_CPF"></span>
                    </div>

                    <input type="text" name="cpf" placeholder="CPF" ng-model="cpf" ng-required="true"
                           ui-br-cpf-mask autocomplete="off"
                           class="form-control input-lg">

                </div>

            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn btn-lg btn-success" value="{{ 'SEND' | translate }}" autocomplete="off"
                       ng-disabled="disabledSave || (forgotPasswordForm.$invalid && tryToSave)">
            </div>

        </form>
    </div>
</div>
