<div class="point-container">
    <span>{{ currentClient.points }}</span>
    <span translate="FREE_DOTS"></span>
    </br>
    <span>{{ currentClient.pointsInVouchers }}</span>
    <span translate="DOTS_IN_VOUCHER"></span>
</div>
