<div ng-include="'app/core/right_panel/points.tpl.html'"></div>

<div ng-controller="app.core.rightPanel.rightPanelCtrl">
    <div class="streamline b-l m-b">
        <ul class="right-panel-edit" lazy-scroll>

            <li ng-show="!activities || activities.length < 1">
                <div translate="NO_INFORMATION"></div>
            </li>

            <li ng-repeat="activity in activities"
                class="sl-item" 
                ng-class="{ 'b-danger': activity.type === 'USE_VOUCHER', 'b-success': activity.type === 'UPDATE_DOTS' }"
                ng-include="'app/core/right_panel/activity_type/' +  activity.type.toLowerCase() + '.tpl.html'"></li>
        </ul>
    </div>
</div>
