<section class="col-sm-6">
    <h2 class="section-title">Manager Login</h2><!--translate="CLIENT_LOGIN"-->
    
    <form name="signInManagerForm" ng-submit="managerLogin(signInManagerForm)">

        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signInManagerForm, 'email')}">
                <label>Email quero-pontos-rm@mail.com</label> <!-- translate="LOGIN"-->

                <div class="span-error" ng-messages="signInManagerForm.email.$error"
                     ng-show="isShowErrors(signInManagerForm, 'email')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="wrongEmail" translate="WRONG_EMAIL"></span>
                    <span ng-message="pattern" translate="VALID_EMAIL"></span>
                </div>

                <input type="text" name="email" placeholder="Email" ng-model="manager.email" ng-required="true"
                       autocomplete="off"  ng-pattern="emailPattern"
                       class="form-control input-lg">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signInManagerForm, 'password')}">
                <label translate="PASSWORD"></label>

                <div class="span-error" ng-messages="signInManagerForm.password.$error"
                     ng-show="isShowErrors(signInManagerForm, 'password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                    <span ng-message="wrongPassword" translate="WRONG_PASSWORD"></span>
                </div>

                <div class="input-group">
                    <input type="{{inputType}}" name="password" placeholder="{{ 'PASSWORD' | translate }}"
                           ng-model="manager.password"
                           ng-required="true" autocomplete="off"
                           class="form-control input-lg">

                    <a ng-click="hideShowPassword()" class="input-group-addon">
                        <span class="pass-ic" ng-hide="inputType === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="pass-ic" ng-hide="inputType === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group">            
            <button type="submit"
                class="btn btn-lg btn-success"
                ng-disabled="disabledSave || (signInManagerForm.$invalid && tryToSignIn)">
               {{ 'LOGIN' | translate }}
            </button>
        </div>

    </form>

</section>

