<div>
    <div class="modal-header text-right">
        <a ng-click="close()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>

        <h3 translate="RESET_PASSWORDS" class="text-center"></h3>

    </div>

    <div class="modal-body text-center">
        <form name="resetPasswordForm" ng-submit="resetPassword(resetPasswordForm)">

            <div ng-class="{'has-error': isShowErrors(resetPasswordForm, 'password')}">
                <div translate="PASSWORD" class="text-left"></div>

                <div class="span-error" ng-messages="resetPasswordForm.password.$error"
                     ng-show="isShowErrors(resetPasswordForm, 'password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                    <span ng-message="wrongPassword" translate="WRONG_PASSWORD"></span>
                </div>

                <input type="{{ inputPassType.main }}" name="password" placeholder="{{ 'PASSWORD' | translate }}"
                       ng-model="resetPasswords.password" ng-minlength="5"
                       ng-required="true" autocomplete="off">

                <a ng-click="hideShowPassword('main')">
                    <span class="pass-ic" ng-hide="inputType === 'text'">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>

                    <span class="pass-ic" ng-hide="inputType === 'password'">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </span>

                </a>

            </div>

            <div ng-class="{'has-error': isShowErrors(resetPasswordForm, 'confirmPassword')}">
                <div translate="PASSWORD_CONFIRM" class="text-left"></div>

                <div class="span-error" ng-messages="resetPasswordForm.confirmPassword.$error"
                     ng-show="isShowErrors(resetPasswordForm, 'confirmPassword')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                    <span ng-message="passwordVerify" translate="NOT_EQUAL"></span>
                </div>

                <input type="{{ inputPassType.confirm }}" name="confirmPassword"
                       placeholder="{{ 'PASSWORD' | translate }}"
                       ng-model="resetPasswords.confirmPassword" password-verify="resetPasswords.password"
                       ng-required="true" autocomplete="off" ng-minlength="5">

                <a ng-click="hideShowPassword('confirm')">
                    <span class="pass-ic" ng-hide="inputType === 'text'">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>

                    <span class="pass-ic" ng-hide="inputType === 'password'">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </span>

                </a>

            </div>

            <input type="submit" class="btn btn-success" value="{{ 'OK' | translate }}" autocomplete="off"
                   ng-disabled="disabledSave || (resetPasswordForm.$invalid && tryToSave)">
        </form>
    </div>
</div>
