<div>

    <div class="search-field">
        <span class="text-bold" translate="SEARCH"></span>
        <input ng-model="search.name">
    </div>

    <div class="dropdown-buttons client-group-btns">

        <div ng-show="disableSendEmail" style="float: right;color: #f00;">
            <p translate="LIMIT_EMAILS"></p>
        </div>

        <div class="btn-group pull-right" uib-dropdown keyboard-nav ng-hide="disableSendEmail">
            <input type="button" ng-click="sendingEmail()" ng-value="'SEND_EMAIL' | translate">
        </div>

        <div class="btn-group" uib-dropdown keyboard-nav auto-close="outsideClick">

            <button id="filter-btn-keyboard-nav" class="btn btn-primary" uib-dropdown-toggle>
                <span translate="FILTER"></span>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu filter-group" uib-dropdown-menu role="menu"
                aria-labelledby="filter-btn-keyboard-nav">

                <li role="menuitem">

                    <a href="javascript:void(0)" ng-class="{'active': filter.birthday}">
                        <div ng-click="chooseBirthday()">
                            <span translate="BIRTHDAY"></span>
                        </div>
                    </a>

                </li>

                <li role="menuitem">

                    <a href="javascript:void(0)" ng-class="{'active': filter.inactive}">
                        <div ng-click="chooseInactive()">
                            <span translate="INACTIVE"></span>
                        </div>
                    </a>

                </li>

                <li role="menuitem">

                    <a href="javascript:void(0)" ng-class="{'active' : filter.profitable}">
                        <div ng-click="chooseProfitable()">
                            <span translate="MOST_PROFITABLE"></span>
                        </div>
                    </a>

                </li>

                <li role="menuitem">

                    <div class="text-center">
                        <span translate="AGE_GROUP" class="not-pointer"></span>
                    </div>

                    <a href="javascript:void(0)" ng-class="{'active': filter.ageGroup.ageTo == 17}">
                        <div ng-click="chooseAge('AGE_GROUP_17')">
                            <span translate="17_LEES"></span>
                        </div>
                    </a>

                    <a href="javascript:void(0)" ng-class="{'active': filter.ageGroup.ageTo == 25}">
                        <div ng-click="chooseAge('AGE_GROUP_18_25')">
                            <span translate="18-25"></span>
                        </div>
                    </a>

                    <a href="javascript:void(0)" ng-class="{'active': filter.ageGroup.ageTo == 30}">

                        <div ng-click="chooseAge('AGE_GROUP_26_30')">
                            <span translate="26-30"></span>
                        </div>

                    </a>

                    <a href="javascript:void(0)" ng-class="{'active': filter.ageGroup.ageTo == 40}">
                        <div ng-click="chooseAge('AGE_GROUP_30_40')">
                            <span translate="30-40"></span>
                        </div>
                    </a>

                    <a href="javascript:void(0)" ng-class="{'active': filter.ageGroup.ageFrom == 41}">
                        <div ng-click="chooseAge('AGE_GROUP_41')">
                            <span translate="41_MORE"></span>
                        </div>
                    </a>
                </li>

                <li role="menuitem">

                    <div class="text-center">
                        <span translate="GENDER" class="not-pointer"></span>
                    </div>

                    <a href="javascript:void(0)" ng-class="{'active': filter.gender === 'M'}">
                        <div type="button" ng-click="chooseGender('GENDER_M')">
                            <span translate="MALE"></span>
                        </div>
                    </a>

                    <a href="javascript:void(0)" ng-class="{'active': filter.gender === 'F'}">
                        <div type="button" ng-click="chooseGender('GENDER_F')">
                            <span translate="FEMALE"></span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div ng-show="clients.length === 0" translate="NO_CLIENTS"></div>

    <div ng-show="clients.length > 0">

        <ul class="client-container clearfix" scroll-to>

            <li class="client client-header not-pointer">

                <div class="client-checkbox">
                    <input type="checkbox" ng-model="selectedAll" ng-click="selectAll()"/>
                </div>

                <div class="client-name">
                    <a ng-click="sortClients('name')" translate="CLIENT_NAME" class="pointer"></a>
                    <span class="sort-order" ng-show="orderClient.predicate === 'name'"
                          ng-class="{reverse: orderClient.reverse}"></span>
                </div>

                <div class="client-points">
                    <a ng-click="sortClients('points + pointsInVouchers')" translate="CLIENT_DOTS" class="pointer"></a>
                    <span class="sort-order" ng-show="orderClient.predicate === 'points + pointsInVouchers'"
                          ng-class="{reverse: orderClient.reverse}"></span>
                </div>

            </li>

            <li ng-repeat="client in clients | orderBy: orderClient.predicate: orderClient.reverse | filter:search:name"
                class="client" st-element="{{ client._id }}" ng-controller="app.core.clientsGroup.clientCtrl">

                <div class="client-checkbox">
                    <input type="checkbox" ng-model="selectedClients[client._id]" ng-click="ifAllSelected()">
                </div>

                <div ng-click="openClient()">

                    <div class="client-name">{{ client.name }}</div>

                    <div class="client-points">
                        {{ +client.points + +client.pointsInVouchers | currency : "" : 0}}
                        <span translate="DOTS"></span>
                    </div>

                </div>

            </li>
        </ul>

    </div>
</div>
