<div class="navbar header navbar-default navbar-fixed-top" ng-controller="app.core.header.headerCtrl">

    <div></div>
    <div class="lng-block clearfix">
        <button class="change-lng" ng-class="{'active': currentLang === 'en'}" href="" ng-click="changeLanguage('en')">
            <span class="en">En</span>
        </button>
        <button class="change-lng" ng-class="{'active': currentLang === 'pt-br'}" href=""
                ng-click="changeLanguage('pt-br')">
            <span class="pt">Pt</span>
        </button>
    </div>
    <div class="container">

        <div class="header-logo pull-left">

            <a href="javascript:void(0)" ui-sref="reports">
                <img src="assets/images/logo-horizontal.png" class="logo">
            </a>

        </div>

        <ul class="nav navbar-nav header-navigation">

            <!-- Reports -->
            <li ui-sref-active="active">
                <a ui-sref="reports" href="javascript:void(0)">
                    <span translate="REPORTS"></span>
                </a>
            </li>

            <!-- Clients Group -->
            <li ui-sref-active="active">
                <a ui-sref="clientsGroup" href="javascript:void(0)">
                    <span translate="CLIENTS_GROUP"></span>
                </a>
            </li>

            <!-- Rewards -->
            <li ui-sref-active="active">
                <a ui-sref="rewards" href="javascript:void(0)">
                    <span translate="REWARDS"></span>
                </a>
            </li>

            <!-- Support -->
            <li ui-sref-active="active">
                <a ui-sref="support" href="javascript:void(0)">
                    <span translate="SUPPORT"></span>
                </a>
            </li>

            <!-- Stores -->
            <li ui-sref-active="active">
                <a ui-sref="stores" href="javascript:void(0)">
                    <span translate="STORES"></span>
                </a>
            </li>

        </ul>

        <ul class="user-info nav navbar-nav navbar-right">
            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <span>{{ currentRetailer.name }}</span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">

                    <li>
                        <a href="javascript:void(0)" ui-sref="profile">
                            <i class="fa fa-user"></i>
                            <span translate="PROFILE"></span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" ng-click="logout()">
                            <i class="fa fa-power-off"></i>
                            <span translate="LOGOUT"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <div class="point-container">
                    <span>{{ currentRetailer.points | currency:" ":0 }}</span>
                    <span translate="DOTS"></span>
                    </br>

                    <a ui-sref="rechargeDots" href="javascript:void(0)">
                        <span translate="RECHARGE_DOTS"></span>
                    </a>

                </div>
            </li>

        </ul>
    </div>

</div>
