<section class="col-sm-4">
    <h2 class="section-title" translate="RETAILER_LOGIN"></h2>

    <form name="signInRetailerForm" ng-submit="signInRetailer(signInRetailerForm)">

        <div class="form-group row">
            <div class="col-sm-12" ng-class="{'has-error': isShowErrors(signInRetailerForm, 'email')}">
                <label>Email</label>

                <div class="span-error" ng-messages="signInRetailerForm.email.$error"
                     ng-show="isShowErrors(signInRetailerForm, 'email')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="wrongEmail" translate="WRONG_EMAIL"></span>
                    <span ng-message="pattern" translate="VALID_EMAIL"></span>
                </div>

                <input type="text" name="email" placeholder="Email" ng-model="retailer.email" ng-required="true"
                       autocomplete="off" ng-pattern="emailPattern"
                       class="form-control input-lg">

            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-12" ng-class="{'has-error': isShowErrors(signInRetailerForm, 'password')}" class="password-block">
                <label translate="PASSWORD"></label>

                <div class="span-error" ng-messages="signInRetailerForm.password.$error"
                     ng-show="isShowErrors(signInRetailerForm, 'password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="wrongPassword" translate="WRONG_PASSWORD"></span>
                </div>

                <div class="input-group">
                    <input type="{{inputType}}" name="password" placeholder="{{ 'PASSWORD' | translate }}"
                           ng-model="retailer.password"
                           ng-required="true" autocomplete="off"
                           class="form-control input-lg">

                    <a ng-click="hideShowPassword()" class="input-group-addon">
                        <span class="pass-ic" ng-hide="inputType === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="pass-ic" ng-hide="inputType === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>

            </div>

        </div>
            
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-success" value="{{ 'OK' | translate }}" autocomplete="off"
                   ng-disabled="disabledSave || (signInRetailerForm.$invalid && tryToSave)">
       </div>

    </form>

</section>

<div ng-include="'app/core/sign_up_retailer/sign_up_retailer_modal.tpl.html'"></div>
