<section class="col-sm-6 pull-right" ng-controller="app.core.signUpRetailer.signUpRetailerCtrl">
    <h2 class="section-title" translate="RETAILER_REGISTER"></h2>

    <form name="signUpRetailerForm" ng-submit="retailerSignUp(signUpRetailerForm)" novalidate>
        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpRetailerForm, 'name')}">
                <label translate="NAME"></label>

                <div class="span-error" ng-messages="signUpRetailerForm.name.$error"
                     ng-show="isShowErrors(signUpRetailerForm, 'name')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="IS_TOO_SHORT"></span>
                    <span ng-message="maxlength" translate="IS_TOO_LONG"></span>
                </div>
                <input type="text" name="name" ng-model="newRetailer.name" ng-required="true"
                       ng-minlength="3" ng-maxlength="30"
                       class="form-control input-lg">
            </div>

            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpRetailerForm, 'email')}">
                <label translate="EMAIL"></label>

                <div class="span-error" ng-messages="signUpRetailerForm.email.$error"
                     ng-show="isShowErrors(signUpRetailerForm, 'email')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="pattern" translate="IS_INVALID"></span>
                </div>
                <input type="text" name="email" ng-model="newRetailer.email"
                       ng-pattern="emailPattern" ng-required="true"
                       class="form-control input-lg">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12" ng-class="{'has-error': isShowErrors(signUpRetailerForm, 'manager')}">

                <label translate="MANAGER"></label>

                <div class="span-error" ng-messages="signUpRetailerForm.manager.$error"
                     ng-show="isShowErrors(signUpRetailerForm, 'manager')">
                    <span ng-message="required" translate="REQUIRED_MANAGER"></span>
                    <span ng-message="incorrect" translate="INCORRECT_MANAGER"></span>
                </div>

                <input type="text" ng-model="managerName"
                       uib-typeahead="manager.name as manager.name for manager in managers | filter:{name:$viewValue}"
                       typeahead-min-length="0" name="manager" typeahead-append-to-body="true" ng-required="true"
                       typeahead-template-url="app/common/templates/typeahead-match.tpl.html"
                       class="form-control input-lg">

                <a ng-click="clearManager()">
                    <span class="clear-manager-icon">
                        <i class="fa fa-trash" name="manager" aria-hidden="true"></i>
                    </span>
                </a>

                <input type="hidden" ng-model="newRetailer.manager">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpRetailerForm, 'password')}">

                <label translate="PASSWORD"></label>

                <div class="span-error" ng-messages="signUpRetailerForm.password.$error"
                     ng-show="isShowErrors(signUpRetailerForm, 'password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                </div>

                <div class="input-group">
                    <input ng-model='newRetailer.password' type="{{ inputPassType.main }}" name='password'
                           placeholder="{{ 'PASSWORD' | translate }}" ng-minlength="5"
                           ng-required="true"
                           class="form-control input-lg">

                    <a ng-click="hideShowPassword('main')" class="input-group-addon">
                        <span class="pass-icon" ng-hide="inputPassType.main === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="pass-icon" ng-hide="inputPassType.main === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>

            </div>

            <div class="col-sm-6" ng-class="{'has-error': isShowErrors(signUpRetailerForm, 'password')}">
                <label translate="PASSWORD_CONFIRM"></label>

                <div class="span-error confirm-password-retailer"
                     ng-messages="signUpRetailerForm.confirm_password.$error"
                     ng-show="isShowErrors(signUpRetailerForm, 'confirm_password')">
                    <span ng-message="required" translate="REQUIRED_FIELD"></span>
                    <span ng-message="minlength" translate="TO_SHORT_PASSWORD"></span>
                    <span ng-message="passwordVerify" translate="FIELDS_ARE_NOT_EQUAL"></span>
                </div>

                <div class="input-group">
                    <input ng-model='newRetailer.password_verify' type="{{ inputPassType.confirm }}"
                           name='confirm_password' ng-minlength="5"
                           placeholder="{{ 'PASSWORD_CONFIRM' | translate }}" ng-required="true"
                           password-verify="newRetailer.password"
                           class="form-control input-lg">

                    <a ng-click="hideShowPassword('confirm')" class="input-group-addon">
                        <span class="pass-conf-icon" ng-hide="inputPassType.confirm === 'text'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>

                        <span class="pass-conf-icon" ng-hide="inputPassType.confirm === 'password'">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>

            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-success"
                   ng-disabled="disabledSave || (signUpRetailerForm.$invalid && tryToSave)"
                   value="{{ 'REGISTER' | translate }}">
        </div>

    </form>

</section>
