* {
  box-sizing: border-box;
}
body {
  font-family: arial, serif;
  font-size: 16px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  color: #55595c;
  overflow: hidden;
  background: #fff url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/geometry.png");
}
.header {
  position: absolute;
  right: 50px;
  top: 20px;
}
.container {
  padding-top: 60px;
}
.container .has-error .error-label {
  visibility: visible;
  height: auto;
  opacity: 1;
}
form {
  display: block;
  position: relative;
  padding: 5px 10px 15px 10px;
  text-align: left;
  width: 400px;
  margin: 0 auto;
}
@media (max-width: 400px) {
  form {
    width: 100%;
  }
}
form span {
  margin-bottom: 5px;
}
.title {
  margin: 10px;
}
p {
  text-align: left;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 5px;
}
p span.key-set {
  color: #398339;
  font-weight: 700;
}
.exchange {
  position: relative;
}
.client-voucher {
  display: inline-block;
  position: absolute;
  top: -55px;
  right: 0;
  padding: 10px;
  color: #595c62;
  border: 1px solid #595c62;
}
.validated {
  position: relative;
}
.header > div.error,
.header > div.danger,
.container > div,
.container > div .error-label,
.container > div .danger-label {
  visibility: hidden;
  height: 0;
  opacity: 0;
  text-align: right;
  font-size: 12px;
  -webkit-transform: translate(0, 35%);
  transform: translate(0, 35%);
}
.container > div.active,
.header > div.active {
  visibility: visible;
  opacity: 1;
  height: auto;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.has-error form span.error-label {
  color: #f05050;
}
.error-container {
  height: 30px;
}
.chm-change,
.chm-change-finish {
  position: relative;
}
.lang-container input[type="radio"] {
  display: none;
}
.lang-container label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 4px 5px 5px 45px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  font-weight: 700;
  color: #949393;
}
.lang-container label:before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 100%;
  color: #78524c;
  font-weight: bold;
  position: absolute;
  font-size: 24px;
  text-align: center;
  line-height: 2.5;
  left: 0;
  bottom: 0;
  border-right: 1px solid #a1a1a1;
}
.lang-container input[type="radio"]:checked + label:before {
  content: "";
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 33px;
  height: 100%;
  box-shadow: none;
  background: url("../images/checked-button.png") left center no-repeat;
  background-size: 100%;
  text-transform: uppercase;
  border-right: 0;
}
.error {
  background: #f05050;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
}
.error .error-label {
  display: block;
  text-align: center;
}
.error-label {
  text-align: right;
}
.danger {
  background: #ebe42d;
  margin-top: 20px;
  border-radius: 10px;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
  text-align: center !important;
}
.show-tips {
  position: absolute;
  right: 10px;
  bottom: 62px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background: rgba(222,222,222,0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.show-tips.hide {
  right: -1000px;
}
.tip {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.tip p {
  display: none;
}
.tip p.tip-visible {
  display: block;
}
.enough-message {
  display: none;
}
.checkout-info p {
  margin: 0;
}
.checkout-info p .store-name,
.checkout-info p .retailer-name {
  font-weight: bold;
}
.not-enough-points {
  text-align: center;
  color: #f00;
}
.modal-header .fa-times {
  font-size: 18px;
}
.modal-header .modal-title {
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 780px) {
  .modal-dialog {
    width: 450px;
  }
}
.form-control {
  color: #55595c;
  border-radius: 0 !important;
}
.btn,
.input-group-addon {
  border-radius: 0 !important;
}
.input-lg {
  height: 60px;
  padding: 20px;
  font-size: 40px;
}
.is-lowercase {
  text-transform: lowercase;
}
