body, html {
    color: white;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 24px;
    background: #f4f4f4;
    overflow: hidden;
}

body {
    background-color: #f4f4f4;
    font-size: 1rem;
}

h2 {
    font-weight:bold;
    font-size: 1.9rem;
}

h3 {
    font-weight: bold;
    color: #0a85d9;
    font-size: 1.9rem;
}

h4 {
    color: #0192f6;
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-weight: 300;
}

img {
    max-width: 100%;
}

.btn-transparent,
.btn-transparent:focus{
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn-transparent:focus{
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-transparent:hover{
    background-color: rgba(255,255,255,0.3);
    border-color: white;
    color: white;
    text-decoration: none;
}

#login-trigger.btn-transparent.active {
    z-index: 2;
    color: #0192f6 !important;
    border-color: #0192f6 !important;
    text-decoration: none !important;
    background: #ffffff !important;
    position: relative;
}

#cadastro-trigger.active {
    z-index: 2;
    position: relative;
    box-shadow: none;
    border-color: #0192f6;
}

.btn-white {
    background-color: white;
    color: #0192f6 !important;
}

.btn-white:hover,
.btn-white:focus{
    color: #0192f6 !important;
}

.btn-whiteb {
    background-color: white;
    color: #0192f6 !important;
    border: 1px solid #0192f6;
}

.btn-whiteb:hover,
.btn-whiteb:focus{
    color: #0192f6 !important;
    border: 1px solid #0192f6;
}

.btn-green,
.btn-green:hover{
    background: #1fbba6;
    color: #ffffff;
    border-bottom: 10px solid #179887;
}

.btn-green:focus,
.btn-green:active {
    color: white;
    background: #179887;
    border-bottom: 10px solid #1fbba6;
}

.home-contact .btn{
    width: 100%;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: normal;
    margin: 20px 0 80px;
}

.btn {
    font-size: 0.7rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 10px 40px;
}

.header p,
h2,h3,h4{
    text-align: center;
}

.header{
    margin-top: 40px;
}

.header-btns {
    line-height: 75px;
    text-align: right;
}

.header-bg {
    background: #000;
    position: absolute;
    top:0;
    z-index: -1;
    background: url('../images/header-bg.jpg') 50% 0;
    width: 100%;
    color: white;
    min-height: 920px;
    background-attachment: fixed;
}

.row-logo,
.row-header,
.row-video-title,
.row-como{
    margin-bottom: 40px;
}

.row-video-container {
    margin-bottom: 80px;
}

.row-main-content-title {
    margin-bottom: 140px;
}

.row-computer {
    text-align: center;
}

.row-slide-down {
    text-align: center;
    margin-bottom: 20px;
}

.video-content p{
    color: #5c708f;
    font-size: 0.8rem;
    text-align: center;
}

.main-content p{
    color: #5c708f;
    font-size: 0.6rem;
    text-align: center;
}

.como-funciona p {
    color: #5c708f;
    text-align: left;
    font-size: 0.7rem;
}

.como-funciona ul li {
    color: #5c708f;
    text-align: left;
    font-size: 0.7rem;
    font-weight: 300;
    list-style-type: none;
    margin:0 0 40px 0;
    padding: 0;
}

.como-funciona ul li p {
    line-height: 53px;
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.como-funciona ul {
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.como-funciona .comof-01,
.como-funciona .comof-02,
.como-funciona .comof-03 {
    width: 53px;
    height: 53px;
    margin-right: 10px;
    display: inline-block;
}

.como-funciona .comof-01 {
    background: url(../images/comof-01.png);
}

.como-funciona .comof-02 {
    background: url(../images/comof-02.png);
}

.como-funciona .comof-03 {
    background: url(../images/comof-03.png);
}

.video-container {
    background: #EBEBEB;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
    border: 20px solid white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 440px;
}

.video-container .play-btn{
    background: url(../images/play-btn.png);
    width: 177px;
    height:177px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(50%);
    cursor: pointer;
}

.main-content {
    background: white url(../images/solucoes-bg.jpg) no-repeat top left;
    background-attachment: fixed;
    min-height: 1129px;
}

.row-main-content-title {
    margin-top: 110px;
}

.row-solucoes h4 {
    text-align: left;
    margin-top: 0;
}

.row-solucoes p{
    text-align: justify;
}

.item-group {
    margin-bottom: 75px;
    padding-right: 40px;
}

.coicon-01,
.coicon-02,
.coicon-03,
.coicon-04,
.coicon-05,
.coicon-06 {
    width: 55px;
    height: 70px;
}

.coicon-01 {
    background: url(../images/coicon-01.png) top left no-repeat;
}

.coicon-02 {
    background: url(../images/coicon-02.png) top left no-repeat;
}

.coicon-03 {
    background: url(../images/coicon-03.png) top left no-repeat;
}

.coicon-04 {
    background: url(../images/coicon-04.png) top left no-repeat;
}

.coicon-05 {
    background: url(../images/coicon-05.png) top left no-repeat;
}

.coicon-06 {
    background: url(../images/coicon-06.png) top left no-repeat;
}

.col-md-3.nosm{
    margin-right: -15px;
}

.nosm { padding-left: 0 !important; padding-right: 0 !important; }

.telas {
    background: #ffd31c;
}

.telas h3 {
    color: white;
    margin-bottom: 80px;
}

.como-funciona h3 {
    font-size: 1.6rem;
    text-align: left;
}

.comof {
    padding-left: 200px;
    margin-top: 50px;
}

.comof-img {
    padding-right: 60px;
}

.home-contact {
    background: #216abc;
}

.home-contact h4 {
    color: white;
    padding: 60px 0 0;
}

.home-contact p {
    text-align: center;
    margin-bottom: 40px;
}


.home-contact form input,
.home-contact form textarea{
    width: 100% !important;
    border: 1px solid #1357a4;
    font-size: 0.6rem;
    color: #1357a4;
    font-weight: bold;
}

.home-contact form input {
    padding: 25px 25px 25px 65px;
    line-height: 55px;
}

.home-contact .col-md-12 {
    width: 100% !important;
}

.home-contact .name {
    padding-right: 10px !important;
    position: relative;
}

.home-contact form textarea {
    resize: vertical;
    margin-top: 20px;
    height: 190px;
    padding: 20px 30px 20px 65px;
    position: relative;
}

.home-contact .orange-line hr {
    color: #fa984e;
    height: 3px;
    background: #fa984e;
    border: none;
    width: 60px;
    margin: 0 auto 20px;
}

i.message {
    width: 37px;
    height: 24px;
    background: url(../images/message.png);
    display: inline-block;
    margin-right: 20px;
    margin-bottom: -3px;
}

.name input {
    background: white url(../images/icon-name-gray.png) 15px 50% no-repeat;
}

.name input:focus {
    background: white url(../images/icon-name.png) 15px 50% no-repeat;
}

.email input {
    background: white url(../images/icon-email-gray.png) 15px 50% no-repeat;
}

.email input:focus {
    background: white url(../images/icon-email.png) 15px 50% no-repeat;
}

.msg textarea {
    background: white url(../images/icon-msg-gray.png) 15px 15px no-repeat;
}

.msg textarea:focus {
    background: white url(../images/icon-msg.png) 15px 15px no-repeat;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

i.icon-name,
i.icon-email {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

i.icon-msg {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1;
}

p.copyright {
    color: #b1b1b1;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 85px;
}

.unslider {
    position: relative;
}

.unslider li {
    text-align: center;
}

.unslider-nav ol li {
    width: 20px;
    height: 20px;
    margin: 0 15px;
    border-radius: 20px;
}

.unslider-arrow {
    width: 35px;
    height: 60px;
    position: absolute;
    top: 40%;
}

.unslider-arrow.prev {
    background: url(../images/left-arrow.png);
}

.unslider-arrow.next {
    background: url(../images/right-arrow.png);
}

.unslider p.caption {
    margin: 40px 0;
}

.scrollToTop {
    width: 60px;
    height:60px;
    background: rgba(255,255,255,0.2) url(../images/top-arrow.png);
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    border-radius: 60px;
}

#login-content {
    display: none;
    position: absolute;
    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
    border-radius: 3px 0 3px 3px;
    right: 195px;
    width: 500px;
    padding: 5px 20px 20px;
    top: 0;
    z-index: 1;
}

#cadastro-content {
    display: none;
    position: absolute;
    background: #fff;
    background-image: linear-gradient(top, #fff, #eee);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
    border-radius: 3px 0 3px 3px;
    right: 0;
    width: 500px;
    padding: 5px 20px 20px;
    top: 0;
    z-index: 1;
}

#login-content input,
#login-content input::-webkit-input-placeholder,
#cadastro-content input,
#cadastro-content input::-webkit-input-placeholder{
    color: #7d90ad;
}

#login-content .instructions,
#cadastro-content .instructions{
    color: #0a85d9;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
}

#login-content .btn-fb {
    text-align: center;
    margin-bottom: 10px;
}

#login-content input,
#cadastro-content input{
    width: 100%;
    font-size: 0.6rem;
    height: 57px;
    padding: 0 20px 0 60px;
    border: 1px solid #cecece;
}

#login-content button,
#cadastro-content button{
    width: 100%;
}

div#login,
div#cadastro{
    display: inline-block;
    position: relative;
}

div.ou p {
    color: #c9c7ca;
    background: white;
    width: 50px;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 1rem;
}

div.ou {
    background: white url(../images/line-gb.png) repeat-x 50% 50%;
}

i.icon-login-user {
    background: url(../images/icon-login.png) no-repeat top left;
}

i.icon-login-pass {
    background: url(../images/icon-pass.png) no-repeat top left;
}

i.icon-login-user,
i.icon-login-pass{
    width: 26px;
    height: 31px;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 25px;
}

#socials {
    text-align: right;
}

#socials ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    line-height: 85px;
}

#socials ul li:last-child {
    margin-right: 0;
}

.mobile-menu,
.mobile-menu ul {
    display: none;
}

.mobile-menu {
    width: 40px;
    height: 20px;
    background: url(../images/btn-burger.png);
    display: block;
    margin-top: 5px;
    float: right;
}

.mobile-menu ul li{
    list-style-type: none;
}

.hide-big {
    display: none;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.28);
}

.box-round {
    border-radius: 10px;
}

.btn-greenalt,
.btn-greenalt:hover,
.btn-greenalt:focus {
    background: #36cf6f;
    border-bottom: 2px solid #2aa458;
    color: white;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:focus{
    background: #1597EF;
    border-bottom: 2px solid #0374C2;
    color: white;
}

.btn-gray,
.btn-gray:hover {
    background: #F3F3F3;
    border-bottom: 2px solid #D6D6D6;
    color: #999999;
} 

/*
==================================================================

CHECK OUT

=================================================================
*/

body.checkout {
    background: #dadada;
}

#checkout {
    margin-top: 100px;
    position: relative;
}

#checkout h2 {
    color: #0a85d9;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

#checkout h3 {
    color: #ffc801;
    font-size: 1.3rem;
    margin-bottom: 0;
    font-weight: 400;
}

#checkout h4 {
    color: #0a85d9;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 400;
}

#checkout .checkout-content {
    background: #ffffff;
    padding: 90px;
    padding-bottom: 40px;
}

#checkout input::-webkit-input-placeholder{
    color: #ddd;
}

#checkout input {
    font-size: 1rem;
    font-weight: 400;
    color: #55595c;
    text-align: center;
    border: 1px solid #f3f3f3;
    outline: none;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    line-height: 60px;
}

#checkout input,
#checkout button,
#checkout a.btn{
    width: 100%;
}

#checkout button,
#checkout a.btn{
    height: 60px;
    line-height: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
}

#checkout .line {
    width: 100%;
    height: 8px;
    margin-bottom: -8px;
}

#checkout .line-blue {
    background: #00abff;
    border-top-left-radius: 10px;
}

#checkout .line-yellow {
    background: #ffc801;
    border-top-right-radius: 10px;
}

#checkout form {
    margin-bottom: 70px;
}

#checkout .checkout-logo {
    text-align: center;
}

#checkout .box-container {
    width: 650px;
    margin: 0 auto;
    float: none;
}

#checkout .voltar {
    position: absolute;
    top: 0;
    left: 30px;
    background: url(../images/goback.png) center left no-repeat;
    color: #00abff;
    display: block;
    padding: 0 0 0 40px;
    margin: 20px;
    text-decoration: none;
}

/*
MAP
*/

body.mapa {
    background: #F9F9F9;
    overflow: auto;
}

.map-container .map-content iframe {
    width: 100% !important;
    height: calc(100vh - 75px) !important;
}

.map-container .sidebar-right {
    background: white;
    padding-right: 5vh;
    padding-left: 5vh;
    box-shadow: 0 20px 20px 2px rgba(0,0,0,0.28);
}

.map-container h2 {
    color: #0a85d9;
    font-size: 1rem;
    text-align: left;
}

.map-container h4 {
    text-align: left;
    color: #2ea4f4;
    font-size: 0.6rem;
}

.main-menu .submenu {
    background: #fff;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.main-menu ul li:hover > .submenu {
    display: block;
    opacity: 1;
    transition: all 0.2s ease;
}

.main-menu .submenu li {
    display: block;
    color: #2ea4f4;
    font-size: 0.7rem;
    line-height: 50px;
    padding: 0 30px;
    border-bottom: 1px solid #f1efef;
}

.main-menu .submenu li.mapa-icon a{
    background: url(../images/mapa-icon.png) left center no-repeat;
    padding:0 40px;
}

.main-menu .submenu li.lista-icon a {
    background: url(../images/lista-icon.png) left center no-repeat;
    padding:0 40px;
}


.main-menu .submenu li a {
    color: #2ea4f4;
    font-size: 0.7rem;
    text-decoration: none !important;
}

.map-container .historico {
    color: #2ea4f4;
    font-weight: 400;
    overflow-y: scroll;
    height: calc(100vh - 132px) !important;
    max-height: calc(100vh + 132px);
    position: relative;
}

.map-container .historico .flechita {
    position: fixed;
    width: 25px;
    height: 50px;
    background: white url(../images/left-arrow-map.png) center no-repeat;
    z-index: 999;
    margin-bottom: -50px;
    margin-left: -70px;
    cursor: pointer;
    box-shadow: -3px 2px 5px 0px rgba(0,0,0,0.10);
}

.map-container .historico ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 0.6rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

.map-container .historico ul {
    margin: 0;
    padding: 0;
}

.map-container .historico .hist-info {
    padding-left: 25px;
}

.map-container .historico .date{
    background: white url(../images/date.png) center left no-repeat;
}

.map-container .historico .acumulados{
    background: white url(../images/acumulados.png) center left no-repeat;
    color: #0a85d9;
    font-size: 0.8rem;
}

.map-container .historico .trocados {
    color: #05a270;
    background: white url(../images/trocados.png) center left no-repeat;
    font-size: 0.8rem;
}

.mapa .logo {
    background: url(../images/logo_mapa.png) no-repeat;
    background-size: 100%;
    width: 226px;
    height: 53px;
    text-indent: -9999px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.mapa .menu,
.mapa .menu > ul {
    display: inline-block;
}

.mapa .menu ul {
    margin-bottom: 0;
}

.mapa .menu > ul > li {
    display: inline-block;
}

.mapa .menu > ul > li > a {
    text-decoration: none;
    color: #0a85d9;
    font-size: 0.8rem;
    height: 75px;
    display: inline-block;
    padding: 20px 30px;
    border-bottom: 6px solid #f3f3f3;
}

.mapa .menu ul li.active > a {
    background: #0a85d9;
    border-bottom: 6px solid #0a7dcc;
    color: white !important;
}

.mapa .main-menu .notifications {
    width: 28px;
    height: 75px;
    background: url(../images/bell.png) center left no-repeat;
    padding-right: 50px;
    border-right: 1px solid #e8e8e8;
    display: inline-block;
    top: 0;
    position: absolute;
    left: -50px;
}

.mapa .main-menu {
    background: white url(../images/mapa-bg.png) left bottom repeat-x;
}

.left {
    float:left;
}

.right {
    float: right;
    position: relative;
}

.btn-grayblue,
.btn-graygreen,
.btn-grayblue:focus,
.btn-graygreen:focus {
    border-bottom: 4px solid #e8e8e8;
    background: #f7f7f7;
    margin: 10px;
}

.btn-graygreen {
    color: #05c186;
}

.btn-grayblue {
    color: #0a85d9;
}

.btn-graygreen:hover {
    color: #05c186;
}

.btn-grayblue:hover {
    color: #0a85d9;
}

.account-header .user {
    display: inline-block;
    color: #999999;
    font-size: 0.8rem;
    vertical-align: middle;
    height:75px;
    margin-left: 30px;
}

.account-header .user-name {
    vertical-align: middle;
    line-height: 75px;
    display: inline-block;
}

.account-header .user-image {
    width: 37px;
    height: 37px;
    display: inline-block;
    margin-right: 10px;
}

.account-header .user-image img {
    max-width: 100%;
    border-radius: 37px;
}

.account-header .user-dropdown{
    display: inline-block;
}

.account-header .user-dropdown a{
    display: inline-block;
    width: 12px;
    height:8px;
    background: url(../images/dropdownarrow.jpg) center no-repeat;
}

.notifications {
    padding: 22px 50px 22px 0;
    position: relative;
    cursor: pointer;
}

.notifications .noti-count {
    background: #d90a5d;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    color: white;
    font-size: 0.5rem;
    position: absolute;
    top: 17px;
    left: -5px;
    text-align: center;
    line-height: 23px;
    font-style: normal;
    cursor: pointer;
}

.pontos-lista table {
    color: #0a7dcc;
    table-layout: fixed;
}

.pontos-lista table img {
    max-width:  100%;
}

.pontos-lista th {
    text-align: center;
    padding: 5px 30px;
}

.pontos-lista td {
    padding: 20px 30px;
}

.pontos-lista th,
.pontos-lista td {
    max-width: 20px;
    border: 1px solid #dddddd;
}

.pontos-lista table, .pontos-lista th, .pontos-lista td {
    font-size: 0.8rem;
}

.pontos-lista h2 {
    margin-top: 40px;
}

.pontos-lista p {
    color: #787878;
    font-size: 0.57rem;
    margin-bottom: 40px;
    white-space: initial;
}

.pontos-lista {
    padding: 0 40px;
}

.pontos-lista .column-01 {
    width: 100px;
}

.pontos-lista .users .btn {
    width: 100%;
    padding: 10px;
}

.pontos-lista .users {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    background: white;
    margin-bottom: 20px;
}
.pontos-lista .users td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pontos-lista .users p{
    margin-bottom: 0;
    text-align: justify;
}

/* Column widths are based on these cells */
.pontos-lista .row-01 {
    width: 20%;
}
.pontos-lista .row-02 {
    width: 60%;
    text-align: left;
}
.pontos-lista .row-03 {
    width: 20%;
}

.minha-conta h1 {
    color: #0a85d9;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 3px solid #0a85d9;
    padding-right: 30px;
}

.minha-conta .conta-content {
    min-height: calc(100vh - 75px);
}

.minha-conta .conta-content form {
    width: 65%;
}

.minha-conta .conta-content form,
.minha-conta .conta-content form label {
    color: #333333;
    font-size: 0.6rem;
    font-weight: normal;
}

.minha-conta .conta-content form input {
    background: #f1eeee;
    color: #6c6c6c;
    border: none;
    outline: none;
    width: 100%;
    line-height: 45px;
    margin-bottom: 20px;
    padding: 0 20px
}

.group-hw {
    width: 50%;
    display: inline-block;
    float: left;
    padding-right: 15px;
}

.group-hw:nth-of-type(even) {
    clear: both;
}

.group-fw {
    padding-right: 15px;
    width: 100%;
    clear: both;
}

.group-fw button {
    width: 100%;
}

.minha-conta .conta-content form .switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45px;
}

.minha-conta .conta-content form .switch input {display:none;}

.minha-conta .conta-content form .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1eeee;
    -webkit-transition: .4s;
    transition: .4s;
    color: #6c6c6c;
    line-height: 45px;
}

.minha-conta .conta-content form .slider p {
    text-align: center;
    width: 50%;
    z-index: 2;
    position: relative;
    color: #6c6c6c;
}

.minha-conta .conta-content form .slider:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/*.minha-conta .conta-content form input:checked + .slider {*/
    /*background-color: #2196F3;*/
/*}*/

/*.minha-conta .conta-content form input:focus + .slider {*/
    /*box-shadow: 0 0 1px #2196F3;*/
/*}*/

.minha-conta .conta-content form input:checked + .slider:before {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(92%);
}

.minha-conta .conta-content,
.minha-conta .conta-info {
    padding: 40px;
}

.minha-conta .user-menu ul,
.minha-conta .user-menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.minha-conta .user-menu ul {
    margin-left: 20px;
    margin-top: 20px;
}

.minha-conta .user-menu li {
    margin-top: 20px;
}


.minha-conta .user-menu ul > li > a {
    line-height: 20px;
    padding-left: 30px;
}

.minha-conta .user-menu li,
.minha-conta .user-menu li a {
    color: #666666;
    font-size: 0.7rem;
    text-decoration: none;
}

.minha-conta .user-menu li.conta a {
    background: url(../images/minha1-icon.png) left center no-repeat;
}

.minha-conta .user-menu li.active.conta a {
    color: #0a85d9;
    background: url(../images/minha-icon.png) left center no-repeat;
}

.minha-conta .user-menu li.meus-alertas a {
    background: url(../images/meusalertas-icon.png) left center no-repeat;
}

.minha-conta .user-menu li.active.meus-alertas a {
    color: #0a85d9;
    background: url(../images/meusalertas0-icon.png) left center no-repeat;
}

.minha-conta .user-menu li.salir a {
    background: url(../images/salir-icon.png) left center no-repeat;
    color: #d90a5d;
}

/*.conta-info .user .user-image,*/
/*.conta-info .user .user-name,*/
/*.conta-info .user .user-cpf{*/
    /*display: inline-block;*/
/*}*/

.conta-info .user .user-image img {
    border-radius: 60px;
    width: 100%;
}
.conta-info .user .user-image {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 15px;
}

.conta-info .user .user-cpf {
    color: #2ea4f4;
    font-size: 0.6rem;
}

.conta-info .user .user-date {
    color: #999999;
    font-size: 0.6rem;
}

.conta-info .user .user-name {
    color: #0a85d9;
    font-size: 0.7rem;
    font-weight: bold;
}

/*
===========================================================
 VAREJISTA
===========================================================
*/

.form-group {
    padding-right: 20px;
}

.varejista-content .sub-content .form-group:last-of-type {
    padding-right: 0;
}



.group-10 {width: 10%;}

.group-15 {width: 15%;}

.group-20 {width: 20%;}

.group-25 {width: 25%;}

.group-30 {width: 30%;}

.group-35 {width: 35%;}

.group-40 {width: 40%;}

.group-45 {width: 45%;}

.group-100  {width: 100%;}

.group-10,
.group-15,
.group-20,
.group-25,
.group-30,
.group-35,
.group-40,
.group-45 {
    float: left;
    margin-bottom: 20px;
}
body.varejista {
    background: #1e7cd9;
}

.varejista-content {
    background: #f7f7f7;
    padding: 40px;
    min-height: calc(100vh - 75px);
    padding-top: 20px;
}

.varejista-content .sub-content {
    background: white;
    padding:20px 40px 40px 40px;
    margin-top: 20px;
    padding-right: 230px;
}

.varejista-content .sub-content.template {
    padding-right:40px;
}


.varejista-content .sub-content form {
    color: #333333;
    font-size: 0.7rem;
    font-weight: normal !important;
    max-width: 730px;
    margin: 30px 0;
}

.varejista-content .sub-content form textarea {
    width: 100%;
    height: 185px;
    padding: 10px 20px;
}

.varejista-content .sub-content form button {
    float: right;
    padding:15px 70px;
}

.varejista-content .sub-content form input,
.varejista-content .sub-content form select,
.varejista-content .sub-content form textarea{
    width: 100%;
    border: 1px solid #cfcfcf;
    outline: none;
}

.varejista-content .sub-content form input,
.varejista-content .sub-content form select{
    height:45px;
    padding: 0 15px;
}

.varejista-content .sub-content form select,
.varejista-content .sub-content form input::-webkit-input-placeholder,
.varejista-content .sub-content form textarea::-webkit-input-placeholder{
    color: #c4c2c2;
}


.varejista-content .sub-content form label{
    font-weight: normal !important;
}

.varejista-content .sub-content form p {
    vertical-align: middle;
    text-align: center;
    color:#0a85d9;
    margin-top: 40px;
    font-weight: bold
}

.varejista-content .sub-content form input {
    width: 100%;
}

.varejista-content .contato {
    max-width: 730px;
}

.varejista-content .contato h3 {
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 5px;
}

.varejista-content .contato .content {
    padding: 20px;
    padding-left: 100px;
}

.varejista-content .contato .content.telefono {
    background: #f5f5f5 url(../images/contato-phone.png) 35px center no-repeat;
}

.varejista-content .contato .content.email {
    background: #f5f5f5 url(../images/contato-email.png) 30px center no-repeat;
}

.varejista-content h1{
    color: #63656b;
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 0;
}

.varejista-content p {
    color: #63656b;
    font-size: 0.6rem;
}

.varejista-content p a {
    color: #649de1;
}

.varejista-menu ul {
    margin: 30px;
}

.varejista-menu ul,
.varejista-menu ul li{
    list-style-type: none;
}

.varejista-menu ul li,
.varejista-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
}

.varejista-menu ul li {
    margin-bottom: 40px;
}

.varejista-menu i.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.varejista-menu .icon-screen {
    background: url(../images/icon-screen.png) center center no-repeat;
}

.varejista-menu .icon-group {
    background: url(../images/icon-group.png) center center no-repeat;
}

.varejista-menu .icon-cart {
    background: url(../images/icon-cart.png) center center no-repeat;
}

.varejista-menu .icon-thumbs {
    background: url(../images/icon-thumbs.png) center center no-repeat;
}

.varejista-menu .icon-wrench {
    background: url(../images/icon-wrench.png) center center no-repeat;
}

.varejista .logo {
    background: #1662ab url(../images/logo-varejista.png) center center no-repeat;
    width:100%;
    height:75px;
    text-indent: -9999px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}

.varejista .template form input,
.varejista .template form select,
.varejista .template form option {
    background: #f1eeee;
    color: #6c6c6c;
    border: none;
    outline: none;
    width: 100%;
    line-height: 45px;
    margin-bottom: 20px;
    padding: 0 20px
}

.varejista .template .template-chooser {
    border: 1px solid #e7e7e7;
    padding: 15px;
    display: inline-block;
    margin-bottom: 40px;
}
.varejista .template .template-chooser .template-single {
    width: 200px;
    height: 400px;
    display: inline-block;
    margin-right: 10px;
    color: #595c62;
}

.varejista .template .template-chooser .template-single p{
    color: #595c62;
    margin: 10px 0;
}

.varejista .template .template-chooser .template-single:last-of-type {
    margin-right: 0;
}

.varejista .template .template-chooser .template-single img {
    border: 1px solid #e7e7e7;
}

.varejista .template .template-chooser .template-single img:hover {
    border: 1px solid #5c708f;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    html {
        font-size: 15px;
    }

    .header {
        margin-top: 20px;
    }

    .header-bg {
        min-height: 315px;
        background-size: 310%;
    }

    .hide-mobile {
        display: none;
    }

    .row-logo {
        margin-bottom: 20px;
    }

    .hide-big {
        display: block;
    }

    .container {
        width: 100%;
        padding: 0 30px;
    }

    .main-content {
        background: white;
    }

    .row-header {
        margin-bottom: 10px;
    }

    .row-slide-down {
        margin-bottom: 60px;
    }

    p {
        font-size: 1rem !important;
    }

    .row-solucoes p,
    .row-solucoes h4 {
        text-align: center;
    }

    .coicon-01, .coicon-02, .coicon-03, .coicon-04, .coicon-05, .coicon-06 {
        margin: 0 auto;
    }

    .row-main-content-title {
        margin: 20px 0 30px;
    }

    .comof {
        padding-left: 0;
        margin-top: 0;
        color: red !important;
    }

    .comof h3,
    .comof p{
        text-align: center;
    }

    .video-container {
        min-height: 0;
        border: 10px solid white;
    }

    .video-container .play-btn {
        transform: inherit;
        width: 80px;
        height: 80px;
        background-size: 100%;
        margin: 15px auto;
    }

    /*.container.mobile-container {*/
        /*padding: 0 10px;*/
    /*}*/

    .rem-pad {
        padding: 0;
    }

    .item-group {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .scrollToTop {
        bottom: 2%;
        right: 3%;
        z-index: 999;
    }

    .como-funciona .comof-01, .como-funciona .comof-02, .como-funciona .comof-03 {
        width: 30px;
        height: 30px;
        background-size: 100%;
        font-size: 0.6rem !important;
    }

    .como-funciona ul li p {
        line-height: 30px;
        font-size: 0.9rem !important;
    }

    .home-contact form input,
    .home-contact form textarea {
        font-size: 1rem;
    }

    .home-contact .name {
        padding-right: 0 !important;
        margin-bottom: 20px;
    }

    .home-contact h4 {
        font-size: 1.6rem;
        padding: 30px 0 0;
    }

    .scrollToTop {
        width: 45px;
        height: 45px;
        background-size: 100%;
    }

    .row-slide-down img {
        max-width: 10%;
    }

    .unslider-arrow.next,
    .unslider-arrow.prev{
        background-repeat: no-repeat;
        background-size: 100%;
        width: 22px;
    }

    .unslider-arrow.next {
        left: auto;
        right: 0;
    }

    .unslider-arrow.prev {
        left: 0;
        right: auto;
    }

    .unslider-arrow {
        top: 0;
    }

    .unslider-nav ol li {
        width: 10px;
        height: 10px;
    }

    .row-como {
        margin-bottom: 20px;
    }

    .rem-pad .row {
        margin:0;
    }

    p.copyright {
        font-size: 0.8rem !important;
        text-align: center;
        line-height: 20px;
        margin-bottom: 20px;
    }

    #socials ul {
        margin: 0 auto;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }

    /* CHECKOUT */
    #checkout .checkout-content {
        padding: 30px;
        padding-bottom: 20px;
    }
}

/*Styles from app.css*/

.show-tips {
  position: absolute;
  right: 10px;
  bottom: 62px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background: rgba(222,222,222,0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.show-tips.hide {
  right: -1000px;
}

.tip {
  position: fixed;
    right: 10px;
    bottom: 0px;
}

.tip p {
  display: none;
}

.tip p.tip-visible {
  display: block;
}

p {
  text-align: left;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 5px;
}
p span.key-set {
  color: #398339;
  font-weight: 700;
}

.container .has-error .error-label {
  visibility: visible;
  height: auto;
  opacity: 1;
}

.container > div .error-label,
.container > div .danger-label {
  visibility: hidden;
  height: 0;
  opacity: 0;
  text-align: right;
  font-size: 12px;
  -webkit-transform: translate(0, 35%);
  transform: translate(0, 35%);
}

.has-error form span.error-label {
  color: #f05050;
}
.error-container {
  height: 30px;
}

.error {
  background: #f05050;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding: 15px;
  margin-bottom:40px;
}
.error .error-label {
  display: block;
  text-align: center;
}
.error-label {
  text-align: right;
}

.form-control {
  color: #55595c;
  border-radius: 0 !important;
}

.input-lg {
  height: 60px;
  padding: 20px;
  font-size: 40px;
}

.circulito md-progress-circular{
    position: relative;
    display: inline-block;
}

.circulito md-progress-circular path{
    stroke: #fff;
}

