<!DOCTYPE html>
<html>
<head>
    <title>Quero Pontos</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- build:cssVendors -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css"/>
    <link rel="stylesheet" href="bower_components/toastr/toastr.css"/>
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css"/>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css -->
    <link rel="stylesheet" href="assets/styles/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="assets/styles/app.css" type="text/css"/>
    <!-- endbuild -->
</head>
<body ng-app="app">

<div class="header" ng-if="currentClient" ng-include="'app/core/header/header.tpl.html'"></div>

<div class="container wrapper">
    <div ui-view></div>
    <div class="right-panel" ng-if="currentClient" ng-include="'app/core/right_panel/right_panel.tpl.html'"></div>
</div>

<!-- build:js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="bower_components/angular-sweetalert/SweetAlert.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/extras.angular.plus/ngplus-overlay.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/br-validations/releases/br-validations.js"></script>
<script src="bower_components/string-mask/src/string-mask.js"></script>
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/br-masks/releases/br-masks.js"></script>
<script src="bower_components/angular-br-filters/release/angular-br-filters.js"></script>
<script src="bower_components/clipboard/dist/clipboard.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="bower_components/moment/moment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:angular -->
<script src="app/vendors/md5.min.vendor.js"></script>

<script src="app/app.mdl.js"></script>
<script src="app/app.route.js"></script>
<script src="app/i18n/locale-pt-br.js"></script>

<script src="app/common/services/services.mdl.js"></script>
<script src="app/common/services/logger.srv.js"></script>
<script src="app/common/services/vouchers.srv.js"></script>
<script src="app/common/services/rewards.srv.js"></script>
<script src="app/common/services/clients.srv.js"></script>
<script src="app/common/services/places.srv.js"></script>
<script src="app/common/services/stores.srv.js"></script>
<script src="app/common/services/retailer.srv.js"></script>
<script src="app/common/services/confirmation.srv.js"></script>

<script src="app/common/directives/directives.mdl.js"></script>
<script src="app/common/directives/address_autocomplete.drv.js"></script>
<script src="app/common/directives/type_password.drv.js"></script>
<script src="app/common/directives/date_select.drv.js"></script>

<script src="app/common/filters/filters.mdl.js"></script>
<script src="app/common/filters/cpf.fltr.js"></script>

<script src="app/core/header/header.mdl.js"></script>
<script src="app/core/header/header.ctrl.js"></script>
<script src="app/core/header/qp-header.drv.js"></script>

<script src="app/core/vouchers/vouchers.mdl.js"></script>
<script src="app/core/vouchers/vouchers.ctrl.js"></script>
<script src="app/core/vouchers/voucher.ctrl.js"></script>
<script src="app/core/vouchers/voucher_modal.ctrl.js"></script>
<script src="app/core/vouchers/voucher_print/voucher_print.drv.js"></script>

<script src="app/core/where_to_explore/where_to_explore.mdl.js"></script>
<script src="app/core/where_to_explore/reward_modal.ctrl.js"></script>
<script src="app/core/where_to_explore/where_to_explore.ctrl.js"></script>
<script src="app/core/where_to_explore/store.ctrl.js"></script>
<script src="app/core/where_to_explore/places_nearby.drv.js"></script>

<script src="app/core/profile/profile.mdl.js"></script>
<script src="app/core/profile/profile.ctrl.js"></script>

<script src="app/core/right_panel/right_panel.mdl.js"></script>
<script src="app/core/right_panel/right_panel.ctrl.js"></script>
<script src="app/core/right_panel/lazy_scroll.drv.js"></script>

<script src="app/core/confirm_email/confirm_email.mdl.js"></script>
<script src="app/core/confirm_email/confirm_email.ctrl.js"></script>
<!-- endbuild -->

<script
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&language=en&key=AIzaSyDxEu6bKLri9y1E6JpBKBCNM9IBJXAHiRU"></script>

<!-- build:livereload -->
<script src="http://localhost:35729/livereload.js"></script>
<!-- endbuild -->
</body>
</html>
