 <div class="remodal login-modal cadastro-modal remodal-is-initialized remodal-is-opened" data-remodal-id="modal-cadastro-comerciante" tabindex="-1" ng-controller="rewardModalCtrl">
    <button ng-controller="storeCtrl" class="remodal-close" style="position: absolute; top: 6px; left: initial;" ng-click="close()"></button>
    <div class="col-md-12 comerciante cadastro ng-scope" >
        <h6 style="    text-align: center; margin-bottom: 25px;     font-size: 1.2rem;">Suas informações foram atualizadas com sucesso!</h6>
        <div style="display:flex;justify-content: center;">
			<button data-remodal-action="confirm" class="btn btn-greenalt" style="padding: 20px 20px;" ng-controller="storeCtrl" ng-click="close()">FECHAR</button>
        </div>
    </div>
</div>