<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <div class="minha-conta">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="row">
                            <div class="conta-info">
                                <div class="user clearfix">
                                    <div class="left">
                                        <div class="user-image"><img ng-src="{{userImage}}" alt="" /></div>
                                    </div>
                                    <div class="left">
                                        <div class="user-name">{{currentClient.name}}</div>
                                        <div class="user-cpf">{{cpfEx}}</div>
                                        <div class="user-date">{{currentClient.createdAt|date:'dd/MMM/yyyy'}}</div>
                                    </div>
                                </div>
                                <div class="user-menu">
                                    <ul>
                                        <li class="active conta"><a href="#">Minha conta</a></li>
                                        <li class="meus-alertas"><a href="#">Meus Alertas</a></li>
                                        <li class="salir"><a href="" ng-click="logout()">Sair</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" style="background: #fff;">
                        <div class="row">
                            <div class="conta-content">
                                <h1>Minha conta</h1>
                                <form name="edit">
                                    <div class="group-fw">
                                        <label for="nome">Nome completo</label>
                                        <input id="nome"
                                               type="text"
                                               placeholder="{{currentClient.name}}"
                                               name="nome"
                                               ng-model="client.name"
                                               ng-maxlength="50"
                                               ng-pattern="/^[a-zA-Z ]+$/"
                                               maxlength="51"
                                               type="text"
                                               required/>
                                            <p ng-show="edit.nome.$error.pattern" style="color:red">Invalid entry.</p>
                                            <p ng-show="edit.nome.$error.maxlength" style="color:red">Maxlength reached</p>
                                    </div>
                                    <div class="group-hw">
                                        <label for="aniversario">Data de Aniversário</label>
                                        <input id="aniversario"
                                               name="aniversario"
                                               type="text"
                                               ng-model="aniversario"
                                               ng-keypress="clearMessage()"
                                               ui-mask="99/99/9999"     
                                               model-view-value="true"
                                               ng-pattern="/^[0-9]{1,2}\/[0-9]{1,2}\/[0-9]{4}$/"         
                                               required/>
                                        <p ng-show="edit.aniversario.$error.pattern" style="color:red">Invalid entry</p>
                                        <p ng-show="invalidDate" style="color:red">{{message}}</p>
                                    </div>
                                    <div class="group-hw">
                                        <label for="aniversario">Género</label>
                                        <label class="switch">
                                            <input type="checkbox" ng-model="sex" ng-click="getSexChoice()">
                                            <div class="slider">
                                                <p class="left">Masculino</p>
                                                <p class="right">Fêmea</p>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="group-hw">
                                        <label for="email">E-mail</label>
                                        <input id="email"
                                               name="email"
                                               type="text"
                                               placeholder="{{currentClient.email}}"
                                               ng-model="client.email"
                                               ng-pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/"
                                               required/>
                                        <p ng-show="edit.email.$error.pattern" style="color:red">Enter a valid email.</p>
                                    </div>
                                    <div class="group-hw">
                                        <label for="cpf">CPF</label>
                                        <input id="cpf"
                                               ng-model="cpfEx"
                                               type="text"
                                               disabled
                                        />
                                    </div>
                                    <div class="group-fw">
                                        <button class="btn btn-greenalt" ng-click="save(edit)">SALVAR</button>
                                    </div>
                                    <br>
                                    <a href="" ng-click="showPasswordForm()">Reset password</a>
                                </form>
                                <br>
                                <form name="reset" ng-show="pass">
                                    <div class="group-fw">
                                        <label for="old-senha">Old Senha</label>
                                        <input id="old-senha"
                                               name="oldPass"
                                               type="password"
                                               ng-model="old"
                                               ng-keypress="clearMessage()"
                                               ng-minlength="4"
                                               required
                                        />
                                        <p ng-show="reset.oldPass.$error.minlength" style="color:red">Password is too short.</p>
                                        <p ng-show="wrongPassword" style="color:red">Wrong password.</p>
                                    </div>
                                    <div class="group-fw">
                                        <label for="nova-senha">Nova Senha</label>
                                        <input id="nova-senha"
                                               type="password"
                                               name="newPass"
                                               ng-model="new"
                                               required
                                        />
                                    </div>
                                    <div class="group-fw">
                                        <label for="confirmar-senha">Confirmar Senha</label>
                                        <input id="confirmar-senha"
                                               type="password"
                                               name="confirmPass"
                                               ng-model="confirm"
                                               required
                                        />
                                        <p ng-if="confirm!=new" style="color:red">Passwords does not match.</p>
                                    </div>
                                    <div class="group-fw">
                                        <button class="btn btn-greenalt" ng-click="setNewPassword(reset)">RESET PASSWORD</button>
                                    </div>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
