<div class="varejista-inner">
    <h1>Gestao de clientes</h1>
    <p>Dashboard / <a href="#">inicio</a></p>
    <div class="sub-content clearfix">
        <h2>Grupo de clientes</h2>
        <p>Explore aqui quais clientes estão vinculados ao seu estabelecimento e se quiser você
            pode criar uma promoção e enviar por e-mail marketing.</p>
        <form class="clearfix">
            <div class="group-100">
                <div class="ng-scope">

                    <div class="search-field">
                        <span class="text-bold ng-scope" translate="SEARCH">Search</span>
                        <input ng-model="searchText" class="ng-valid ng-touched ng-dirty ng-valid-parse">
                    </div>

                    <div class="dropdown-buttons client-group-btns">

                        <div ng-show="disableSendEmail" style="float: right;color: #f00;" class="ng-hide">
                            <p translate="LIMIT_EMAILS" class="ng-scope">You already used limit to sending two email marketing per month</p>
                        </div>
                        <br>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="chooseBirthday()" ng-style="chosen.birthday">Birthday</a></li>
                                <li><a href="" ng-click="chooseInactive()" ng-style="chosen.Inactive">Inactive</a></li>
                                <li><a href="" ng-click="chooseProfitable()" ng-style="chosen.prof">Most Profitable</a></li>
                                <li>
                                    <div class="text-center"
                                         style="margin-top:5px; margin-bottom:5px;">
                                        <span class="not-pointer" style="font-weight: bold;">
                                            Age Group
                                        </span>
                                    </div>
                                </li>
                                <li><a href="" ng-click="chooseAge('AGE_GROUP_17')" ng-style="chosen._17">Age Group 17 or less</a></li>
                                <li><a href="" ng-click="chooseAge('AGE_GROUP_18_25')" ng-style="chosen._18">Age Group from 18 to 25</a></li>
                                <li><a href="" ng-click="chooseAge('AGE_GROUP_26_30')" ng-style="chosen._26">Age Group from 26 to 30</a></li>
                                <li><a href="" ng-click="chooseAge('AGE_GROUP_30_40')" ng-style="chosen._30">Age Group from 30 to 40</a></li>
                                <li><a href="" ng-click="chooseAge('AGE_GROUP_41')" ng-style="chosen._41">Age Group from 41 or more</a></li>
                                <li>
                                    <div class="text-center"
                                         style="margin-top:5px; margin-bottom:5px;">
                                        <span class="not-pointer" style="font-weight: bold;">
                                            Gender
                                        </span>
                                    </div>
                                </li>
                                <li><a href="" ng-click="chooseGender('GENDER_M')" ng-style="chosen.male">Male</a></li>
                                <li><a href="" ng-click="chooseGender('GENDER_F')" ng-style="chosen.female">Female</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div ng-show="clients.length === 0">Clients not found</div>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="selectedAll" ng-click="selectAll()"></th>
                        <th>
                            <a ng-click="sortClients('name')" href="" class="pointer">Client Name:</a>
                                <span class="sort-order" ng-show="orderClient.predicate === 'name'"
                                      ng-class="{reverse: orderClient.reverse}"></span>
                        </th>
                        <th>
                            <a ng-click="sortClients('points + pointsInVouchers')" href="" class="pointer">Points</a>
                                <span class="sort-order" ng-show="orderClient.predicate === 'points + pointsInVouchers'"
                                      ng-class="{reverse: orderClient.reverse}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="client in clients| orderBy: orderClient.predicate: orderClient.reverse| filter:searchText">
                        <th scope="row"><input type="checkbox" ng-model="selectedClients[client._id]" ng-click="ifAllSelected()"></th>
                        <td ng-click="openClient(client)">{{client.name}}</td>
                        <td ng-click="openClient(client)">{{+client.actualPoints | currency : "" : 0}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-greenalt" ng-click="sendingEmail()">ENVIAR</button>
        </form>
        <h4 style="color:red" ng-show="chosen==0">Choose at least one client</h4>
    </div>
</div>
