<div class="remodal sotomodal" ng-controller="clientCtrl">
    <button class="remodal-close"></button>
       <div class="container" ng-hide="client.length">
            <div class="text-align">
                <h4>Client Information:</h4>
                <br>
                Name: {{client.name}}
                <br>
                E-mail: {{client.email}}
                <br>
                CPF: {{client.cpf}}
                <br>
                Dots: {{client.points}}
            </div>
        </div>
        <table class="table table-striped sotable" ng-hide="emptyRewards">
            <thead>
            <tr>
                <th>
                    <h3 style="text-align: left">Reward Title</h3>
                </th>
                <th>
                    <h3 style="text-align: left">Reward price</h3>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reward in rewards">
                <td>
                    <input type="radio" name="reward" style="margin-right: 10px;" ng-click="chooseReward(reward)">{{reward.title}}
                </td>
                <td>{{reward.points}} puntos</td>
            </tr>
            </tbody>
        </table>
    <div class="text-align" ng-show="error">
        <h4 style="color:red;">Choose a reward.</h4>
    </div>
    <br>
    <div class="text-align" ng-show="emptyRewards">
        <h3>You have not promotions to offer.</h3>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <button class="btn btn-gray" ng-controller="clientsGroupCtrl" ng-click="close()">Cancel</button>
        <button class="btn btn-greenalt" ng-click="next()">Send E-mail</button>
    </div>
</div>
