<div class="col-md-12">
    <div class="row varejista-content">
        <div class="varejista-inner">
            <h1>Gestao de clientes</h1>
            <p>Dashboard / <a href="#">inicio</a></p>
            <div class="sub-content template clearfix">
                <h2>Template de E-mail</h2>
                <p>Escolha o template de e-mail mais adequado para sua campanha.</p>
                <h4><a href="#/clientsGroup">Go back to Clientes</a></h4>
                <form class="clearfix" style="max-width: 100% !important;">
                    <div class="form-group group-30">
                        <label>Sera enviado para:</label>
                        <select ng-model="chosenClient"
                                ng-options="client.name for client in clients"
                                ng-change="setData(chosenClient)">
                        </select>
                    </div>
                    <div class="form-group group-15">
                        <label>Pontos</label>
                        <input placeholder="{{chosen.points}}" type="text" disabled>
                    </div>
                    <div class="form-group group-30">
                        <label>E-mail</label>
                        <input placeholder="{{chosen.email}}" type="email" disabled>
                    </div>
                    <div class="form-group group-25">
                        <label>CPF</label>
                        <input placeholder="{{chosen.cpf}}" type="text" disabled>
                    </div>
                    <div style="clear:both"></div>
                    <div class="template-chooser">
                        <div class="template-single"> <!-- 200X400 -->
                            <img src="assets/images/christmas_email.png"
                                 alt=""
                                 ng-class="chosenTemplate.christmas"
                                 ng-click="selectTemplate('CHRISTMAS')"
                            />
                            <p>Christmas</p>
                        </div>
                        <div class="template-single"> <!-- 200X400 -->
                            <img src="assets/images/birthday_email.png"
                                 alt=""
                                 ng-class="chosenTemplate.birthday"
                                 ng-click="selectTemplate('BIRTHDAY')"
                            />
                            <p>Birthday</p>
                        </div>
                        <div class="template-single"> <!-- 200X400 -->
                            <img src="assets/images/reward_email.png"
                                 alt=""
                                 ng-class="chosenTemplate.reward"
                                 ng-click="selectTemplate('REWARD')"
                            />
                            <p>Reward</p>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="form-group">
                        <div class="left">
                            <button class="btn btn-grayblue" ng-click="cancel()">CANCELAR</button>
                        </div>
                        <div class="right">
                            <button class="btn btn-greenalt" ng-click="sendEmail()">ENVIAR E-MAIL</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
