body {
  font-family: arial, serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  color: #595c62;
}
.login,
.user-login {
  margin-top: 20px;
}
.login .form-group,
.user-login .form-group {
  margin: 10px 0 20px;
}
.login .panel-title,
.user-login .panel-title {
  font-size: 18px;
}
.wrapper {
  margin-top: 70px;
}
h1,
.page-header {
  font-weight: 300;
  font-size: 26px;
  padding-bottom: 15px;
  margin: 0 0 20px;
  border-bottom: 1px solid #ebeff6;
}
h2 {
  font-weight: 300;
  font-size: 20px;
  margin: 0 0 20px;
}
.mini-stat {
  border: 2px solid #ebeff6;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.navbar .logo {
  margin-top: -6px;
  width: 140px;
}
.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: #528fcc;
  border-radius: 100%;
  color: #fff;
  float: left;
  margin-right: 10px;
}
.mini-stat-info {
  font-size: 14px;
  padding-top: 10px;
}
.mini-stat-info span {
  display: block;
  font-size: 24px;
  font-weight: 600;
}
.retailer-logo {
  width: 80px;
  height: 80px;
  display: inline-block;
  background: #eee;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar-default {
  border-bottom: 1px solid #eee;
  background-color: #fbfbfb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar .navbar-brand {
  color: #528fcc;
  font-weight: 800;
}
.tab-pane {
  margin-top: 20px;
}
.text-success {
  color: #81c868;
}
.text-primary {
  color: #528fcc;
}
.text-warning {
  color: #ffbd4a;
}
.text-danger {
  color: #f05050;
}
#loading-bar .bar {
  background: #528fcc;
}
#loading-bar .peg {
  -ms-box-shadow: #528fcc 1px 0 10px 1px;
  box-shadow: #528fcc 1px 0 10px 1px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #528fcc;
  border-left-color: #528fcc;
}
.support .manager-description {
  margin: 30px 90px;
}
@media (min-width: 600px) {
  .login {
    width: 300px;
    margin: 40px auto;
  }
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format('embedded-opentype'), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format('woff2'), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format('woff'), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format('truetype'), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul>li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: 0.3em;
}
.fa.pull-right {
  margin-left: 0.3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #fff;
}
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-genderless:before,
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.ts-1,
.form-control,
.btn {
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}
.form-group {
  position: relative;
}
.form-control {
  height: 40px;
  border: 1px solid #ebeff6;
  box-shadow: none;
  border-radius: 2px;
}
.form-control:hover,
.form-control:focus,
.form-control:focus + .input-group-addon,
.form-control:hover + .input-group-addon {
  box-shadow: none;
  border: 1px solid #528fcc;
  box-shadow: inset 0 0px 0 1px #528fcc;
}
.form-control.ng-touched.ng-invalid {
  border-color: #f05050;
}
.form-control.ng-touched.ng-invalid:hover,
.form-control.ng-touched.ng-invalid:focus {
  box-shadow: inset 0 0px 0 1px #f05050;
}
.form-group-error {
  color: #f05050;
  font-size: 0.8em;
  margin: 0;
}
[class*="col-"].form-group .form-control + .ng-active > .form-group-error {
  margin-right: 15px;
}
.form-control + .ng-active > .form-group-error {
  position: absolute;
  top: 5px;
  right: 0;
}
.form-control + .ng-active.no-label > .form-group-error {
  top: -18px;
}
.form-group .fa-asterisk {
  color: #f05050;
  font-size: 0.7rem;
  vertical-align: middle;
}
.btn-primary.input-group-addon {
  background: #528fcc;
  color: #fff;
  border: 1px solid #528fcc;
}
.control-label {
  font-size: 14px;
}
.panel-default {
  border-color: #ebeff6;
}
.panel-default .panel-heading {
  background-color: #f7f9fb;
  border-color: #ebeff6;
  color: #595c62;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
.btn {
  border-radius: 2px;
}
.btn-label {
  background: rgba(0,0,0,0.05);
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px 0 0 3px;
  margin: -7px -13px;
  margin-right: 12px;
}
.modal-content {
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
.dropbodown-menu li a.active {
  background: #f5f5f5;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
  position: relative;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave {
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s;
  opacity: 1;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.fader-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.fader-animation.ng-move {
  opacity: 0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity: 1;
}
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
  position: fixed !important;
  display: inline !important;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
  opacity: 1;
}
.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
  opacity: 0;
}
.streamline {
  position: relative;
  border-color: rgba(120,130,140,0.13);
  margin-left: 10px;
}
.streamline .sl-icon:before,
.streamline .sl-item:before,
.streamline:after {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-left: -4px;
  top: 6px;
  left: 0;
}
.sl-icon {
  position: absolute;
  left: -8px;
  z-index: 1;
  border: inherit;
  top: 3px;
}
.sl-icon>i {
  width: 17px;
  height: 18px;
  display: table-cell;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}
.sl-item {
  position: relative;
}
.streamline .sl-icon:before {
  width: 10px;
  height: 10px;
  border-width: 8px;
  margin: 0 !important;
  top: 0 !important;
}
.sl-item {
  border-color: rgba(120,130,140,0.13);
  padding-bottom: 1px;
}
.sl-item:after {
  top: 2px;
  bottom: auto;
}
.sl-content {
  margin-left: 24px;
  padding-bottom: 16px;
}
.sl-date {
  font-size: 0.85em;
}
.m-b,
.m-y {
  margin-bottom: 1rem !important;
}
.m-x-40,
.m-y-40 {
  margin-bottom: 40px !important;
}
.w-70 {
  width: 70px;
  height: 70px;
}
.b-l {
  border-left: 1px solid rgba(120,130,140,0.13);
}
.b-b {
  border-bottom: 1px solid rgba(120,130,140,0.13);
  padding-bottom: 10px;
}
.b-primary {
  border-color: #528fcc;
}
.b-warning {
  border-color: #ffbd4a;
}
.b-success {
  border-color: #81c868;
}
.b-danger {
  border-color: #f05050;
}
.pointer {
  cursor: pointer;
}
.radius > * {
  border-radius: 50%;
}
.places-widget .places-item {
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 0;
  margin: 20px 0;
  position: relative;
}
.places-widget .places-item .places-item-img {
  float: left;
  width: 65px;
}
.places-widget .places-item .places-item-description {
  margin-left: 90px;
}
.places-widget .places-item img {
  width: 40px;
}
.places-widget .places-item .places-item-text {
  color: #a0a0a0;
  margin: 0;
}
.places-widget .places-item .places-item-date {
  color: #a9a9a9;
  font-size: 12px;
}
.right-panel {
  position: fixed;
  top: 200px;
  right: 100px;
}
.profile-client {
  float: left;
}
.map-container {
  height: 300px;
  width: 300px;
}
.has-error label {
  color: #f00;
}
.has-error input:not([type="button"]) {
  border-color: #f00;
}
.navbar.header [qp-header-tooltip] {
  position: absolute;
  display: none;
  background: #c8c8c8;
}
.navbar.header:hover [qp-header-tooltip] {
  display: block;
}
.header {
  padding: 15px;
}
.user-info li span {
  font-weight: 700;
  margin-left: 10px;
}
.user-info .dropdown-menu {
  left: 0;
}
.right-panel-edit {
  overflow: auto;
}
.right-panel-edit li {
  list-style-type: none;
}
.right-panel-edit .activity-type {
  font-weight: 700;
  color: #1f6377;
}
.right-panel-edit .activity-title {
  font-weight: 700;
  color: #398339;
}
.right-panel-edit .activity-data {
  font-weight: 700;
  color: #1f90cf;
}
.form-group {
  position: relative;
}
.form-group .fa-asterisk {
  color: #f05050;
  font-size: 0.7rem;
  vertical-align: middle;
}
.form-control {
  height: 40px;
  border: 1px solid #ebeff6;
  box-shadow: none;
  border-radius: 2px;
}
.form-control.ng-touched.ng-invalid {
  border-color: #f05050;
}
.form-control + .ng-active > .form-group-error {
  position: absolute;
  top: 5px;
  right: 0;
}
.form-control + .ng-active.no-label > .form-group-error {
  top: -18px;
}
.form-control:hover,
.form-control:focus,
.form-control:focus + .input-group-addon,
.form-control:hover + .input-group-addon {
  box-shadow: none;
  border: 1px solid #528fcc;
  box-shadow: inset 0 0px 0 1px #528fcc;
}
.form-control.ng-touched.ng-invalid:hover,
.form-control.ng-touched.ng-invalid:focus {
  box-shadow: inset 0 0px 0 1px #f05050;
}
.form-group-error {
  color: #f05050;
  font-size: 0.8em;
  margin: 0;
}
[class*="col-"].form-group .form-control + .ng-active > .form-group-error {
  margin-right: 15px;
}
.btn-primary.input-group-addon {
  background: #528fcc;
  color: #fff;
  border: 1px solid #528fcc;
}
.control-label {
  font-size: 14px;
}
.panel-default {
  border-color: #ebeff6;
}
.panel-default .panel-heading {
  background-color: #f7f9fb;
  border-color: #ebeff6;
  color: #595c62;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
.btn {
  border-radius: 2px;
}
.btn-label {
  background: rgba(0,0,0,0.05);
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px 0 0 3px;
  margin: -7px -13px;
  margin-right: 12px;
}
.modal-content {
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
.dropbodown-menu li a.active {
  background: #f5f5f5;
}
input.active {
  background-color: #008000;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
  position: relative;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave {
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s;
  opacity: 1;
}
.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.fader-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.fader-animation.ng-move {
  opacity: 0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity: 1;
}
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
  position: fixed !important;
  display: inline !important;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
  opacity: 1;
}
.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
  opacity: 0;
}
.streamline {
  position: relative;
  border-color: rgba(120,130,140,0.13);
  margin-left: 10px;
}
.streamline .sl-icon:before {
  width: 10px;
  height: 10px;
  border-width: 8px;
  margin: 0 !important;
  top: 0 !important;
}
.streamline .sl-icon:before,
.streamline .sl-item:before,
.streamline:after {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-left: -4px;
  top: 6px;
  left: 0;
}
.sl-icon {
  position: absolute;
  left: -8px;
  z-index: 1;
  border: inherit;
  top: 3px;
}
.sl-icon > i {
  width: 17px;
  height: 18px;
  display: table-cell;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}
.sl-item {
  position: relative;
  border-color: rgba(120,130,140,0.13);
  padding-bottom: 1px;
}
.sl-item:after {
  top: 2px;
  bottom: auto;
}
.sl-content {
  margin-left: 24px;
  padding-bottom: 16px;
}
.sl-date {
  font-size: 0.85em;
}
.m-b,
.m-y {
  margin-bottom: 1rem !important;
}
.m-x-40,
.m-y-40 {
  margin-bottom: 40px !important;
}
.w-70 {
  width: 70px;
  height: 70px;
}
.b-l {
  border-left: 1px solid rgba(120,130,140,0.13);
}
.b-b {
  border-bottom: 1px solid rgba(120,130,140,0.13);
  padding-bottom: 10px;
}
.b-primary {
  border-color: #528fcc;
}
.b-warning {
  border-color: #ffbd4a;
}
.b-success {
  border-color: #81c868;
}
.b-danger {
  border-color: #f05050;
}
.pointer {
  cursor: pointer;
}
.radius > * {
  border-radius: 50%;
}
.places-widget .places-item {
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 0;
  margin: 20px 0;
  position: relative;
}
.places-widget .places-item .places-item-img {
  float: left;
  width: 65px;
}
.places-widget .places-item .places-item-description {
  margin-left: 90px;
}
.places-widget .places-item img {
  width: 40px;
}
.places-widget .places-item .places-item-text {
  color: #a0a0a0;
  margin: 0;
}
.places-widget .places-item .places-item-date {
  color: #a9a9a9;
  font-size: 12px;
}
.right-panel {
  position: fixed;
  top: 50px;
  right: 0;
  height: calc(100% - 50px);
}
.right-panel div {
  height: 100%;
}
.right-panel div div {
  height: 100%;
}
.profile-retailer {
  float: left;
  margin-bottom: 300px;
}
.edit-phone {
  margin-left: 15px;
  margin-bottom: 10px;
}
.edit-store-btns {
  text-align: right;
  margin-right: 3px;
  margin-bottom: 15px;
}
.map-container {
  width: 100%;
  margin-top: 10px;
  height: 200px;
}
.has-error {
  position: relative;
}
.has-error .span-error {
  position: absolute;
  top: -2px;
  right: 0;
  font-size: 12px;
}
.has-error label {
  float: right;
  color: #f00;
}
.has-error input:not([type="button"]) {
  border-color: #f00;
}
.has-error textarea:not([type="button"]) {
  border-color: #f00;
}
.navbar.header [qp-header-tooltip] {
  position: absolute;
  display: none;
  background: #c8c8c8;
}
.navbar.header:hover [qp-header-tooltip] {
  display: block;
}
.header-logo {
  display: inline-block;
  padding: 13px 0;
  width: 15%;
}
.user-info {
  width: 40%;
}
.header-navigation {
  width: 45%;
}
.header-navigation li a {
  padding: 16px 10px;
}
#touch-side-bar,
#touch-side-bar2 {
  display: none;
  position: absolute;
  left: 0;
  top: 148px;
  width: 30px;
  height: 155px;
  cursor: pointer;
}
#touch-side-bar:after,
#touch-side-bar2:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 15px;
  background: #008000;
  top: 50%;
  margin-top: -7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#touch-side-bar:before,
#touch-side-bar2:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 15px;
  background: #008000;
  bottom: 50%;
  margin-bottom: 0;
  left: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#touch-side-bar.show-left-bar:after,
#touch-side-bar2.show-left-bar:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#touch-side-bar.show-left-bar:before,
#touch-side-bar2.show-left-bar:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#touch-side-bar2 {
  right: 0;
  left: auto;
}
#touch-side-bar2:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#touch-side-bar2:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#touch-side-bar2.show-right-bar:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#touch-side-bar2.show-right-bar:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.header {
  padding: 0;
}
.point-container {
  margin-top: 3px;
}
.user-info li span {
  font-weight: 700;
  margin-left: 10px;
}
.user-info .dropdown-menu {
  left: 0;
}
.right-panel-edit {
  width: 200px;
  padding: 20px;
  border-left: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  height: 100%;
  margin-bottom: 10px;
}
.right-panel-edit li {
  list-style-type: none;
  margin-bottom: 4px;
  border-bottom: 1px solid #398339;
}
.right-panel-edit li:last-child {
  border: none;
}
.right-panel-edit .activity-title {
  font-weight: 700;
  color: #398339;
}
.right-panel-edit .activity-data {
  font-weight: 700;
  color: #1f90cf;
}
.stores-container {
  width: 60%;
}
.stores-container li {
  list-style-type: none;
}
.stores-container li.active,
.stores-container li .store-name {
  font-weight: 700;
  cursor: pointer;
}
.stores-container li .reward-in-reward {
  display: block;
  float: left;
  width: 100%;
  font-weight: 400;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.stores-container li .reward-in-reward:hover {
  background: rgba(221,221,221,0.7);
}
.stores-container li .reward-in-reward:first-child {
  background: #ddd;
}
.stores-container li .reward-in-reward div {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 38%;
}
.stores-container li .reward-in-reward div:first-child {
  width: 60%;
  margin-right: 2%;
  border-right: 1px solid #e7e7e7;
}
.stores-container li ul {
  width: 100%;
  padding: 0;
  border: 1px solid #e7e7e7;
  margin: 10px 0;
}
.map-nearby {
  width: 600px;
  height: 500px;
}
.client-container {
  width: 60%;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  border: 1px solid #e7e7e7;
}
.client-container .client.client-header {
  background: #ddd;
}
.client-container .client.client-header div.client-checkbox input[type="checkbox"] {
  margin-top: 5px;
}
.client-container .client {
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.client-container .client:hover {
  background: rgba(221,221,221,0.7);
}
.client-container .client div {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 5px;
  border-right: 1px solid #e7e7e7;
}
.client-container .client div.client-name {
  width: 60%;
  margin-left: 5%;
}
.client-container .client div.client-checkbox {
  width: 2%;
  position: absolute;
  text-align: center;
}
.client-container .client div.client-checkbox input[type="checkbox"] {
  margin-top: 10px;
}
.client-container .client div.client-points {
  width: 35%;
  border-right: 0;
}
.reward-container {
  width: 60%;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  border: 1px solid #e7e7e7;
}
.reward-container .reward.reward-header {
  background: #ddd;
}
.reward-container .reward {
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.reward-container .reward:hover {
  background: rgba(221,221,221,0.7);
}
.reward-container .reward div {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 5px;
  border: 0;
}
.reward-container .reward div.reward-name {
  width: 50%;
  border-right: 1px solid #e7e7e7;
}
.reward-container .reward div.reward-button {
  padding: 0;
  width: 3%;
  position: absolute;
}
.reward-container .reward div.reward-div-price {
  margin-right: 7.5%;
  width: 35%;
  border-right: -7;
}
.store-title-edit {
  display: inline-block;
  position: relative;
  width: 45.6%;
  margin: 1% 2%;
  margin-bottom: 10px;
}
.store-title-edit.description {
  max-width: 100%;
  min-width: 96%;
}
.store-title-edit.address {
  max-width: 100%;
  min-width: 96%;
}
.store-title-edit.address .error-label {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
}
.store-title-edit input {
  width: 100%;
}
.store-title-edit span {
  display: block;
}
.manager-edit {
  position: relative;
}
.del-store {
  position: absolute;
  right: 10px;
  top: 50%;
}
.report-title {
  font-weight: 700;
}
.profitable-client {
  max-height: 476px;
  overflow-y: auto;
  width: 60.3%;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  border: 1px solid #e7e7e7;
}
.profitable-client .client.client-header {
  background: #ddd;
  position: absolute;
  width: 662px;
}
.profitable-client .client:nth-child(2) {
  margin-top: 34px;
}
.profitable-client .client {
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.profitable-client .client:hover {
  background: rgba(221,221,221,0.7);
}
.profitable-client .client div {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 5px;
  border-right: 1px solid #e7e7e7;
}
.profitable-client .client div.client-name {
  width: 60%;
}
.profitable-client .client div.client-points {
  width: 40%;
  border-right: 0;
}
.birthday-client {
  max-height: 476px;
  overflow-y: auto;
  width: 60.3%;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  border: 1px solid #e7e7e7;
}
.birthday-client .client.client-header {
  background: #ddd;
  position: absolute;
  width: 662px;
}
.birthday-client .client:nth-child(2) {
  margin-top: 34px;
}
.birthday-client .client {
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.birthday-client .client:hover {
  background: rgba(221,221,221,0.7);
}
.birthday-client .client div {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 5px;
  border-right: 1px solid #e7e7e7;
}
.birthday-client .client div.client-name {
  width: 60%;
}
.birthday-client .client div.client-birthday {
  width: 40%;
  border-right: 0;
}
.dropdown-menu {
  padding: 5px;
}
.support .btn-group {
  width: 100%;
}
.support span {
  display: block;
}
.support input[type="text"],
.support textarea {
  width: 100%;
}
.rewards-edit span {
  display: block;
}
.rewards-edit input[type="text"] {
  width: 100%;
}
.rewards-in-vouchers {
  max-height: 476px;
  overflow-y: auto;
  width: 60.3%;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  border: 1px solid #e7e7e7;
}
.rewards-in-vouchers .reward-in-voucher.reward-in-voucher-header {
  background: #ddd;
  position: absolute;
  width: 662px;
}
.rewards-in-vouchers .reward-in-voucher:nth-child(2) {
  margin-top: 45px;
}
.rewards-in-vouchers .reward-in-voucher {
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.rewards-in-vouchers .reward-in-voucher:hover {
  background: rgba(221,221,221,0.7);
}
.rewards-in-vouchers .reward-in-voucher div {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 5px;
  border-right: 1px solid #e7e7e7;
}
.rewards-in-vouchers .reward-in-voucher div.voucher-code {
  width: 20%;
}
.rewards-in-vouchers .reward-in-voucher div.voucher-status {
  width: 20%;
  border-right: 0;
}
.rewards-in-vouchers .reward-in-voucher div.reward-title {
  width: 20%;
  border-right: 0;
}
.rewards-in-vouchers .reward-in-voucher div.reward-price {
  width: 20%;
  border-right: 0;
}
.rewards-in-vouchers .reward-in-voucher div.client-name {
  width: 20%;
  border-right: 0;
}
.profile-info {
  width: 90%;
}
.profile-info div {
  margin-top: 5px;
}
.profile-info div span {
  display: block;
}
.profile-info div.span-error {
  position: absolute;
  right: 0;
  top: -5px;
}
.profile-info div.has-error {
  position: relative;
}
.profile-info div select.date-select-day {
  padding-right: 5px;
  width: 60px;
}
.profile-info div select.date-select-month {
  padding-right: 5px;
  width: 130px;
}
.profile-info div select.date-select-year {
  padding-right: 5px;
  width: 85px;
  margin-right: 5px;
}
.recharge {
  width: 670px;
  margin-top: 7px;
}
.recharge div {
  margin-top: 5px;
}
.recharge div span.span-error {
  position: absolute;
  right: -7px;
  top: -5px;
}
.recharge div span.has-error {
  position: relative;
}
.support {
  width: 500px;
}
.support div {
  margin-top: 5px;
}
.support div span.span-error {
  position: absolute;
  right: -7px;
  top: -5px;
}
.support div span.has-error {
  position: relative;
}
.profile-info div input,
.profile-info div select {
  margin: 0 auto;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ebeff6;
  margin-bottom: 15px;
  border-radius: 2px;
}
.virtual-card {
  width: 300px;
  height: 100px;
  display: inline-block;
  margin-left: 50px;
  padding: 10px;
  border: 1px solid #398339;
  border-radius: 10px;
  font-weight: 700;
}
.gender input[type="radio"] {
  display: none;
}
.gender label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 4px 5px 5px 45px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  font-weight: 700;
  color: #949393;
  margin-right: 15px;
}
.gender label:before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 100%;
  color: #78524c;
  font-weight: bold;
  position: absolute;
  font-size: 24px;
  text-align: center;
  line-height: 2.5;
  left: 0;
  bottom: 0;
  border-right: 1px solid #a1a1a1;
}
.gender input[type="radio"]:checked + label:before {
  content: "";
  height: 100%;
  box-shadow: none;
  background: url("../images/checked-button.png") left center no-repeat;
  background-size: 100%;
  text-transform: uppercase;
  border-right: 0;
}
.date-select-day {
  padding: 5px 10px;
}
.reset-password div div span {
  display: block;
}
.reset-password input {
  margin: 0 auto;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #ebeff6;
  margin-bottom: 15px;
  border-radius: 2px;
}
.reset-password .pass-icon {
  position: absolute;
  right: 15px;
  top: 20px;
}
.not-has-pass .pass-icon {
  position: absolute;
  right: 15px;
  top: 20px;
}
.password-show {
  position: relative;
}
.modal-header {
  padding: 0;
  border-bottom: none;
}
.modal-footer {
  padding: 0;
  border-top: none;
  text-align: center;
}
.modal-content {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}
.modal-content input[type="button"] {
  display: inline-block;
  padding: 10px;
  background: #4caf50;
  border: none;
  color: #fff;
}
.voucher-title {
  font-weight: 700;
}
.lng-block {
  position: absolute;
  right: 5px;
}
.lng-block .change-lng {
  padding: 13px 9px;
  float: left;
  background: #ddd;
  color: #fff;
  border: 1px solid #dedede;
  text-transform: uppercase;
}
.lng-block .change-lng.active {
  background: #6c9f43;
}
.lng-block .change-lng span {
  display: inline-block;
}
.text-bold {
  font-weight: 700;
}
.modal-content {
  box-shadow: none;
}
.client-group-btns {
  width: 60%;
}
.search-field span {
  display: block;
}
.map {
  display: inline-block;
  float: left;
  width: 53%;
  margin-right: 2%;
}
.client-info {
  padding-left: 0;
}
.choose-rewards {
  height: 100px;
  overflow-y: auto;
}
.choose-rewards li:hover {
  background: rgba(221,221,221,0.7);
}
.store-title {
  font-weight: 700;
}
.not-pointer {
  cursor: default !important;
}
.filter-group .not-pointer {
  font-weight: 700;
}
.filter-group li a {
  border: 2px solid transparent;
}
.filter-group li a.active {
  background-color: #f5f5f5;
  border: 2px solid #ddd;
}
.filter-group li a:hover {
  border: 2px solid #ddd;
}
@media screen and (max-width: 1370px) {
  .map-nearby {
    width: 450px;
    height: 300px;
  }
  .map {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1130px;
  }
}
@media screen and (max-width: 1100px) {
  .header-navigation {
    position: fixed;
    left: 0;
    top: 50px;
    width: 165px;
    background: #f8f8f8;
  }
  .header-navigation li {
    display: block;
    width: 100%;
  }
  .wrapper {
    width: 100%;
    padding-left: 180px;
    padding-right: 215px;
    margin: 70px 0 0;
  }
  .stores-container {
    width: 100%;
  }
  .virtual-card {
    display: none;
  }
  .retailer {
    width: 100%;
    margin-top: 20px;
  }
  .map {
    width: 100%;
  }
  .map-nearby {
    width: 100%;
  }
  .user-info {
    padding-right: 80px;
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .header-navigation {
    left: -200px;
    top: 140px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header-navigation.show-left-bar {
    left: 40px;
  }
  .wrapper {
    margin-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
  }
  #touch-side-bar,
  #touch-side-bar2 {
    display: block;
  }
  .right-panel {
    right: -300px;
    top: 53px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 9999;
  }
  .right-panel.show-right-bar {
    right: 30px;
  }
  .user-info {
    position: absolute;
    width: 100%;
    top: 52px;
    left: 50%;
    margin-left: -231px;
    z-index: 9999;
    background: #fff;
  }
  .user-info li {
    float: left;
  }
  .client-container {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .user-info {
    left: 0;
    margin: 0;
    padding-right: 0;
  }
  .user-info li {
    width: 50%;
    font-size: 12px;
  }
  .profile-info {
    width: 100%;
  }
  .profile-info div input,
  .profile-info div select {
    font-size: 14px;
  }
  .profile-info div select.date-select-day {
    width: 25%;
  }
  .profile-info div select.date-select-month {
    width: 35%;
  }
  .profile-info div select.date-select-year {
    width: 26%;
  }
  .reset-password div div span {
    font-size: 12px;
  }
  .has-error label {
    font-size: 12px;
  }
}
input[type="button"]:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
a.disabled {
  cursor: not-allowed;
}
a.disabled i {
  opacity: 0.3;
}
.dropdown-div {
  border: 1px solid #ebeff6;
}
.reward-in-reward {
  display: block;
  float: left;
  width: 100%;
  font-weight: 400;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.reward-in-reward:hover {
  background: rgba(221,221,221,0.7);
}
.reward-in-reward:first-child {
  background: #ddd;
}
.reward-in-reward div {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 38%;
}
.reward-in-reward div:first-child {
  width: 60%;
  margin-right: 2%;
  border-right: 1px solid #e7e7e7;
}
.new-element {
  background: rgba(150,111,222,0.4);
}
.chart-container {
  width: 60%;
}
h2 {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0;
}
.store-revenue {
  margin-bottom: 50px;
}
.textarea-msg span {
  float: left;
  padding: 0 15px 5px 0;
}
.search-field {
  margin: 10px 0;
}
.dropdown-buttons {
  margin-bottom: 10px;
}
.sort-order:after {
  content: '\25bc';
}
.sort-order.reverse:after {
  content: '\25b2';
}
.clear-manager-icon {
  position: relative;
}
.clear-manager-icon a {
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}
.stores-container {
  width: 60%;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  border: 1px solid #e7e7e7;
}
.stores-container .store.store-header > div {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 5px;
  border: 0;
}
.stores-container .store.store-header {
  background: #ddd;
}
.stores-container .store.store-header .title {
  width: 23%;
}
.stores-container .store.store-header .status {
  width: 50%;
}
.stores-container .store.store-header .action {
  width: 27%;
}
.stores-container .store {
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.stores-container .store:hover {
  background: rgba(221,221,221,0.7);
}
.stores-container .store .store-container > div {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 5px;
  border: 0;
}
.stores-container .store div.store-name {
  width: 23%;
  border-right: 1px solid #e7e7e7;
}
.stores-container .store div.store-button {
  padding: 0;
  width: 3%;
  position: absolute;
}
.stores-container .store div.store-description {
  width: 50%;
  border-right: -7;
}
.stores-container .store div.store-link {
  width: 20%;
  border-right: -7;
}
.email-theme {
  width: 60%;
}
.email-theme h2 {
  font-weight: 500;
  font-size: 28px;
}
.email-theme div {
  margin: 10px 0;
}
.email-theme .filter div {
  margin-left: 20px;
}
.email-theme div.client-info div {
  margin-left: 20px;
}
.email-theme div.templates {
  width: 100%;
  margin-left: 20px;
  font-weight: 400;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  display: inline-block;
  border: 1px solid #e7e7e7;
}
.email-theme div.templates div {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 100px;
  float: left;
  padding: 5px;
  margin: 10px;
  width: 30%;
  white-space: nowrap;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.email-theme div.templates div span {
  font-weight: bold;
  position: relative;
  top: 400px;
}
.email-theme div.templates div.disable {
  cursor: not-allowed;
}
.email-theme .clink-to-clientgroup {
  position: fixed;
  top: 10%;
  right: 20%;
}
.email-theme div.active {
  border: 2px solid #0e90d2 !important;
}
.templates .email-template {
  background-size: 100% 100% !important;
  height: 400px !important;
  margin-bottom: 40px !important;
  overflow: inherit !important;
}
.templates .email-template.birthday {
  background: url("../images/birthday_email.png") no-repeat;
}
.templates .email-template.christmas {
  background: url("../images/christmas_email.png") no-repeat;
}
.templates .email-template.voucher {
  background: url("../images/reward_email.png") no-repeat;
}
@media screen and (max-width: 1100px) {
  .email-theme {
    width: calc(100% - 35px);
  }
  .email-theme div.templates div {
    display: block;
    float: none;
    margin: 20px auto;
    width: 260px;
  }
}
@media screen and (max-width: 400px) {
  .email-theme div.templates div {
    width: 95%;
  }
}
