.profile-client
  float left

.map-container
  height 300px
  width 300px

.has-error
  label
    color red

.has-error
  input
    &:not([type="button"])
      border-color red

.navbar.header [qp-header-tooltip]
  position absolute
  display none
  background #C8C8C8

.navbar.header:hover [qp-header-tooltip]
  display block
