.streamline
  position relative
  border-color rgba(120, 130, 140, .13)
  margin-left 10px


.streamline .sl-icon:before,
.streamline .sl-item:before,
.streamline:after
  content ''
  position absolute
  border-color inherit
  border-width 3px
  border-style solid
  border-radius 50%
  width 7px
  height 7px
  margin-left -4px
  top 6px
  left 0


.sl-icon 
  position absolute
  left -8px
  z-index 1
  border inherit
  top 3px

.sl-icon>i
  width 17px
  height 18px
  display table-cell
  color #fff
  text-align center
  vertical-align middle
  font-size 12px


.sl-item
  position relative


.streamline .sl-icon:before
  width 10px
  height 10px
  border-width 8px
  margin 0!important
  top 0!important


.sl-item
  border-color rgba(120, 130, 140, .13)
  padding-bottom 1px


.sl-item:after
  top 2px
  bottom auto


.sl-content
  margin-left 24px
  padding-bottom 16px


.sl-date
  font-size .85em

