.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
  position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
  -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.2s;
  -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.2s;
  -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.2s;
  transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.2s;
  opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

.fader-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.fader-animation.ng-move {
  opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity:1;
}

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
  position: fixed !important;
  display: inline !important;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
  opacity: 1;
}

.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
  opacity: 0;
}
