<div>

    <div class="activity-type text-center">
        <span translate="UPDATE_DOTS"></span>
    </div>

    <div class="activity-title text-center">
        <span translate="STORE"></span>
        <span>{{ storesNames[activity.store] }}</span>
    </div>

    <div class="activity-data text-center">
        <span>{{ activity.points }}</span>
        <span translate="DOTS"></span>
    </div>

</div>
