body 
  font-family arial, serif
  font-size 16px
  line-height 1.5em
  background-color body-color
  text-rendering optimizeLegibility
  color text-color

.login
.user-login 
  margin-top 20px
  .form-group
    margin 10px 0 20px
  .panel-title 
    font-size 18px

.wrapper 
  margin-top 70px

h1 
.page-header 
  font-weight 300
  font-size 26px
  padding-bottom 15px
  margin 0 0 20px
  border-bottom 1px solid border-color

h2 
  font-weight 300
  font-size 20px
  margin 0 0 20px

.mini-stat 
  border: 2px solid border-color
  padding 20px
  border-radius 2px
  margin-bottom 20px

.navbar .logo
  margin-top -6px
  width 140px

.mini-stat-icon 
  width 60px
  height 60px
  display inline-block
  line-height 60px
  text-align center
  font-size 30px
  background primary-color
  -webkit-border-radius 100%
  -moz-border-radius 100%
  border-radius 100%
  color #fff
  float left
  margin-right 10px

.mini-stat-info 
  font-size 14px
  padding-top 10px

.mini-stat-info span 
  display block
  font-size 24px
  font-weight 600

.retailer-logo
  width 80px
  height 80px
  display inline-block
  background #eee
  border-radius 50%
  background-size 100%
  background-repeat no-repeat
  background-position center center

.navbar-default 
  border-bottom 1px solid #eee
  background-color #fbfbfb

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus,
.navbar .navbar-brand  
  color primary-color 
  font-weight 800 


.tab-pane 
  margin-top 20px

.text-success 
  color success-color

.text-primary
  color primary-color

.text-warning
  color warning-color

.text-danger
  color danger-color


/* 
* PACE 
*/

#loading-bar 
  .bar 
    background primary-color
  .peg 
    -moz-box-shadow primary-color 1px 0 10px 1px
    -ms-box-shadow primary-color 1px 0 10px 1px
    -webkit-box-shadow primary-color 10px 0 6px 1px
    box-shadow primary-color 1px 0 10px 1px

#loading-bar-spinner .spinner-icon 
  border-top-color  primary-color
  border-left-color primary-color


/*
 * Support
 */
 
.support

  .manager-description
    margin 30px 90px
    

/*
 * Login
 */
 
// .login

@media (min-width: 600px)
  .login
    width 300px
    margin 40px auto
