.header
  padding 15px

.user-info
  li
    span
      font-weight 700
      margin-left 10px
  .dropdown-menu
    left 0

.control-label
  font-size 14px

.panel-default
  border-color #ebeff6
  .panel-heading
    background-color #f7f9fb
    border-color #ebeff6
    color #595c62

.row-centered
  text-align center

.col-centered
  display inline-block
  float none
  text-align left
  margin-right -4px

.btn-label
  background rgba(0, 0, 0, 0.05)
  display inline-block
  padding 7px 15px
  border-radius 3px 0 0 3px
  margin -7px -13px
  margin-right 12px

.modal-content
  box-shadow 0 0 100px rgba(0, 0, 0, 0.5)

.dropbodown-menu
  li
    a
      &.active
        background #f5f5f5

.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move
  position relative

.fader-animation.ng-enter,
.fader-animation.ng-leave
  -webkit-transition cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s
  transition cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s
  opacity 1

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active
  opacity 0

.fader-animation
  &.ng-enter
    &.ng-enter-active
      opacity 1
  &.ng-move
    opacity 0.5
    &.ng-move-active
      opacity 1

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add
  position fixed !important
  display inline !important
  -webkit-transition 0.2s linear all
  transition 0.2s linear all

.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add
  opacity 1

.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove
  opacity 0

.places-widget
  .places-item
    cursor pointer
    border-bottom 1px solid #f1f1f1
    padding 20px 0
    margin 20px 0
    position relative
    .places-item-img
      float left
      width 65px
    .places-item-description
      margin-left 90px
    img
      width 40px
    .places-item-text
      color #a0a0a0
      margin 0
    .places-item-date
      color #a9a9a9
      font-size 12px

.map-container
  height 300px
  width 300px

.has-error
  position relative
  .span-error
    position absolute
    top 0
    right 0
  label
    color #f00
  input
    &:not([type="button"])
      border-color #f00
  input
    &:not([type="submit"])
      border-color #f00

.navbar
  &.header
    [qp-header-tooltip]
      position absolute
      display none
      background #c8c8c8
    &:hover
      [qp-header-tooltip]
        display block

.header-logo
  display inline-block
  padding 13px 0
  width 15%

.user-info {
  width 40%
}

.header-navigation
  width 45%
  li
    a
      padding 16px 10px

#touch-side-bar, #touch-side-bar2
  display none
  position: absolute
  left: 0
  top: 148px
  width: 30px
  height: 155px
  cursor: pointer
  &:after
    content: ''
    position: absolute
    width: 3px
    height: 15px
    background: green
    top: 50%
    margin-top: -7px
    transform rotate(45deg)
    left: 12px
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
  &:before
    content: ''
    position: absolute
    width: 3px
    height: 15px
    background: green
    bottom: 50%
    margin-bottom: 0
    left: 12px
    transform rotate(135deg)
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
  &.show-left-bar
    &:after
      transform rotate(135deg)
    &:before
      transform rotate(45deg)

#touch-side-bar2
  right: 0
  left: auto
  &:after
    transform rotate(135deg)
  &:before
    transform rotate(45deg)
  &.show-right-bar
    &:after
      transform rotate(45deg)
    &:before
      transform rotate(135deg)

.header
  padding 0

.point-container
  margin-top 3px

.user-info
  li
    span
      font-weight 700
      margin-left 10px
  .dropdown-menu
    left 0

.stores-container
  width: calc(100% - 50px)
  padding-top: 50px
  li
    list-style-type none
    width: calc(100% - 150px)
    margin-bottom: 10px
    &.active
      .store-name
        .store-arrow
          position: absolute
          width: 25px
          right: 30px
          height: 5px
          top: 20px
          background: #e7e7e7
          -webkit-transform: rotate(-135deg)
          -moz-transform: rotate(-135deg)
          -ms-transform: rotate(-135deg)
          -o-transform: rotate(-135deg)
          transform: rotate(-135deg)
          &:first-child
            right: 45px
            -webkit-transform: rotate(-45deg)
            -moz-transform: rotate(-45deg)
            -ms-transform: rotate(-45deg)
            -o-transform: rotate(-45deg)
            transform: rotate(-45deg)
    .reward-block
      border 1px solid #e7e7e7
    .store-name
      &.exchanged-rewards
        .reward-in-reward
          cursor pointer
          &:hover {
            background rgba(221, 221, 221, 0.7)
          }
      display: inline-block
      font-weight 700
      vertical-align: middle
      position: relative
      .store-arrow
        position: absolute
        width: 25px
        right: 30px
        height: 5px
        top: 20px
        background: #e7e7e7
        -webkit-transform: rotate(135deg)
        -moz-transform: rotate(135deg)
        -ms-transform: rotate(135deg)
        -o-transform: rotate(135deg)
        transform: rotate(135deg)
        -webkit-transition: .5
        s-moz-transition: .5s
        -ms-transition: .5s
        -o-transition: .5s
        transition: .5s
        &:first-child
          right: 45px
          -webkit-transform: rotate(45deg)
          -moz-transform: rotate(45deg)
          -ms-transform: rotate(45deg)
          -o-transform: rotate(45deg)
          transform: rotate(45deg)
      &.title-name
        width: 20%
        float: left
        padding: 10px
        overflow: hidden
        white-space nowrap
        -ms-text-overflow: ellipsis
        text-overflow: ellipsis
      &.title-arrows {
        cursor pointer
        padding: 10px
        width: 10%
        height 44px
        float: left
      }
      &.title-description {
        padding: 10px
        width: 70%
        float: left
        border-left 1px solid #e7e7e7
      }
      .reward-in-reward
        float left
        width 30%
        margin: 1.6%
        font-weight 400
        transition .5s
        display: inline-block
        border 1px solid #e7e7e7
        div
          display inline-block
          float left
          padding 5px
          width 100%
          white-space nowrap
          overflow: hidden
          -ms-text-overflow: ellipsis
          text-overflow: ellipsis
    ul
      width 100%
      padding 0
      margin 10px 0

.map-nearby
  width 100%
  height 350px
  margin-bottom 50px

.vouchers-container
  width 60%
  list-style-type none
  margin-bottom 5px
  padding 0
  border 1px solid #e7e7e7
  .voucher.voucher-header
    background #DDD
  .voucher
    display block
    float left
    width 100%
    cursor pointer
    transition .5s
    &:hover
      background rgba(221, 221, 221, .7)
    div
      display inline-block
      float left
      padding 5px
      border-right 1px solid #e7e7e7
    div.retailer-voucher
      width 23%
      margin-right 2%
    div.title
      width 35%
      margin-right 2%
    div.dots-voucher
      width 13%
      margin-right 2%
    div.status
      width 23%
      border-right 0

.profile-info
  width 325px
  div
    margin-top 5px
    span
      display block
    &.span-error
      position absolute
      right 0
      top -5px
    &.has-error
      position relative
    select
      &.date-select-day
        padding-right 5px
        width 60px
      &.date-select-month
        padding-right 5px
        width 130px
      &.date-select-year
        padding-right 5px
        width 85px
        margin-right 5px

.virtual-card
  padding 10px
  border 1px solid #398339
  border-radius 10px

.date-select-day
  padding 5px 10px

.modal-header
  padding 0
  border-bottom none

.modal-footer
  padding 0
  border-top none
  text-align center

.modal-content
  padding 20px
  text-align center
  input[type="button"]
    display inline-block
    margin-right 5px
    margin 0 auto
    padding 10px
    background #4CAF50
    border none
    color #fff

.voucher-title
  font-weight 700

.lng-block
  position absolute
  right 5px
  .change-lng
    &.active
      background #6c9f43
    padding 13px 9px
    float left
    background #ddd
    color #fff
    border 1px solid #dedede
    text-transform uppercase
    span
      display inline-block

.retailer
  display inline-block
  float left
  margin-top 20px
  width 70%
  .reward-block
    border 1px solid #e7e7e7
  .store-name
    &.exchanged-rewards
      .reward-in-reward
        cursor pointer
        &:hover {
          background rgba(221, 221, 221, 0.7)
        }
    display: inline-block
    font-weight 700
    vertical-align: middle
    position: relative
    .store-arrow
      position: absolute
      width: 25px
      right: 30px
      height: 5px
      top: 20px
      background: #e7e7e7
      -webkit-transform: rotate(135deg)
      -moz-transform: rotate(135deg)
      -ms-transform: rotate(135deg)
      -o-transform: rotate(135deg)
      transform: rotate(135deg)
      -webkit-transition: .5
      s-moz-transition: .5s
      -ms-transition: .5s
      -o-transition: .5s
      transition: .5s
      &:first-child
        right: 45px
        -webkit-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -o-transform: rotate(45deg)
        transform: rotate(45deg)
    &.title-name
      width: 20%
      float: left
      padding: 10px
      overflow: hidden
      white-space nowrap
      -ms-text-overflow: ellipsis
      text-overflow: ellipsis
    &.title-description {
      padding: 10px
      width: 80%
      float: left
      border-left 1px solid #e7e7e7
    }
    .reward-in-reward
      float left
      width 30%
      margin: 1.6%
      font-weight 400
      transition .5s
      display: inline-block
      border 1px solid #e7e7e7
      div
        display inline-block
        float left
        padding 5px
        width 100%
        white-space nowrap
        overflow: hidden
        -ms-text-overflow: ellipsis
        text-overflow: ellipsis
  ul
    width 100%
    padding 0
    margin 10px 0
    li
      list-style-type none

.map
  width calc(100% - 80px)

.store-title
  font-weight 700

.not-pointer
  cursor default !important

@media screen and (max-width: 1370px)
  .map-nearby
    height: 300px

@media screen and (max-width: 1100px)
  .header-navigation
    position fixed
    left 0
    top 50px
    width 165px
    background #f8f8f8
    li
      display block
      width 100%

  .wrapper
    width 100%
    padding-left 180px
    padding-right 215px
    margin 110px 0 0

  .stores-container
    width: 100%
    padding-left: 0
    li
      width 100%
      .store-name
        .reward-in-reward
          width: 46%

  .virtual-card
    display: none

  .retailer
    width 100%
    margin-top 20px

  .map-nearby
    width 100%

  .user-info
    padding-right 80px
    width 60%

@media screen and (max-width: 800px)
  .header-navigation
    left -200px
    top: 140px
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
    &.show-left-bar
      left: 40px

  .wrapper
    margin-top: 140px
    padding-left 40px
    padding-right: 40px

  #touch-side-bar, #touch-side-bar2
    display: block

  .user-info
    position: absolute
    width: 100%
    top: 52px
    left: 50%
    margin-left: -231px
    z-index: 9999
    background: #fff
    li
      float: left

  .vouchers-container
    width: 100%

  .user-info
    left: 0
    margin: 0
    padding-right: 0
    li
      width: 50%
      font-size: 12px

  .has-error
    label
      font-size: 12px

.nav-pills
  li
    float left

.confirm-email-container
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: white
  z-index: 200
  .message
    position: absolute
    width: 500px
    top: 110px
    left: calc(50% - 250px)
    h1
      padding: 5px
      text-align: center
    p
      padding: 5px
      text-align: center

.visited-btn
  float: right
  margin-right: 185px
  input[type="checkbox"]
    display none
  label
    display inline-block
    cursor pointer
    position relative
    font-size 14px
    padding 4px 5px 5px 45px
    border 1px solid #a1a1a1
    border-radius 5px
    font-weight 700
    color #949393
    margin-right 15px
    &:before
      content ""
      display inline-block
      width 33px
      height 100%
      color #78524c
      font-weight bold
      position absolute
      font-size 24px
      text-align center
      line-height 2.5
      left 0
      bottom 0
      border-right 1px solid #a1a1a1
  input[type="checkbox"]:checked
    & + label
      &:before
        content ""
        height 100%
        box-shadow none
        background url("../images/checked-button.png") left center no-repeat
        background-size 100%
        text-transform uppercase
        border-right 0

.visited-stores
  font-size 18px
  margin-bottom 10px
  .fa 
    font-size 20px

.form-control
  color #55595c
  border-radius 0

.btn 
.input-group-addon
  border-radius 0

.send-again
  position: absolute
  width: 127px
  top: 240px
  left: calc(50% - 63.5px)
