<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="lng-block clearfix">
        <button class="change-lng" ng-class="{'active': currentLang === 'en'}" href="javascript:void(0);"
                ng-click="changeLanguage('en')">
            <span class="en" translate="EN"></span>
        </button>
        <button class="change-lng" ng-class="{'active': currentLang === 'pt_br' }" href="javascript:void(0);"
                ng-click="changeLanguage('pt_br')">
            <span class="pt" translate="PT"></span>
        </button>
    </div>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0);" ui-sref="main">
                <img src="assets/images/logo-horizontal.png" class="logo">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0);" ui-sref="client">
                    <i class="fa fa-user"></i>
                    <span translate="CLIENT"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" ui-sref="retailer">
                    <i class="fa fa-building"></i>
                    <span translate="RETAILER"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" ui-sref="manager">
                    <i class="fa fa-user-secret"></i>
                    <span>Manager</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
