.email-theme
  width 60%
  h2
    font-weight 500
    font-size 28px
  div
    margin 10px 0
  .filter
    div
      margin-left 20px
  div.client-info
    div
      margin-left 20px
  div.templates
    width 100%
    margin-left: 20px
    font-weight 400
    transition .5s
    display: inline-block
    border 1px solid #e7e7e7
    div
      span
        font-weight bold
        position relative
        top 400px
      cursor pointer
      display inline-block
      text-align center
      height 100px
      float left
      padding 5px
      margin 10px
      width 30%
      white-space nowrap
      border 1px solid #e7e7e7
      overflow: hidden
      -ms-text-overflow: ellipsis
      text-overflow: ellipsis
      &.disable
        cursor not-allowed
  .clink-to-clientgroup
    position fixed
    top 10%
    right 20%
  div.active
    border 2px solid #0e90d2 !important



.templates
  .email-template
    background-size: 100% 100% !important
    height: 400px !important
    margin-bottom 40px !important
    overflow inherit !important
    &.birthday
      background:url('../images/birthday_email.png') no-repeat
    &.christmas
      background:url('../images/christmas_email.png') no-repeat
    &.voucher
      background:url('../images/reward_email.png') no-repeat

@media screen and (max-width: 1100px)
  .email-theme
    width: calc(100% - 35px)
    div
      &.templates
        div
          display: block
          float: none
          margin: 20px auto
          width: 260px

@media screen and (max-width: 400px)
  .email-theme
    div
      &.templates
        div
          width: 95%
