.header
  padding 15px

.user-info
  li
    span
      font-weight 700
      margin-left 10px
  .dropdown-menu
    left 0

.right-panel-edit
  overflow auto
  li
    list-style-type none
  .activity-type
    font-weight 700
    color #1f6377
  .activity-title
    font-weight 700
    color #398339
  .activity-data
    font-weight 700
    color #1f90cf

.form-group
  position relative
  .fa-asterisk
    color #f05050
    font-size 0.7rem
    vertical-align middle

.form-control
  height 40px
  border 1px solid #ebeff6
  box-shadow none
  border-radius 2px
  &.ng-touched
    &.ng-invalid
      border-color #f05050
  & + .ng-active
    & > .form-group-error
      position absolute
      top 5px
      right 0
    &.no-label
      & > .form-group-error
        top -18px

.form-control:hover,
.form-control:focus,
.form-control:focus + .input-group-addon,
.form-control:hover + .input-group-addon
  box-shadow none
  border 1px solid #528fcc
  box-shadow inset 0 0px 0 1px #528fcc

.form-control.ng-touched.ng-invalid:hover,
.form-control.ng-touched.ng-invalid:focus
  box-shadow inset 0 0px 0 1px #f05050

.form-group-error
  color #f05050
  font-size 0.8em
  margin 0

[class*="col-"].form-group
  .form-control
    & + .ng-active
      & > .form-group-error
        margin-right 15px

.btn-primary
  &.input-group-addon
    background #528fcc
    color #fff
    border 1px solid #528fcc

.control-label
  font-size 14px

.panel-default
  border-color #ebeff6
  .panel-heading
    background-color #f7f9fb
    border-color #ebeff6
    color #595c62

.row-centered
  text-align center

.col-centered
  display inline-block
  float none
  text-align left
  margin-right -4px

.btn
  border-radius 2px

.btn-label
  background rgba(0, 0, 0, 0.05)
  display inline-block
  padding 7px 15px
  border-radius 3px 0 0 3px
  margin -7px -13px
  margin-right 12px

.modal-content
  box-shadow 0 0 100px rgba(0, 0, 0, 0.5)

.dropbodown-menu
  li
    a
      &.active
        background #f5f5f5

input.active
  background-color: #008000

.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move
  position relative

.fader-animation.ng-enter,
.fader-animation.ng-leave
  -webkit-transition cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s
  transition cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.2s
  opacity 1

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active
  opacity 0

.fader-animation
  &.ng-enter
    &.ng-enter-active
      opacity 1
  &.ng-move
    opacity 0.5
    &.ng-move-active
      opacity 1

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add
  position fixed !important
  display inline !important
  -webkit-transition 0.2s linear all
  transition 0.2s linear all

.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add
  opacity 1

.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove
  opacity 0

.streamline
  position relative
  border-color rgba(120, 130, 140, 0.13)
  margin-left 10px
  .sl-icon
    &:before
      width 10px
      height 10px
      border-width 8px
      margin 0 !important
      top 0 !important

.streamline .sl-icon:before,
.streamline .sl-item:before,
.streamline:after
  content ''
  position absolute
  border-color inherit
  border-width 3px
  border-style solid
  border-radius 50%
  width 7px
  height 7px
  margin-left -4px
  top 6px
  left 0

.sl-icon
  position absolute
  left -8px
  z-index 1
  border inherit
  top 3px
  & > i
    width 17px
    height 18px
    display table-cell
    color #fff
    text-align center
    vertical-align middle
    font-size 12px

.sl-item
  position relative
  border-color rgba(120, 130, 140, 0.13)
  padding-bottom 1px
  &:after
    top 2px
    bottom auto

.sl-content
  margin-left 24px
  padding-bottom 16px

.sl-date
  font-size 0.85em

.m-b,
.m-y
  margin-bottom 1rem !important

.m-x-40,
.m-y-40
  margin-bottom 40px !important

.w-70
  width 70px
  height 70px

.b-l
  border-left 1px solid rgba(120, 130, 140, 0.13)

.b-b
  border-bottom 1px solid rgba(120, 130, 140, 0.13)
  padding-bottom 10px

.b-primary
  border-color #528fcc

.b-warning
  border-color #ffbd4a

.b-success
  border-color #81c868

.b-danger
  border-color #f05050

.pointer
  cursor pointer

.radius
  & > *
    border-radius 50%

.places-widget
  .places-item
    cursor pointer
    border-bottom 1px solid #f1f1f1
    padding 20px 0
    margin 20px 0
    position relative
    .places-item-img
      float left
      width 65px
    .places-item-description
      margin-left 90px
    img
      width 40px
    .places-item-text
      color #a0a0a0
      margin 0
    .places-item-date
      color #a9a9a9
      font-size 12px

.right-panel
  position fixed
  top 50px
  right 0
  height calc(100% - 50px)
  div
    height 100%
    div
      height 100%

.profile-retailer
  float left
  margin-bottom 300px
.edit-phone
  margin-left: 15px
  margin-bottom: 10px

.edit-store-btns
  text-align: right
  margin-right: 3px
  margin-bottom: 15px

.map-container
  width 100%
  margin-top: 10px
  height: 200px


.has-error
  position relative
  .span-error
    position absolute
    top -2px
    right 0
    font-size: 12px
  label
    float right
    color #f00
  input
    &:not([type="button"])
      border-color #f00
  textarea
    &:not([type="button"])
      border-color #f00

.navbar
  &.header
    [qp-header-tooltip]
      position absolute
      display none
      background #c8c8c8
    &:hover
      [qp-header-tooltip]
        display block

.header-logo
  display inline-block
  padding 13px 0
  width 15%

.user-info {
  width 40%
}

.header-navigation
  width 45%
  li
    a
      padding 16px 10px

#touch-side-bar, #touch-side-bar2
  display none
  position: absolute
  left: 0
  top: 148px
  width: 30px
  height: 155px
  cursor: pointer
  &:after
    content: ''
    position: absolute
    width: 3px
    height: 15px
    background: green
    top: 50%
    margin-top: -7px
    transform rotate(45deg)
    left: 12px
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
  &:before
    content: ''
    position: absolute
    width: 3px
    height: 15px
    background: green
    bottom: 50%
    margin-bottom: 0
    left: 12px
    transform rotate(135deg)
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
  &.show-left-bar
    &:after
      transform rotate(135deg)
    &:before
      transform rotate(45deg)

#touch-side-bar2
  right: 0
  left: auto
  &:after
    transform rotate(135deg)
  &:before
    transform rotate(45deg)
  &.show-right-bar
    &:after
      transform rotate(45deg)
    &:before
      transform rotate(135deg)

.header
  padding 0

.point-container
  margin-top 3px

.user-info
  li
    span
      font-weight 700
      margin-left 10px
  .dropdown-menu
    left 0

.right-panel-edit
  width 200px
  padding 20px
  border-left 1px solid #e7e7e7
  background-color #f8f8f8
  height 100%
  margin-bottom 10px
  li
    list-style-type none
    margin-bottom 4px
    border-bottom 1px solid #398339
    &:last-child
      border none
  .activity-title
    font-weight 700
    color #398339
  .activity-data
    font-weight 700
    color #1f90cf

.stores-container
  width 60%
  li
    list-style-type none
    &.active
    .store-name
      font-weight 700
      cursor pointer
    .reward-in-reward
      display block
      float left
      width 100%
      font-weight 400
      transition .5s
      &:hover {
        background rgba(221, 221, 221, 0.7)
      }
      &:first-child {
        background #ddd
      }
      div
        display inline-block
        float left
        padding 5px
        width 38%
        &:first-child
          width 60%
          margin-right 2%
          border-right 1px solid #e7e7e7
    ul
      width 100%
      padding 0
      border 1px solid #e7e7e7
      margin 10px 0

.map-nearby
  width 600px
  height 500px

.client-container
  width 60%
  list-style-type none
  margin-bottom 5px
  padding 0
  border 1px solid #e7e7e7
  .client.client-header
    background #DDD
    div
      &.client-checkbox
        input[type="checkbox"]
          margin-top: 5px
  .client
    display block
    float left
    width 100%
    cursor pointer
    transition .5s
    &:hover
      background rgba(221, 221, 221, .7)
    div
      display inline-block
      width 100%
      float left
      padding 5px
      border-right 1px solid #e7e7e7
    div.client-name
      width 60%
      margin-left 5%
    div.client-checkbox
      width 2%
      position absolute
      text-align: center
      input[type="checkbox"]
        margin-top: 10px
    div.client-points
      width 35%
      border-right 0

.reward-container
  width 60%
  list-style-type none
  margin-bottom 5px
  padding 0
  border 1px solid #e7e7e7
  .reward.reward-header
    background #DDD
  .reward
    display block
    float left
    width 100%
    cursor pointer
    transition .5s
    &:hover
      background rgba(221, 221, 221, .7)
    div
      display inline-block
      width 100%
      float left
      padding 5px
      border 0
    div.reward-name
      width 50%
      border-right 1px solid #e7e7e7
    div.reward-button
      padding 0
      width 3%
      position absolute
    div.reward-div-price
      margin-right 7.5%
      width 35%
      border-right -7
.store-title-edit
  display: inline-block
  position: relative
  width: 45.6%
  margin: 1% 2%
  margin-bottom: 10px
  &.description
    max-width: 100%
    min-width 96%
  &.address
    max-width: 100%
    min-width 96%
    .error-label
      font-size: 12px
      position: absolute
      right: 0
      top: 0
  input
    width: 100%
  span
    display: block

.manager-edit
  position: relative
.del-store
  position: absolute
  right: 10px
  top: 50%
.report-title
  font-weight: 700

.profitable-client
  max-height 476px
  overflow-y auto
  width 60.3%
  list-style-type none
  margin-bottom 5px
  padding 0
  border 1px solid #e7e7e7
  .client.client-header
    background #DDD
    position absolute
    width 662px
  .client:nth-child(2)
    margin-top 34px
  .client
    display block
    float left
    width 100%
    cursor pointer
    transition .5s
    &:hover
      background rgba(221, 221, 221, .7)
    div
      display inline-block
      width 100%
      float left
      padding 5px
      border-right 1px solid #e7e7e7
    div.client-name
      width 60%
    div.client-points
      width 40%
      border-right 0

.birthday-client
  max-height 476px
  overflow-y auto
  width 60.3%
  list-style-type none
  margin-bottom 5px
  padding 0
  border 1px solid #e7e7e7
  .client.client-header
    background #DDD
    position absolute
    width 662px
  .client:nth-child(2)
    margin-top 34px
  .client
    display block
    float left
    width 100%
    cursor pointer
    transition .5s
    &:hover
      background rgba(221, 221, 221, .7)
    div
      display inline-block
      width 100%
      float left
      padding 5px
      border-right 1px solid #e7e7e7
    div.client-name
      width 60%
    div.client-birthday
      width 40%
      border-right 0
.dropdown-menu
  padding: 5px
.support
  .btn-group
    width: 100%
  span
    display: block
  input[type="text"], textarea
    width: 100%
.rewards-edit
  span
    display: block
  input[type="text"]
    width: 100%
.rewards-in-vouchers
  max-height 476px
  overflow-y auto
  width 60.3%
  list-style-type none
  margin-bottom 5px
  padding 0
  border 1px solid #e7e7e7
  .reward-in-voucher.reward-in-voucher-header
    background #DDD
    position absolute
    width 662px
  .reward-in-voucher:nth-child(2)
    margin-top 45px
  .reward-in-voucher
    display block
    float left
    width 100%
    cursor pointer
    transition .5s
    &:hover
      background rgba(221, 221, 221, .7)
    div
      display inline-block
      width 100%
      float left
      padding 5px
      border-right 1px solid #e7e7e7
    div.voucher-code
      width 20%
    div.voucher-status
      width 20%
      border-right 0
    div.reward-title
      width 20%
      border-right 0
    div.reward-price
      width 20%
      border-right 0
    div.client-name
      width 20%
      border-right 0

.profile-info
  width 90%
  div
    margin-top 5px
    span
      display block
    &.span-error
      position absolute
      right 0
      top -5px
    &.has-error
      position relative
    select
      &.date-select-day
        padding-right 5px
        width 60px
      &.date-select-month
        padding-right 5px
        width 130px
      &.date-select-year
        padding-right 5px
        width 85px
        margin-right 5px

.recharge
  width 670px
  margin-top 7px
  div
    margin-top 5px
    span
      &.span-error
        position absolute
        right -7px
        top -5px
      &.has-error
        position relative

.support
  width 500px
  div
    margin-top 5px
    span
      &.span-error
        position absolute
        right -7px
        top -5px
      &.has-error
        position relative

.profile-info div input, .profile-info div select
  margin 0 auto
  font-size 18px
  margin-top 10px
  display inline-block
  width 100%
  padding 10px
  border 1px solid #ebeff6
  margin-bottom 15px
  border-radius 2px

.virtual-card
  width 300px
  height 100px
  display inline-block
  margin-left 50px
  padding 10px
  border 1px solid #398339
  border-radius 10px
  font-weight 700

.gender
  input[type="radio"]
    display none
  label
    display inline-block
    cursor pointer
    position relative
    font-size 14px
    padding 4px 5px 5px 45px
    border 1px solid #a1a1a1
    border-radius 5px
    font-weight 700
    color #949393
    margin-right 15px
    &:before
      content ""
      display inline-block
      width 33px
      height 100%
      color #78524c
      font-weight bold
      position absolute
      font-size 24px
      text-align center
      line-height 2.5
      left 0
      bottom 0
      border-right 1px solid #a1a1a1
  input[type="radio"]:checked
    & + label
      &:before
        content ""
        height 100%
        box-shadow none
        background url("../images/checked-button.png") left center no-repeat
        background-size 100%
        text-transform uppercase
        border-right 0

.date-select-day
  padding 5px 10px

.reset-password
  div
    div
      span
        display block
  input
    margin 0 auto
    font-size 18px
    margin-top 10px
    display inline-block
    position relative
    width 100%
    padding 10px
    border 1px solid #ebeff6
    margin-bottom 15px
    border-radius 2px
  .pass-icon
    position absolute
    right 15px
    top 20px

.not-has-pass
  .pass-icon
    position absolute
    right 15px
    top 20px

.password-show
  position relative

.modal-header
  padding 0
  border-bottom none

.modal-footer
  padding 0
  border-top none
  text-align center

.modal-content
  padding 10px
  margin 10px 0
  text-align center
  input[type="button"]
    display inline-block
    padding 10px
    background #4CAF50
    border none
    color #fff

.voucher-title
  font-weight 700

.lng-block
  position absolute
  right 5px
  .change-lng
    &.active
      background #6c9f43
    padding 13px 9px
    float left
    background #ddd
    color #fff
    border 1px solid #dedede
    text-transform uppercase
    span
      display inline-block
.text-bold
  font-weight: 700

.modal-content
  box-shadow none

.client-group-btns
  width: 60%
.search-field
  span
    display: block
.map
  display inline-block
  float: left
  width 53%
  margin-right 2%
.client-info
  padding-left: 0
.choose-rewards
  height 100px
  overflow-y auto
  li:hover
    background rgba(221, 221, 221, 0.7)

.store-title
  font-weight 700

.not-pointer
  cursor default !important

.filter-group .not-pointer
  font-weight: 700
.filter-group
 li
  a
    border 2px solid transparent
    &.active
      background-color: #f5f5f5
      border 2px solid #ddd
    &:hover
     border 2px solid #ddd
@media screen and (max-width: 1370px)
  .map-nearby
    width: 450px
    height: 300px

  .map
    width: 40%

@media (min-width: 992px)
  .container
    width: 1130px

@media screen and (max-width: 1100px)
  .header-navigation
    position fixed
    left 0
    top 50px
    width 165px
    background #f8f8f8
    li
      display block
      width 100%

  .wrapper
    width 100%
    padding-left 180px
    padding-right 215px
    margin 70px 0 0

  .stores-container
    width: 100%

  .virtual-card
    display: none

  .retailer
    width 100%
    margin-top 20px

  .map
    width 100%

  .map-nearby
    width 100%

  .user-info
    padding-right 80px
    width 60%

@media screen and (max-width: 800px)
  .header-navigation
    left -200px
    top: 140px
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
    &.show-left-bar
      left: 40px

  .wrapper
    margin-top: 140px
    padding-left 40px
    padding-right: 40px

  #touch-side-bar, #touch-side-bar2
    display: block

  .right-panel
    right: -300px
    top: 53px
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
    z-index: 9999
    &.show-right-bar
      right: 30px

  .user-info
    position: absolute
    width: 100%
    top: 52px
    left: 50%
    margin-left: -231px
    z-index: 9999
    background: #fff
    li
      float: left

  .client-container
    width: 100%

@media screen and (max-width: 480px)
  .user-info
    left: 0
    margin: 0
    padding-right: 0
    li
      width: 50%
      font-size: 12px

  .profile-info
    width: 100%
    div
      input, select
        font-size: 14px
      select
        &.date-select-day
          width: 25%
        &.date-select-month
          width: 35%
        &.date-select-year
          width: 26%

  .reset-password
    div
      div
        span
          font-size: 12px

  .has-error
    label
      font-size: 12px

input[type="button"]:disabled
  opacity 0.3
  cursor not-allowed

a.disabled
  cursor not-allowed
  i
    opacity 0.3

.dropdown-div
  border 1px solid #ebeff6

.reward-in-reward
  display block
  float left
  width 100%
  font-weight 400
  transition .5s
  &:hover {
    background rgba(221, 221, 221, 0.7)
  }
  &:first-child {
    background #ddd
  }
  div
    display inline-block
    float left
    padding 5px
    width 38%
    &:first-child
      width 60%
      margin-right 2%
      border-right 1px solid #e7e7e7

.new-element
  background rgba(150, 111, 222, 0.4)

.chart-container
  width 60%

h2
  font-weight: 300;
  font-size: 20px;
  margin 20px 0

.store-revenue
  margin-bottom 50px

.textarea-msg
  span
    float left
    padding 0 15px 5px 0

.search-field
  margin 10px 0

.dropdown-buttons
  margin-bottom 10px

.sort-order:after
  content '\25bc'

.sort-order.reverse:after
  content '\25b2'

.clear-manager-icon
  position relative
  a
    float right
    margin-top -50px
    margin-right 10px
