.places-widget 
  .places-item 
    cursor pointer
    border-bottom 1px solid #f1f1f1
    padding 20px 0
    margin 20px 0
    position relative

    .places-item-img 
      float left
      width 65px

    .places-item-description
      margin-left 90px

    img 
      width 40px

    .places-item-text 
      color #a0a0a0
      margin: 0

    .places-item-date
      color #a9a9a9
      font-size 12px
