.stores-container
  width 60%
  list-style-type none
  margin-bottom 5px
  padding 0
  border 1px solid #e7e7e7
  .store.store-header > div
    display inline-block
    width 100%
    float left
    padding 5px
    border 0
  .store.store-header
    background #DDD
    .title
      width 23%
    .status
      width 50%
    .action
      width 27%
  .store
    display block
    float left
    width 100%
    cursor pointer
    transition .5s
    &:hover
      background rgba(221, 221, 221, .7)
    .store-container > div
      display inline-block
      width 100%
      float left
      padding 5px
      border 0
    div.store-name
      width 23%
      border-right 1px solid #e7e7e7
    div.store-button
      padding 0
      width 3%
      position absolute
    div.store-description
      width 50%
      border-right -7
    div.store-link
      width 20%
      border-right -7

