/* 
 * UI - buttons, inputs, etc
 */

.ts-1 
  transition all 0.1s linear

.form-group 
  position relative
  
.form-control 
  @extend .ts-1
  height 40px
  border 1px solid border-color
  box-shadow none
  border-radius 2px
  &:hover
  &:focus
    box-shadow none
    border 1px solid primary-color
    box-shadow inset 0 0px 0 1px primary-color

.form-control:focus + .input-group-addon
.form-control:hover + .input-group-addon
  @extend .form-control:focus

.form-control.ng-touched.ng-invalid
  border-color danger-color
  &:hover
  &:focus
    box-shadow inset 0 0px 0 1px danger-color
  
.form-group-error
  color: danger-color;
  font-size: 0.8em;
  margin: 0;
  
[class*="col-"].form-group .form-control + .ng-active > .form-group-error
  margin-right 15px

.form-control + .ng-active > .form-group-error
  position: absolute;
  top: 5px;
  right: 0;
  
.form-control + .ng-active.no-label > .form-group-error
  top: -18px;

.form-group .fa-asterisk
  color danger-color
  font-size 0.7rem
  vertical-align middle

.btn-primary.input-group-addon 
  background primary-color
  color white
  border 1px solid primary-color
  
.control-label
  font-size 14px

.panel-default 
  border-color border-color
  .panel-heading 
    background-color light-color
    border-color border-color
    color text-color

    
.row-centered
  text-align center


.col-centered 
  display inline-block
  float none
  text-align left
  margin-right -4px

/*
 * Button
 */
.btn 
  @extend .ts-1
  border-radius 2px

.btn-label
  background rgba(0, 0, 0, 0.05)
  display inline-block
  padding 7px 15px
  border-radius 3px 0 0 3px
  margin -7px -13px
  margin-right 12px


/*
 * Modal
 */

.modal-content 
  box-shadow 0 0 100px rgba(0, 0, 0, .5)

.dropbodown-menu li a.active 
  background #f5f5f5
