.m-b
.m-y
  margin-bottom 1rem!important

.m-x-40
.m-y-40
  margin-bottom 40px!important

.w-70
  width 70px
  height @width

.b-l
  border-left 1px solid rgba(120, 130, 140, .13)

.b-b
  border-bottom 1px solid rgba(120, 130, 140, .13)
  padding-bottom 10px

.b-primary 
  border-color primary-color

.b-warning 
  border-color warning-color

.b-success 
  border-color success-color


.b-danger
  border-color danger-color

.pointer 
  cursor pointer

.radius > * 
  border-radius 50%

